openapi: 3.0.3
info:
  title: Polar Flow Web API (unofficial)
  description: 'Unofficial reverse-engineered API for flow.polar.com.

    Built by observing browser network traffic — NOT based on the official AccessLink API.

    Use a test account only. No warranty.

    '
  version: 0.0.1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: Reverse-engineering project
servers:
- url: https://flow.polar.com
  description: Production (use test account only)
security:
- sessionCookie: []
tags:
- name: training-targets
  description: Training target (workout plan) management
- name: training-sessions
  description: Completed training sessions (manual entry + history)
- name: calendar
  description: Calendar event queries
- name: account
  description: Current user profile, settings, and physical info
- name: favorites
  description: Favorite training-target templates and route favorites
- name: activity
  description: Activity / steps / inactivity rollups
- name: sleep
  description: Sleep nights (lives on sleep-api.flow.polar.com subdomain)
- name: progress
  description: Aggregated progress / report totals (weekly, monthly, yearly)
- name: sport-profiles
  description: Per-sport device configuration ("Profils sportifs") incl. HR/speed/power training zones
paths:
  /api/trainingtarget:
    post:
      summary: Create a training target
      description: "Create a planned workout (training target). The `type` field selects the\nshape:\n\n- **VOLUME** — one\
        \ metric only: set exactly one of `duration` / `distance` /\n  `calories` on the single exerciseTarget; leave `phases`\
        \ empty (`[]`).\n- **STEADY_RACE_PACE** — a time-trial: set both `duration` and `distance`\n  (pace is implicit);\
        \ `phases` empty.\n- **PHASED** — a structured workout: populate `exerciseTargets[].phases`.\n\n### Modelling phases\
        \ (PHASED)\n\nA phase is either a **PhaseLeaf** (`phaseType: \"PHASE\"`) or a **PhaseRepeat**\n(`phaseType: \"REPEAT\"\
        `) that loops nested leaves. Guidance below is verified\nagainst the live API (probe captures in `captures/post-bodies/probe-*.json`):\n\
        \n- **Steady / continuous block** → use a single bare PhaseLeaf directly in\n  `phases` (see the `steadyBlock` example).\
        \ Do **not** wrap it in a REPEAT.\n- **Intervals** → use a REPEAT with `repeatCount` ≥ 2 (see `phasedRepeat`).\n-\
        \ **`repeatCount`**: the **server accepts 1** but silently unwraps a\n  single-rep REPEAT into a plain PHASE on read-back,\
        \ so it is pointless — the\n  Flow UI enforces a minimum of 2. Prefer a bare PhaseLeaf for one block.\n- **Recovery\
        \ is optional**: a REPEAT may hold just one work phase with no\n  trailing rest leaf (verified — the server rolls\
        \ the nested duration into\n  the exerciseTarget's top-level `duration`). To add recovery between reps,\n  append\
        \ a second leaf (typically `intensityType: \"NONE\"`).\n- **`duration`** uses strict `\"HH:MM:SS\"`; `\"00:00:00\"\
        ` is accepted but\n  meaningless. Set on a leaf iff `goalType: \"DURATION\"`; set `distance`\n  (metres) iff `goalType:\
        \ \"DISTANCE\"`.\n- **Multi-sport**: pass multiple `exerciseTargets` entries (see `multisport`);\n  the server assigns\
        \ each a sequential read-only `index`.\n\nWrites require the `X-Requested-With: XMLHttpRequest` header (CSRF defense).\n"
      operationId: createTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingTargetCreate'
            examples:
              volumeDuration:
                summary: VOLUME — duration target (Durée)
                value:
                  type: VOLUME
                  name: 60 min easy run
                  description: ''
                  datetime: 2026-05-29T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    phases: []
                    duration: 01:00:00
                    id: null
              volumeDistance:
                summary: VOLUME — distance target (Distance), distance in METRES
                value:
                  type: VOLUME
                  name: 5km easy
                  description: ''
                  datetime: 2026-05-30T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: 5000
                    calories: null
                    phases: []
                    duration: null
                    id: null
              volumeCalories:
                summary: VOLUME — calorie target (Calories)
                value:
                  type: VOLUME
                  name: 500 kcal burn
                  description: ''
                  datetime: 2026-05-31T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: 500
                    phases: []
                    duration: null
                    id: null
              steadyRacePace:
                summary: STEADY_RACE_PACE — time-trial (Fonction contre la montre)
                value:
                  type: STEADY_RACE_PACE
                  name: 5km in 30:00
                  description: ''
                  datetime: 2026-07-01T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: 5000
                    calories: null
                    phases: []
                    duration: 00:30:00
                    id: null
              phasedHrZones:
                summary: PHASED — 2 phases, heart-rate-zone intensity (Par phases)
                value:
                  type: PHASED
                  name: interval session
                  description: ''
                  datetime: 2026-06-02T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: main
                      phaseChangeType: AUTOMATIC
                      goalType: DISTANCE
                      distance: 5000
                      duration: null
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 3
                    - phaseType: PHASE
                      name: cooldown
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:10:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 3
              phasedNoIntensity:
                summary: PHASED — single phase, "Utiliser les zones" unchecked → intensityType NONE
                value:
                  type: PHASED
                  name: open phase
                  description: ''
                  datetime: 2026-06-04T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: open
                      phaseChangeType: AUTOMATIC
                      goalType: DISTANCE
                      distance: 5000
                      duration: null
                      intensityType: NONE
                      lowerZone: null
                      upperZone: null
              steadyBlock:
                summary: PHASED — single continuous Z2 block (steady). One bare PhaseLeaf, no REPEAT wrapper. Verified via
                  probe-C-steady-hrz.json (201).
                value:
                  type: PHASED
                  name: 45 min Z2
                  description: ''
                  datetime: 2026-06-10T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: Z2 steady
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:45:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 2
                      upperZone: 2
              phasedRepeat:
                summary: 'PHASED — interval block: REPEAT (4×) work + recovery. repeatCount ≥ 2.'
                value:
                  type: PHASED
                  name: 4x3min intervals
                  description: ''
                  datetime: 2026-06-23T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: REPEAT
                      repeatCount: 4
                      phases:
                      - phaseType: PHASE
                        name: work
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        distance: null
                        duration: 00:03:00
                        intensityType: HEART_RATE_ZONES
                        lowerZone: 4
                        upperZone: 5
                      - phaseType: PHASE
                        name: recovery
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        distance: null
                        duration: 00:02:00
                        intensityType: NONE
                        lowerZone: null
                        upperZone: null
              phasedManual:
                summary: PHASED — phaseChangeType MANUAL (advance on user button press). From capture 10-phased-manual.json.
                value:
                  type: PHASED
                  name: manual-advance phase
                  description: ''
                  datetime: 2026-06-05T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: warmup
                      phaseChangeType: MANUAL
                      goalType: DURATION
                      distance: null
                      duration: 00:10:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 2
              phasedPower:
                summary: PHASED — POWER_ZONES on a power-capable sport (cycling, sportId 2). From capture 11-phased-power.json.
                value:
                  type: PHASED
                  name: power intervals
                  description: ''
                  datetime: 2026-06-06T09:00
                  exerciseTargets:
                  - sportId: 2
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: threshold
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:20:00
                      intensityType: POWER_ZONES
                      lowerZone: 3
                      upperZone: 4
              multisport:
                summary: Multi-sport — two exerciseTargets (run then bike). Server assigns a sequential `index` per entry.
                  From capture 13-multisport.json.
                value:
                  type: PHASED
                  name: brick session
                  description: ''
                  datetime: 2026-06-07T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: run
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:30:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 2
                      upperZone: 3
                  - sportId: 2
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: bike
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:45:00
                      intensityType: POWER_ZONES
                      lowerZone: 2
                      upperZone: 3
      responses:
        '201':
          description: 'Created successfully. Response body is the new training-target id

            as a bare string (e.g. `1453858954`) — not JSON, not empty.

            Same shape as `POST /api/favoritetarget`.

            '
          content:
            text/plain:
              schema:
                type: string
                pattern: ^[0-9]+$
              example: '1453858954'
        '400':
          description: "Validation error. Two content types (probed 2026-09-29):\n\n- `application/json` — field validation,\
            \ `{\"<field>\": [\"<localized\n  message>\"]}`. Over-length fields (`trainingSessionTarget.name` > 45,\n  `trainingSessionTarget.description`\
            \ > 500, `phases.[i].name` > 45)\n  and the name content filter all answer the **same** generic\n  \"Un problème\
            \ inattendu est survenu…\" message, so the field key is\n  the only clue. ⚠ A `phases.[i].name` rejection still\
            \ **persists a\n  half-created target** (name/datetime only, no `exerciseTargets`):\n  invisible in `getCalendarEvents`,\
            \ readable via\n  `GET /api/trainingtarget/{id}`, deletable, and it **holds its time\n  slot**. Validate phase\
            \ names client-side.\n- `text/plain` — a JSON body served as text: another target already\n  sits at the same\
            \ `datetime` minute,\n  `{\"time\": [\"error.trainingTarget.twoTargetsForSameTime\"]}`.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                nameContentFilter:
                  summary: '`name` over 45 characters, or tripped the content filter (see `TrainingTargetCreate.name`).'
                  value:
                    trainingSessionTarget.name:
                    - Un problème inattendu est survenu. Réessayez.
                phaseName:
                  summary: A phase name over 45 characters (leaves a ghost target — see above).
                  value:
                    phases.[0].name:
                    - Un problème inattendu est survenu. Réessayez.
            text/plain:
              schema:
                type: string
              example: '{"time": ["error.trainingTarget.twoTargetsForSameTime"]}'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/trainingtarget/{id}:
    parameters:
    - $ref: '#/components/parameters/TrainingTargetId'
    get:
      summary: Read a training target
      description: "Returns the server-normalized training-target object. Discovered during\nupdate-endpoint probing 2026-05-26\
        \ — same URL as `updateTrainingTarget`.\n\n**The read-back shape is NOT identical to the create payload.** The server\n\
        normalizes the stored shape, and a client that feeds this body back into\n`updateTrainingTarget` must account for\
        \ these read/send asymmetries\n(all verified 2026-06-08, probe-E-roundtrip-update.json):\n\n- `exerciseTargets[].duration`\
        \ / `.distance` are **rolled up** from the\n  phases on PHASED targets (e.g. a 4×3-min loop → `duration: \"00:12:00\"\
        `),\n  so they are non-null on read even though create sends them null.\n- `exerciseTargets[].index` is server-assigned\
        \ (0, 1, …) and read-only.\n- Each PHASE leaf reads back with `goalType` as the **authoritative** goal\n  discriminator.\
        \ A `goalType: DISTANCE` leaf reads back with BOTH its real\n  `distance` AND a phantom `duration: \"00:00:00\"`;\
        \ a `goalType: DURATION`\n  leaf omits `distance`. Do not infer the goal from field presence.\n- `intensityType: NONE`\
        \ phases read back `lowerZone`/`upperZone` as `0`\n  (zero-sentinel), not the `null` that create sends.\n\nNone of\
        \ these break a round-trip — the server tolerates all of them on\nupdate (see `updateTrainingTarget`). They only break\
        \ a *client* that\nre-derives goal/volume from field presence instead of the explicit\n`goalType` / `type` fields.\n"
      operationId: getTrainingTarget
      tags:
      - training-targets
      responses:
        '200':
          description: The training target as JSON. Shape mirrors the create payload plus server-assigned ids and rolled-up
            totals.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TrainingTargetCreate'
                - type: object
                  description: Extra read-only fields the server adds on read-back.
                  properties:
                    sourceProgramType:
                      type: string
                      description: Origin program of the target (e.g. `UNKNOWN`).
                      example: UNKNOWN
                    isUserEditable:
                      type: boolean
                      description: True when the signed-in user may edit/delete this target.
              examples:
                steadyBlock:
                  summary: Single-phase steady block read-back (from probe-C-steady-hrz.json)
                  value:
                    datetime: 2026-06-10T09:00
                    sourceProgramType: UNKNOWN
                    isUserEditable: true
                    name: probe-c-steady
                    exerciseTargets:
                    - id: 1530890858
                      duration: 00:45:00
                      distance: null
                      calories: null
                      index: 0
                      sportId: 1
                      phases:
                      - id: 2912772577
                        lowerZone: 2
                        upperZone: 2
                        intensityType: HEART_RATE_ZONES
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        duration: 00:45:00
                        name: Z2 steady
                        phaseType: PHASE
                    description: ''
                    type: PHASED
                intervalRolledUp:
                  summary: REPEAT block read-back — top-level duration is rolled up (4 × 00:03:00 → 00:12:00). From probe-D-no-recovery.json.
                  value:
                    datetime: 2026-06-10T12:00
                    sourceProgramType: UNKNOWN
                    isUserEditable: true
                    name: probe-d-norecovery
                    exerciseTargets:
                    - id: 1530890861
                      duration: 00:12:00
                      distance: null
                      calories: null
                      index: 0
                      sportId: 1
                      phases:
                      - repeatCount: 4
                        phaseType: REPEAT
                        phases:
                        - id: 2912772580
                          lowerZone: 4
                          upperZone: 5
                          intensityType: HEART_RATE_ZONES
                          phaseChangeType: AUTOMATIC
                          goalType: DURATION
                          duration: 00:03:00
                          name: work
                          phaseType: PHASE
                    description: ''
                    type: PHASED
                namedPhases:
                  summary: 'Custom per-phase names (the "rename phase" feature). Each phase carries a free-text `name` shown
                    in the workout breakdown; names are independent of `intensityType` (here `NONE`, no training zones). Structure:
                    a warm-up leaf, a 7× work/recovery REPEAT group, then a cool-down leaf — the top-level `duration` (00:12:30)
                    is rolled up from all phases.'
                  value:
                    datetime: 2026-06-01T08:00
                    sourceProgramType: UNKNOWN
                    isUserEditable: true
                    name: Mobility routine
                    exerciseTargets:
                    - id: 1531113664
                      duration: 00:12:30
                      distance: null
                      calories: null
                      index: 0
                      sportId: 57
                      phases:
                      - id: 2913183561
                        lowerZone: 0
                        upperZone: 0
                        intensityType: NONE
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        duration: 00:01:00
                        name: Warm-up
                        phaseType: PHASE
                      - repeatCount: 7
                        phaseType: REPEAT
                        phases:
                        - id: 2913183562
                          lowerZone: 0
                          upperZone: 0
                          intensityType: NONE
                          phaseChangeType: AUTOMATIC
                          goalType: DURATION
                          duration: 00:01:15
                          name: Work
                          phaseType: PHASE
                        - id: 2913183563
                          lowerZone: 0
                          upperZone: 0
                          intensityType: NONE
                          phaseChangeType: AUTOMATIC
                          goalType: DURATION
                          duration: 00:00:15
                          name: Recovery
                          phaseType: PHASE
                      - id: 2913183564
                        lowerZone: 0
                        upperZone: 0
                        intensityType: NONE
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        duration: 00:01:00
                        name: Cool-down
                        phaseType: PHASE
                    description: ''
                    type: PHASED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The target belongs to another user. text/plain body `error.invalid.target` (probed 2026-09-29).
          content:
            text/plain:
              schema:
                type: string
              example: error.invalid.target
        '404':
          description: No training target with that id (including a deleted one). text/plain body `trainingTarget.targetNotFound`.
          content:
            text/plain:
              schema:
                type: string
              example: trainingTarget.targetNotFound
    post:
      summary: Update a training target (full replace)
      description: "Replaces the training target with the supplied body. **POST**, not PUT\nor PATCH — sending PUT returns\
        \ 404. The body shape is identical to\n`POST /api/trainingtarget` (create), with two requirements for\nsuccessful\
        \ field updates:\n\n1. Include the **existing `exerciseTargets[].id`** from\n   `GET /api/trainingtarget/{id}`. Sending\
        \ `id: null` is accepted\n   (returns 200) but **silently no-ops the exerciseTarget update** —\n   only top-level\
        \ fields (`name`, `description`, `datetime`) land.\n2. Same field semantics as create (distance in metres, datetime\
        \ without\n   timezone, phaseType `PHASE`/`REPEAT`, etc.).\n\nReturns **200 with an empty body** on success — note\
        \ this differs from\n`POST /api/trainingtarget` (create), which returns the new id as a\nbare string.\n\n**The GET\
        \ read-back round-trips safely.** You can take the\n`GET /api/trainingtarget/{id}` body, change what you want, and\
        \ POST it\nstraight back — the server tolerates every field the read adds that create\nomits: the rolled-up `exerciseTargets[].duration`/`.distance`,\
        \ the\nread-only `index`, the phantom `duration: \"00:00:00\"` on DISTANCE phases,\nthe `0` zone-sentinels on NONE\
        \ phases, and the server-assigned phase `id`s\n(all verified 2026-06-08). The **only** hard requirement is keeping\
        \ each\n`exerciseTargets[].id` (sending `id: null` no-ops that entry — see below).\nA client should NOT add pre-flight\
        \ validation that rejects these fields;\ndoing so produces a \"valid request refused before it is sent\" bug while\
        \ the\nAPI would have accepted it.\n\n**No date validation on update.** A `datetime` in the past or future is\naccepted\
        \ (200) — unlike `POST /api/training/create` (a *different*\nendpoint) which 400s on future dates. Do not guard update\
        \ calls on the\nclock.\n\nRe-read via `GET /api/trainingtarget/{id}` to confirm the change\nlanded (especially when\
        \ modifying exerciseTargets).\n"
      operationId: updateTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingTargetCreate'
            example:
              type: VOLUME
              name: Renamed run
              description: updated description
              datetime: 2026-08-16T10:30
              exerciseTargets:
              - sportId: 2
                distance: 8000
                duration: null
                calories: null
                phases: []
                id: 1530729599
      responses:
        '200':
          description: Updated successfully. Empty body.
        '400':
          description: 'Validation error, same two content types as create (probed 2026-09-29): `application/json` field errors
            (name > 45, description > 500, name content filter, and a phase name > 45 — reported as `phase.name` here, `phases.[i].name`
            on create; on update nothing is written), and `text/plain` `{"time": ["error.trainingTarget.twoTargetsForSameTime"]}`
            when the new `datetime` collides with another target.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
            text/plain:
              schema:
                type: string
              example: '{"time": ["error.trainingTarget.twoTargetsForSameTime"]}'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/target/{id}:
    delete:
      summary: Delete a training target
      description: 'Delete a planned training target by id.


        ⚠ Note the **inconsistent path prefix**: this endpoint lives under

        `/training/target/{id}`, NOT `/api/trainingtarget/{id}` (which is used for

        create/read/update). There is **no trailing slash** (unlike session delete,

        `DELETE /api/training/deleteTrainingSession/{id}/`, which requires one).


        Returns 200 with an empty body. **Not idempotent** (re-probed

        2026-09-29; the earlier "already-gone id → 200" note was wrong): an

        unknown or already-deleted id answers `400 text/plain` `deleteError`, and

        another user''s target `400 text/plain` `Ce n''est pas votre objectif.`

        (localized). Pre-check with `GET /api/trainingtarget/{id}` (404 missing /

        403 foreign) to tell the cases apart.


        **Requires `X-Requested-With: XMLHttpRequest`** even though the path sits

        outside `/api/*`: Play''s CSRF filter guards every mutation, not just

        `/api/*` writes. Without it: `403` with an HTML body (observed by the

        polar-flow-mcp client, which sends the header on every non-GET request).

        '
      operationId: deleteTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/TrainingTargetId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted successfully. Response body is empty.
        '400':
          description: 'Not deleted. Plain-text body: `deleteError` for an unknown or

            already-deleted id; a localized "not your target" sentence

            (`Ce n''est pas votre objectif.`) for another user''s target.

            '
          content:
            text/plain:
              schema:
                type: string
              examples:
                unknown:
                  value: deleteError
                foreign:
                  value: Ce n'est pas votre objectif.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'CSRF rejection — `X-Requested-With` header missing. HTML body;

            easy to mistake for an auth failure.

            '
  /training/getCalendarEvents:
    get:
      summary: List calendar events (includes training targets)
      description: 'Returns all diary events (training sessions, targets, etc.) for a date range.

        The response is polymorphic by `type`: training targets appear with `type: "TRAININGTARGET"`; fitness-test results
        appear with `type: "FITNESSDATA"` (different field set — carries calendar-styling colours and `index`/`timestamp`,
        and uses camelCase `listItemId` instead of `ListItemId`). See `CalendarEvent` for the per-type field notes.

        Date format: D.M.YYYY (no leading zeros).

        '
      operationId: getCalendarEvents
      tags:
      - calendar
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
        description: Start date in D.M.YYYY format (e.g. 27.4.2026)
        example: 27.4.2026
      - name: end
        in: query
        required: true
        schema:
          type: string
        description: End date in D.M.YYYY format (e.g. 7.6.2026)
        example: 7.6.2026
      responses:
        '200':
          description: List of calendar events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/sports:
    get:
      summary: List all sports with their numeric IDs
      description: 'Returns a flat object mapping numeric sport ID (as string key) to the

        internal sport name constant. Use these IDs as `sportId` in training

        target requests. This endpoint requires no auth — observed to load

        without a session cookie during form initialisation.

        '
      operationId: getSports
      tags:
      - training-targets
      security: []
      responses:
        '200':
          description: Map of sport ID → sport name constant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsMap'
              example:
                '1': RUNNING
                '2': CYCLING
                '3': WALKING
                '38': ROAD_BIKING
        '404':
          description: Not found
        '500':
          description: Server error
  /api/sports/profiles:
    get:
      summary: List the user's sport profiles
      description: 'Returns the signed-in user''s **sport profiles** ("Profils sportifs") —

        the per-sport device configuration, including the heart-rate / speed /

        power **training zones**. Captured populated 2026-09-29.


        ⚠ **Elements are slim**: `profile` carries only `sportId`,

        `productSettings` and `subProfileUuids` — no `settings`, so **no zones**.

        Read each profile with `GET /api/sports/profiles/{id}` for its

        `settings.zoneLimits`, or compute a sport''s default zones without a

        profile via `POST /api/sports/profiles/{id}/recalculate`.


        `[]` until the account''s first profile is created (via

        `POST /api/sports/profiles/create/{sportId}` or the legacy

        `POST /settings/sports/add`, which writes to this same store).


        A `sportId` query parameter is accepted but **ignored** (the full list is

        returned for any value).

        '
      operationId: listSportProfiles
      tags:
      - sport-profiles
      responses:
        '200':
          description: Array of the user's sport profiles (slim — no settings/zones).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SportProfile'
              examples:
                populated:
                  summary: One running profile
                  value:
                  - uuid: 0f000000-0080-0000-0000-000000000001
                    userId: '11111111'
                    created: '2026-09-29T09:09:24Z'
                    modified: '2026-09-29T09:09:24Z'
                    profile:
                      sportId: 1
                      productSettings: []
                      subProfileUuids: []
                    legacyProfiles: {}
                empty:
                  summary: No profile created yet
                  value: []
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/profiles/{id}:
    parameters:
    - $ref: '#/components/parameters/SportProfileUuid'
    get:
      summary: Read a single sport profile (incl. training zones)
      description: 'Returns one sport profile with its full `settings`, including

        `settings.zoneLimits` — the 5 heart-rate (bpm), speed (km/h) and power

        (W) zones a Polar device uses for this sport, plus the thresholds

        (`maximumAerobicSpeed` / `maximumAerobicPower` /

        `functionalThresholdPower`) default zones derive from. Captured 2026-09-29.


        ⚠ `userId` reads back as `"0"` on this endpoint (the list and create

        responses carry the real id).

        '
      operationId: getSportProfile
      tags:
      - sport-profiles
      responses:
        '200':
          description: The sport profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfile'
              example:
                uuid: 0f000000-0080-0000-0000-000000000002
                userId: '0'
                created: '2026-09-29T09:14:10Z'
                modified: '2026-09-29T09:14:09Z'
                profile:
                  sportId: 2
                  settings:
                    sensorBroadcastingHr: false
                    hrZoneLockAvailable: true
                    speedZoneLockAvailable: false
                    powerZoneLockAvailable: false
                    volume:
                      volume: 60
                    speedView: SPEED_VIEW_SPEED
                    zoneLimits:
                      heartRateZones:
                      - lowerLimit: 95
                        higherLimit: 114
                      - lowerLimit: 114
                        higherLimit: 133
                      - lowerLimit: 133
                        higherLimit: 152
                      - lowerLimit: 152
                        higherLimit: 171
                      - lowerLimit: 171
                        higherLimit: 190
                      speedZones:
                      - lowerLimit: 10
                        higherLimit: 20
                      - lowerLimit: 20
                        higherLimit: 30
                      - lowerLimit: 30
                        higherLimit: 40
                      - lowerLimit: 40
                        higherLimit: 50
                      - lowerLimit: 50
                        higherLimit: 399
                      powerZones:
                      - lowerLimit: 138
                        higherLimit: 188
                      - lowerLimit: 188
                        higherLimit: 225
                      - lowerLimit: 225
                        higherLimit: 263
                      - lowerLimit: 263
                        higherLimit: 300
                      - lowerLimit: 300
                        higherLimit: 2000
                      heartRateSettingSource: HEART_RATE_ZONE_SETTING_SOURCE_DEFAULT
                      powerSettingSource: POWER_ZONE_SETTING_SOURCE_DEFAULT
                      speedSettingSource: SPEED_ZONE_SETTING_SOURCE_DEFAULT
                      powerZoneCalculationMethod: POWER_ZONE_CALCULATION_METHOD_FTP_BASED
                      speedZoneCalculationMethod: SPEED_ZONE_CALCULATION_METHOD_SPORT_SPECIFIC_PREDEFINED
                    trainingReminder:
                      type: TRAINING_REMINDER_TYPE_OFF
                      text: ''
                    powerView: POWER_VIEW_WATT
                    strideSpeedSource: STRIDE_SPEED_SOURCE_STRIDE
                    swimmingUnits: SWIMMING_UNITS_METERS
                    remoteButtonActions: []
                  sportFactor: 0.9
                  productSettings: []
                  subProfileUuids: []
                  functionalThresholdPower:
                    power: 250
                    source: FTP_SOURCE_ESTIMATED
                legacyProfiles: {}
        '400':
          description: 'Malformed uuid. Plain text, e.g.

            `Invalid request: Invalid request: request.uuid: must be valid: Invalid UUID string: not-a-uuid`.

            '
          content:
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No profile with this uuid. Plain text `Profile not found`.
          content:
            text/plain:
              schema:
                type: string
              example: Profile not found
    delete:
      summary: Delete a sport profile
      description: 'Deletes a sport profile. **200, empty body** (captured 2026-09-29).


        ⚠ **Idempotent on unknown ids**: deleting a well-formed uuid that no

        longer exists also answers 200. ⚠ **The last profile cannot be

        deleted** — 400 plain text `Invalid delete sport profile request, status

        INVALID_REQUEST, message ''Deleting the last active profile is not

        allowed. …''`.


        Requires `X-Requested-With: XMLHttpRequest`.

        '
      operationId: deleteSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted (or already absent). Empty body.
        '400':
          description: Malformed uuid, or this is the account's last profile. Plain text.
          content:
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/profiles/{id}/recalculate:
    parameters:
    - $ref: '#/components/parameters/SportProfileUuid'
    post:
      summary: Compute a sport's zones and thresholds (no write)
      description: "**Pure computation — nothing is persisted** (the stored profile's\n`modified` is unchanged afterwards).\
        \ The web UI calls it while the user\nedits zones/thresholds to preview the derived limits. Captured 2026-09-29.\n\
        \nReturns the posted envelope with `profile.settings.zoneLimits` filled in\nfor every zone type whose `*SettingSource`\
        \ is `…_DEFAULT` (types with no\nsource set come back `[]`), plus the thresholds the defaults derive from\n(`maximumAerobicSpeed`,\
        \ `maximumAerobicPower`,\n`functionalThresholdPower` — only those relevant to the sport).\n\n**Works without a stored\
        \ profile**: the `{id}` need not exist, only be a\nwell-formed profile uuid (domain `0f000000`, non-zero last group\
        \ — the\nserver rejects `…-000000000000` with `UUID has invalid sport ID: 0`).\nThis is the way to read a sport's\
        \ **default zones** on an account that\nhas no profile for that sport. Minimal body that yields all three zone\ntypes:\n\
        \n```json\n{\"userId\": 11111111, \"uuid\": \"0f000000-0080-0000-0000-000000000002\",\n \"profile\": {\"sportId\"\
        : 2, \"settings\": {\"zoneLimits\": {\n   \"heartRateSettingSource\": \"HEART_RATE_ZONE_SETTING_SOURCE_DEFAULT\",\n\
        \   \"speedSettingSource\": \"SPEED_ZONE_SETTING_SOURCE_DEFAULT\",\n   \"powerSettingSource\": \"POWER_ZONE_SETTING_SOURCE_DEFAULT\"\
        }}}}\n```\n\n`userId` must be the session user's (see `SportProfileWriteRequest`), so\nthis cannot read another account's\
        \ thresholds. Requires\n`X-Requested-With: XMLHttpRequest`.\n"
      operationId: recalculateSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SportProfileWriteRequest'
      responses:
        '200':
          description: The envelope with computed zones/thresholds (no `created`/`modified`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfile'
              example:
                uuid: 0f000000-0080-0000-0000-000000000001
                userId: '11111111'
                profile:
                  sportId: 1
                  settings:
                    zoneLimits:
                      heartRateZones:
                      - lowerLimit: 95
                        higherLimit: 114
                      - lowerLimit: 114
                        higherLimit: 133
                      - lowerLimit: 133
                        higherLimit: 152
                      - lowerLimit: 152
                        higherLimit: 171
                      - lowerLimit: 171
                        higherLimit: 190
                      speedZones:
                      - lowerLimit: 9.451075
                        higherLimit: 12.02864
                      - lowerLimit: 12.02864
                        higherLimit: 14.606206
                      - lowerLimit: 14.606206
                        higherLimit: 17.183771
                      - lowerLimit: 17.183771
                        higherLimit: 19.761337
                      - lowerLimit: 19.761337
                        higherLimit: 399
                      powerZones:
                      - lowerLimit: 221
                        higherLimit: 283
                      - lowerLimit: 283
                        higherLimit: 343
                      - lowerLimit: 343
                        higherLimit: 403
                      - lowerLimit: 403
                        higherLimit: 464
                      - lowerLimit: 464
                        higherLimit: 2000
                      heartRateSettingSource: HEART_RATE_ZONE_SETTING_SOURCE_DEFAULT
                      powerSettingSource: POWER_ZONE_SETTING_SOURCE_DEFAULT
                      speedSettingSource: SPEED_ZONE_SETTING_SOURCE_DEFAULT
                      powerZoneCalculationMethod: POWER_ZONE_CALCULATION_METHOD_MAP_BASED
                      speedZoneCalculationMethod: SPEED_ZONE_CALCULATION_METHOD_MAS_BASED
                    remoteButtonActions: []
                  productSettings: []
                  subProfileUuids: []
                  maximumAerobicSpeed:
                    speed: 17.183771
                    source: MAS_SOURCE_ESTIMATED
                  maximumAerobicPower:
                    power: 403
                    source: MAP_SOURCE_ESTIMATED
                legacyProfiles: {}
        '400':
          description: 'Bad uuid (unknown domain / sport segment 0), body uuid ≠ URL uuid,

            or `userId` missing / not the session user. Plain text naming the field.

            '
          content:
            text/plain:
              schema:
                type: string
              example: Profile UUID in the request body does not match the UUID in the URL
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/profiles/{id}/update-zones:
    parameters:
    - $ref: '#/components/parameters/SportProfileUuid'
    post:
      summary: Save a sport profile's training zones
      description: 'Persists the profile''s zones — the UI''s "Zones d''entraînement" editor.

        Send the full `profile` read from `GET /api/sports/profiles/{id}` with

        `settings.zoneLimits` edited; set a list''s `*SettingSource` to `…_FREE`

        to keep hand-entered limits, or `…_DEFAULT` to go back to computed ones.

        **200, empty body.** Captured 2026-09-29. Changes reach the watch on its

        next sync.


        Server-side validation (400, plain text listing every error as

        `profile.settings.zone_limits.<list>[i]: <reason>`):

        - exactly **5** zones per non-empty list;

        - contiguous: zone *i*''s `lowerLimit` = zone *i-1*''s `higherLimit`;

        - each zone spans ≥ 2 units;

        - ranges: HR [15, 240] bpm, speed [1.0, 399.0] km/h, power [0, 2000] W.


        Probed 2026-09-30: only `settings.zoneLimits` is read — other settings

        are kept even when omitted. All three `*SettingSource` fields are

        required (a missing one → 400 `… setting source is missing from profile

        settings`), so send every list, not just the edited one. A `…_DEFAULT`

        source makes the server recompute that list and ignore the limits sent.

        HR and power limits must be integers (`2000.5` → 400 `Not an int32

        value`); speed may be fractional and has no minimum zone span. A `…_FREE`

        power list reads back with calculation method `…_UNKNOWN`. The stored

        `modified` is the server''s write time, reported truncated to the second

        — send at least stored + 1 s, or a write right after create can 409.


        ⚠ `modified` must be **newer** than the stored profile''s `modified`,

        else **409** `A newer profile exists: Incoming sport profile is older

        than what is stored`. `userId` must be the session user. Requires

        `X-Requested-With: XMLHttpRequest`.

        '
      operationId: updateSportProfileZones
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SportProfileWriteRequest'
      responses:
        '200':
          description: Saved. Empty body — re-read the profile.
        '400':
          description: Validation failed (see above) or bad uuid/userId. Plain text.
          content:
            text/plain:
              schema:
                type: string
              example: 'Invalid update sport profile request for user 11111111 with uuid 0f000000-0080-0000-0000-000000000002.
                Service replied status INVALID_REQUEST with message ''Invalid request: Profile validation failed with 1 error(s):
                profile.settings.zone_limits.speed_zones[1]: Speed zone lower limit should be equal to previous zone''s higher
                limit. Previous zone higher limit: 20.0, current zone lower limit: 21.0'''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: '`modified` is not newer than the stored profile. Plain text.'
          content:
            text/plain:
              schema:
                type: string
  /api/sports/profiles/create/{sportId}:
    post:
      summary: Create a sport profile
      description: 'Creates a sport profile for `sportId` with default settings and default

        zones. No request body. **201** with the new profile (full shape, incl.

        `settings.zoneLimits` and a `legacyId`). Captured 2026-09-29 — the

        modern replacement for the legacy form-encoded

        `POST /settings/sports/add` (both write to the same store).


        The profile uuid is deterministic per sport

        (`0f000000-0080-0000-0000-<sportId hex>`). Requires

        `X-Requested-With: XMLHttpRequest`.

        '
      operationId: createSportProfile
      tags:
      - sport-profiles
      parameters:
      - name: sportId
        in: path
        required: true
        schema:
          type: integer
        description: Sport id (`GET /api/sports/sports`).
        example: 2
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: 'A profile for this sport already exists. Nothing is changed; the body

            is the stored profile (probed 2026-09-30).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfile'
        '201':
          description: The created profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Unknown `sportId` (e.g. 999). Empty body (probed 2026-09-30).
  /api/sports/profile-list-catalog:
    get:
      summary: Read the device's sport-profile list order
      description: 'The ordered list(s) of sport-profile uuids shown on the device. Created

        along with the account''s first profile. Captured 2026-09-29. A matching

        update route exists in the UI bundle (`updateSportProfileListCatalog`)

        but was not exercised. # TODO: verify write

        '
      operationId: getSportProfileListCatalog
      tags:
      - sport-profiles
      responses:
        '200':
          description: The catalogue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfileListCatalog'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/add:
    post:
      summary: Add (create) a sport profile
      description: 'Creates a new sport profile for the signed-in user from a `sportId`. This

        is the **real create endpoint** for sport profiles (the `/api/sports/*`

        family does not expose one). Captured 2026-06-01 from a device-paired

        account.


        Body is **form-encoded** (`application/x-www-form-urlencoded`), a single

        `sportId` field. Requires `X-Requested-With: XMLHttpRequest`.


        Returns **200** with a `text/plain` body containing JSON: the new

        profile''s id (numeric, as a string), echoed `sportId`, icon, and

        creation date/time.

        '
      operationId: addSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - sportId
              properties:
                sportId:
                  type: integer
                  description: Sport to create a profile for (id space of `/api/sports/sports`).
                  example: 115
            example:
              sportId: 115
      responses:
        '200':
          description: Profile created. `text/plain` body containing JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfileAddResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/save:
    post:
      summary: Save (update) sport-profile settings and watch-screen layout
      description: 'Updates one or more sport profiles'' general device settings

        (`TrainingSettings`) and/or watch-screen layout (`TrainingDisplays`). This

        is the **update endpoint** that was previously missing — the layout save

        issued after editing a profile in *Compte → Profils sportifs*. Captured

        2026-06-01 from a device-paired account.


        Body is **JSON** with a `sports` map keyed by profile id; each value is an

        array of config blocks discriminated by `name` (`TrainingSettings`,

        `TrainingDisplays`). Requires `X-Requested-With: XMLHttpRequest`.


        Returns **200** with a `text/plain` body containing a JSON success

        message reminding the user to sync their device (changes apply on the

        watch only after the next sync).

        '
      operationId: saveSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SportProfileSaveRequest'
      responses:
        '200':
          description: Saved. `text/plain` body containing a JSON success message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: Modifications enregistrées, pensez à synchroniser votre dispositif.
              example:
                success: Modifications enregistrées, pensez à synchroniser votre dispositif.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/training-display-items/{productId}/{sportProfileId}:
    parameters:
    - name: productId
      in: path
      required: true
      schema:
        type: integer
      description: Polar device/watch model id (e.g. 268).
      example: 268
    - name: sportProfileId
      in: path
      required: true
      schema:
        type: integer
      description: '**Numeric** sport-profile id (e.g. 987654321). Note this is a plain

        integer — distinct from the UUID-style id used by the separate

        `/api/sports/profiles/{id}` resource (the two id systems have not been

        reconciled; see `docs/endpoints/sport-profiles.md`).

        '
      example: 987654321
    get:
      summary: List available training-display fields for a device + sport profile
      description: 'Returns the **catalog** of display fields the given device (`productId`)

        can show for the given sport profile, grouped by category — the palette

        the watch-screen layout editor offers. The user''s actual chosen layout is

        in `GET /settings/sports/training-display-lists/{productId}/{sportProfileId}`.


        Served by the legacy `/settings/*` controller (not under `/api/*`).

        Requires `X-Requested-With: XMLHttpRequest`. Observed to return the

        product/sport default catalog even from an account that does not own the

        profile (not strictly owner-scoped).

        '
      operationId: getTrainingDisplayItems
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Display-field catalog grouped by category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingDisplayCatalog'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/training-display-lists/{productId}/{sportProfileId}:
    parameters:
    - name: productId
      in: path
      required: true
      schema:
        type: integer
      description: Polar device/watch model id (e.g. 268).
      example: 268
    - name: sportProfileId
      in: path
      required: true
      schema:
        type: integer
      description: '**Numeric** sport-profile id (e.g. 987654321) — see the note on the

        sibling `training-display-items` path about the two id systems.

        '
      example: 987654321
    get:
      summary: Read the configured training-display screens for a device + sport profile
      description: 'Returns the user''s current **watch-screen layout** for this profile: an

        array of display sets, each holding `displays` (the ordered screens, where

        each screen is a list of field ids from the catalog).


        Served by the legacy `/settings/*` controller. Requires

        `X-Requested-With: XMLHttpRequest`.


        **Read-only path.** This layout is *saved* via `POST /settings/sports/save`

        (as a `TrainingDisplays` block), not by writing back here — `PUT`/`POST`

        to this path return 404 (verified 2026-06-01).

        '
      operationId: getTrainingDisplayLists
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: The configured training-display screen sets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingDisplayList'
              example:
              - displays:
                - - 32
                  - 37
                  - 41
                  - 3
                - - 115
                - - 121
                - - 123
                name: TrainingDisplays
                productId: 268
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/create:
    post:
      summary: Create a training session (manual entry)
      description: 'Records a completed workout entered manually via the "Manual training

        result" form (`/exercises/add`). For file uploads (FIT/GPX/TCX) a

        different endpoint is used — TODO: capture.


        ⚠ Field-naming and unit conventions differ from

        POST /api/trainingtarget — see docs/endpoints/training-sessions.md

        for the cross-endpoint comparison.

        '
      operationId: createTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingSessionCreate'
            example:
              date: 2026-05-25T08:48+0200
              sport: 1
              duration: 1800
              distance: 0
              hrAverage: ''
              note: ''
              trainingSessionName: explore-session
              speedAverage: null
              kiloCalories: 0
              hrMax: ''
              feeling: null
              interpolatedHeartRateSamples: []
              saveHeartRateSamples: false
      responses:
        '200':
          description: 'Created successfully — empty body. The new session id is not

            returned; fetch it via POST /api/training/history.

            '
        '400':
          description: 'Validation failure — empty body. Observed when `date` is in the

            future.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/history:
    post:
      summary: List training sessions by date range
      description: 'Return completed training sessions for a user within an inclusive date

        range. Despite being a read, it is a **POST** with a JSON body.


        Each row''s `duration` is in **milliseconds** (1800000 = 30 min) and

        `sportName` is the user-locale display string (e.g. `"Course à pied"`),

        unlike the favorites endpoints which return the uppercase sport enum. Use a

        row''s `id` to fetch full analysis via

        `GET /api/training/analysis/{id}/summary` and `/details`.

        '
      operationId: listTrainingSessions
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userId
              - fromDate
              - toDate
              properties:
                userId:
                  type: integer
                  description: 'Numeric user ID — the `user.id` from

                    `GET /api/account/users/current/user` (verified 2026-05-29).

                    '
                  example: 11111111
                fromDate:
                  type: string
                  description: Inclusive start date `YYYY-MM-DD`.
                  example: '2026-04-25'
                toDate:
                  type: string
                  description: Inclusive end date `YYYY-MM-DD`.
                  example: '2026-05-25'
      responses:
        '200':
          description: Array of session summaries (empty array when none in range).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingSessionSummary'
              example:
              - id: 8349588454
                duration: 1800000
                distance: null
                hrAvg: 0
                calories: 350
                note: doc seed
                sportName: Course à pied
                sportId: 1
                startDate: '2026-05-28 08:00:00.000'
                recoveryTime: 0
                iconUrl: https://platform.cdn.polar.com/ecosystem/sport/icon/808d0882e97375e68844ec6c5417ea33-2024-04-16_06_01_39
                trainingLoadHtml: ''
                hasTrainingTarget: false
                swimmingSport: false
                swimmingPoolUnits: METERS
                trainingLoadProHtml: ''
                periodDataUuid: null
                isTest: false
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/analysis/{id}/summary:
    get:
      summary: Get a session's analysis summary
      description: 'Headline metrics and per-exercise statistics for the session-analysis

        page. Schema captured from a manual-entry session (many fields null

        without device upload).

        '
      operationId: getTrainingSessionSummary
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      responses:
        '200':
          description: Session summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'The session exists but belongs to another user (probed 2026-09-28).

            Useful as an existence check before

            `DELETE /api/training/deleteTrainingSession/{id}/`, which answers 200

            even for ids that don''t exist.

            '
        '404':
          description: Session not found
  /api/training/analysis/{id}/details:
    get:
      summary: Get a session's per-sample details (charts, laps, zones)
      description: 'Time-series sample data (HR, GPS, power, …), laps, zones, and

        per-exercise diagnostics used to draw the analysis charts. For a

        manually-entered session, all `samples[*][METRIC]` are null.

        '
      operationId: getTrainingSessionDetails
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/favorites/trainingTargets/importRoute:
    post:
      summary: Import a GPX/TCX route as a favorite
      description: 'Creates a route favorite (`type: "ROUTE"`) from a parsed GPX/TCX

        file. ⚠ The GPX/TCX is **parsed client-side**, not uploaded as

        multipart — the request body is JSON with the trackpoints already

        extracted. See `docs/endpoints/routes.md` for the parsing recipe.


        Note the unusual path shape (`trainingTargets` camelCased and

        plural, `importRoute` as a verb) — distinct from every other

        favorite endpoint.


        ⚠ Server-side leniency (probed 2026-09-28): names longer than 45

        chars are **silently truncated**; points with an out-of-range

        latitude/longitude are **silently dropped**; an unknown `sport` id is

        stored as null; the top-level `distance` is not checked against the

        points; a single point with a non-zero `distance` is accepted. Validate

        client-side.

        '
      operationId: importRoute
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteImport'
      responses:
        '200':
          description: 'Route created. **Empty response body.** Discover the new

            favoriteId via `GET /api/favorites` (look for `type: "ROUTE"`

            and matching `favoriteName`).

            '
        '400':
          description: 'text/plain list of messages in brackets, each followed by a comma,

            e.g. `[Route distance cannot be 0,Route must have route points,]`.

            Observed messages: `Request is missing the route`, `Route must have

            route points`, `Route distance cannot be 0`, `Route must have

            distance`, `Route must have a name`, `Route name must have at least

            one non-whitespace character`.

            '
          content:
            text/plain:
              schema:
                type: string
              example: '[Route distance cannot be 0,Route must have route points,]'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Malformed points (e.g. `lat`/`lon` keys instead of `latitude`/`longitude`). Body `[]`.
  /api/favorites/trainingTargets/addExerciseRoute:
    post:
      summary: Create a route favorite from a recorded session's GPS track
      description: "Creates a new ROUTE-type favorite by extracting the GPS track from a\ncompleted training session's exercise.\
        \ Counterpart to\n`POST /api/favorites/trainingTargets/importRoute` — that one ingests\na GPX/TCX upload, this one\
        \ references an already-recorded session.\n\nDiscovered in the JS bundle as `addRouteToFavorites` mapping. Probed\n\
        2026-05-26 on an account with **no recorded sessions**, so the success\npath could not be reached. Validation findings\
        \ below are inferred from\nerror patterns.\n\n### Body shape (inferred)\n\nRequired field is `id` — when present (with\
        \ any value), the server\nreaches the data-load stage and returns Polar's familiar JSON error\nenvelope (`{\"error\"\
        :\"...itinéraire...\"}`). Any other field name\n(`exerciseId`, `trainingSessionId`, `tsid`, `sessionId`, …) is\nrejected\
        \ upfront by the body parser with a generic HTML 500.\n\nMost likely `id` refers to an **exercise id** within a session\
        \ — the\nURL path's \"addExerciseRoute\" wording and the existence of\nmulti-exercise sessions both point that way\
        \ — but it could also be\nthe trainingSessionId. # TODO: confirm on a device-synced account.\n\n### Other gotchas\n\
        \n- Method is POST. GET → 404, PUT/PATCH presumably likewise.\n- Missing `X-Requested-With: XMLHttpRequest` → 403.\n\
        - Error bodies use the same misleading boilerplate\n  (`\"...itinéraire...\"`) as other favorites endpoints.\n"
      operationId: addRouteToFavorites
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  format: int64
                  description: 'Source exercise (or session) id whose GPS track will be

                    copied into a new ROUTE favorite. # TODO: verify which one

                    — name suggests exercise; URL suggests "exercise route".

                    '
              example:
                id: 8346808740
      responses:
        '200':
          description: 'Expected success status (not yet verified — no sessions to test

            with). Probably returns 200 with the new favorite id as a bare

            string, mirroring `POST /api/favoritetarget`. # TODO: verify.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: 'Source exercise/session not found. Polar returns 500 (not 404) with

            a JSON envelope: `{"error":"Un problème est survenu lors de

            l''enregistrement de l''itinéraire. Réessayez."}` (locale-dependent).

            Same misleading boilerplate as `/api/favorites/saveName`. Empty

            body or wrong field names → generic HTML 500 instead.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/favorites/exerciseTarget/{id}:
    get:
      summary: Get a favorite's full exercise target (incl. route geometry)
      description: 'Returns the inner exercise target — for ROUTE favorites, this is

        where the **GPS waypoints** live. For other favorite types, this

        returns target metadata (distance, duration, phases) that''s also

        available via `GET /api/favoritetarget/{favoriteId}`.


        ⚠ Path parameter is the **exerciseTargetId** (the inner id), NOT

        the favoriteId. Get it from

        `GET /api/favorites.targets[].exerciseTargetId`.

        '
      operationId: getFavoriteExerciseTarget
      tags:
      - favorites
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: 'Inner exerciseTargetId (NOT favoriteId). Source:

          `GET /api/favorites.targets[].exerciseTargetId`.

          '
        example: 1530637488
      responses:
        '200':
          description: Exercise target with GPS geometry for ROUTE type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteExerciseTarget'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'Returned for **any** id that is not one of your exercise targets —

            a favoriteId passed by mistake, an unknown id, or someone else''s.

            The lookup fails authorization rather than returning 404

            (re-probed 2026-09-28: unknown id `1` → 403, empty body).

            '
  /api/favoritetarget:
    post:
      summary: Create a favorite (training-target template)
      description: 'Creates a reusable training-target template. Body shape is identical

        to POST /api/trainingtarget minus the `datetime` field.


        **Saving an existing training target as a favorite** (target editor →

        "Ajouter aux favoris") has no endpoint of its own: the UI reads

        `GET /api/trainingtarget/{id}`, drops `datetime`, nulls each

        `exerciseTargets[].id` and the rolled-up `duration`, and POSTs the

        result here. The server assigns fresh phase ids; the source target is

        not linked to the favorite. Captured 2026-09-28.


        Validation (probed 2026-09-28): `name` 1–45 chars, `description`

        ≤ 500 chars (400 `ValidationError` otherwise). ⚠ Lenient spots:

        `exerciseTargets` missing or `[]` → 201 with a `FREE`-type favorite;

        an unknown or missing `sportId` → 201 stored verbatim / null. Invalid

        `type` enum → 500.

        '
      operationId: createFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteCreate'
      responses:
        '201':
          description: 'Created. Body is the new favorite id as a **bare string**

            (e.g. `81371573`), not a JSON object. Parse as integer.

            '
          content:
            text/plain:
              schema:
                type: string
              example: '81371573'
        '400':
          description: 'Field-keyed validation errors, e.g. `{"name":["error.required"]}`,

            `{"target.name":[<localized "unexpected problem">]}` (> 45 chars),

            `{"target.description":[…]}` (> 500 chars),

            `{"exerciseTargets[0].distance":["trainingTarget.unknownException"],…}`

            (no goal / non-positive goal), `{"exerciseTarget.duration":[…]}`

            (≥ 100 h), `{"exerciseTargets[0].phases":[…]}` (PHASED without phases).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Unknown `type` enum value. HTML error page.
  /api/favoritetarget/{id}:
    get:
      summary: Get a single favorite
      description: 'Read one favorite (training-target template) by `favoriteId`. Returns the

        create-shape body plus a server-assigned `exerciseTargets[].id` and `index`.


        For **ROUTE** favorites this returns only the thin metadata shell (no GPS

        geometry) — fetch the waypoints from

        `GET /api/favorites/exerciseTarget/{exerciseTargetId}` instead.

        '
      operationId: getFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      responses:
        '200':
          description: Favorite payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorite'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'The favorite belongs to another user. text/plain body

            `favorites.notification_oops`.

            '
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: 'Favorite not found. text/plain body `favorites.notification_oops`.

            '
          content:
            text/plain:
              schema:
                type: string
    post:
      summary: Update a favorite
      description: 'Full-body update (no PUT/PATCH — PUT → 404). Send the same shape as

        create plus the existing `exerciseTargets[i].id` value from GET.

        Returns 200 with empty body on success.


        ⚠ An entry sent with `id: null` returns 200 but its changes are

        **silently dropped** (same quirk as training targets) — always carry

        the ids from GET. Same limits as create (`name` ≤ 45, `description`

        ≤ 500); a too-long name is reported under

        `templateTrainingSessionTarget.name`.

        '
      operationId: updateFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Favorite'
      responses:
        '200':
          description: Updated. Empty body.
        '400':
          description: Field-keyed validation errors (see createFavorite).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Another user's favorite. text/plain `favorites.notification_oops`.
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Favorite not found. text/plain `favorites.notification_oops`.
          content:
            text/plain:
              schema:
                type: string
  /api/favorites/delete/{id}:
    delete:
      summary: Delete a favorite
      description: 'Verb-in-path REST violation (Polar''s choice, not ours). Note the

        `/favorites/delete/{id}` shape — distinct from create/get/update

        which all use `/favoritetarget/{id}`. The response body is

        non-empty (a localized success message) and — like every

        `/api/favorites/*` write — is **JSON served as `text/plain`**.

        Also deletes ROUTE favorites.

        '
      operationId: deleteFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted
          content:
            text/plain:
              schema:
                type: string
                description: 'JSON text `{"success": "<localized message>"}` (depends on the

                  user''s `flowLanguage`). Don''t pattern-match; trust the 200.

                  '
              example: '{"success":"Favori supprimé"}'
        '400':
          description: 'Another user''s favorite (text/plain JSON `{"error": "…suppression

            du favori…"}`) or a non-numeric id (HTML page).

            '
          content:
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: 'Favorite not found — including one that was already deleted.

            text/plain JSON `{"error": "Un problème est survenu lors de la

            suppression du favori. Réessayez."}`.

            '
          content:
            text/plain:
              schema:
                type: string
  /api/favorites:
    get:
      summary: List favorites (full shape)
      description: 'Returns favorites plus third-party integration link status. Used

        by the `/favorites` page.

        '
      operationId: listFavorites
      tags:
      - favorites
      responses:
        '200':
          description: Favorites listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoritesListing'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favorites/saveName:
    put:
      summary: Rename a favorite (granular update)
      description: "Updates only the favorite's `name`. Distinct from\n`POST /api/favoritetarget/{id}` (full update) — this\
        \ endpoint takes a\ntiny `{favoriteId, favoriteName}` body and is the route Polar's React UI\nuses when the user edits\
        \ the rename field.\n\n### Method gotcha\n\nThe verb is **`PUT`**, not POST. Sending POST returns **404** (Play\n\
        binds the route to PUT only). This contrasts with most other\n`/api/favorites/*` write endpoints which use POST.\n\
        \n### Validation\n\n- `favoriteId` accepts both integer and string forms (`\"81388912\"`\n  works the same as `81388912`).\n\
        - `favoriteName` limited to **45** characters (46 → 400); empty → 400.\n  ⚠ Whitespace-only (`\"  \"`) is accepted\
        \ and stored.\n- Missing fields → 400. Another user's favorite → 400.\n- Unknown `favoriteId` → **500** (not 404).\
        \ Worse, all error bodies\n  carry the same boilerplate French/English message about a \"route\"\n  (`\"Un problème\
        \ est survenu lors de l'enregistrement de l'itinéraire.\n  Réessayez.\"`) regardless of which favorite type you're\
        \ updating —\n  that's a Polar copy/paste bug in the error catalog.\n\nMissing `X-Requested-With: XMLHttpRequest`\
        \ → 403 (standard CSRF guard,\nsame as the rest of `/api/*` writes).\n"
      operationId: renameFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - favoriteId
              - favoriteName
              properties:
                favoriteId:
                  oneOf:
                  - type: integer
                    format: int64
                  - type: string
                  description: Numeric favorite id. Accepts string form too.
                  example: 81388912
                favoriteName:
                  type: string
                  minLength: 1
                  maxLength: 45
                  description: New name, 1–45 chars. Empty or longer is rejected (400).
                  example: Long run — Sundays
      responses:
        '200':
          description: Renamed successfully.
          content:
            text/plain:
              schema:
                type: string
                description: 'JSON text `{"success": "<localised message>"}` served as

                  `text/plain` (probed 2026-09-28).

                  '
              example: '{"success":"Modifications enregistrées"}'
        '400':
          description: 'Validation failure — missing fields, empty or > 45-char

            `favoriteName`, or another user''s favorite. Body (text/plain JSON)

            is a misleading boilerplate error (`{error: "...itinéraire..."}`)

            — Polar''s server reuses a route-import error string here.

            '
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: 'Server-side error — observed when `favoriteId` doesn''t exist.

            Polar returns 500 (not 404) with the same misleading error body

            as 400.

            '
          content:
            text/plain:
              schema:
                type: string
  /api/favorites/saveSport:
    put:
      summary: Change a favorite's sport (granular update)
      description: 'Updates only the sport assignment of a favorite''s exerciseTarget.

        Takes `{favoriteId, favoriteSportId, exerciseTargetId}` — both the

        favorite-level id AND the inner exerciseTarget id are required because

        a favorite can hold multiple exerciseTargets (e.g. multi-sport sessions).


        ### Method gotcha


        Same as `saveName`: the verb is **`PUT`**, not POST.


        ### Validation surprises


        Polar''s server is **dangerously lenient** here. Probed 2026-05-26:


        | Body | Status |

        |---|---|

        | Missing `exerciseTargetId` | 400 |

        | Unknown `exerciseTargetId` | **200** (silent no-op — favorite not actually updated server-side) |

        | Unknown `favoriteSportId` (e.g. `9999`, not in `/api/sports/sports`) | **200** (sport id is accepted unchecked,
        then presumably 404s on watch sync) |

        | ⚠ Missing `favoriteSportId` | **200 — clears the sport** (`sportId: null` on read-back; probed 2026-09-28) |

        | Unknown `favoriteId` | 500 |


        Verify your changes by re-reading the favorite via

        `GET /api/favoritetarget/{id}` rather than trusting the 200.


        Error bodies share the same misleading boilerplate

        (`{error: "...itinéraire..."}`) as `saveName`.

        '
      operationId: changeFavoriteSport
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - favoriteId
              - favoriteSportId
              - exerciseTargetId
              properties:
                favoriteId:
                  type: integer
                  format: int64
                  description: Numeric favorite id.
                  example: 81388912
                favoriteSportId:
                  type: integer
                  description: 'New sport id. **Not validated against the sport catalog**

                    — any integer is accepted (verified by sending 9999 and

                    receiving 200). Use a valid id from

                    `GET /api/sports/sports`.

                    '
                  example: 2
                exerciseTargetId:
                  type: integer
                  format: int64
                  description: 'Id of the inner exerciseTarget to retarget (one favorite can

                    hold multiple). Get it from

                    `GET /api/favoritetarget/{favoriteId}` →

                    `exerciseTargets[].id`. **Not validated** either — unknown

                    ids return 200 with no effect.

                    '
                  example: 1530728501
      responses:
        '200':
          description: 'Always returned on requests that include the three required fields,

            even when `exerciseTargetId` or `favoriteSportId` don''t exist.

            Re-read via `GET /api/favoritetarget/{id}` to confirm the change

            landed.

            '
          content:
            text/plain:
              schema:
                type: string
                description: 'JSON text `{"success": "<localised message>"}` served as `text/plain`.'
              example: '{"success":"Modifications enregistrées"}'
        '400':
          description: '`exerciseTargetId` missing. text/plain JSON boilerplate error.'
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Unknown `favoriteId`. text/plain JSON boilerplate error.
          content:
            text/plain:
              schema:
                type: string
  /api/favorites/favoriteTargetsJson:
    get:
      summary: List favorites (simple shape, used by diary picker)
      description: 'Returns a simpler array used by the diary''s "Add training target"

        picker. **Note:** `duration` is `HH:MM:SS` here vs milliseconds

        in `GET /api/favorites`. The embedded `sport` is a full sport

        object, not just an id.


        ⚠ Served as **`text/plain; charset=UTF-8`** despite the JSON body

        (observed 2026-09-28). Both media types are declared so generated

        clients accept the real response and still get the typed model.

        '
      operationId: listFavoritesSimple
      tags:
      - favorites
      responses:
        '200':
          description: Simple favorites list
          content:
            text/plain:
              schema:
                type: string
                description: JSON array text (same shape as the application/json variant).
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteSimple'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/devices/favoriteTargets:
    get:
      summary: Per-device favorite assignments
      description: 'Returns the user''s devices and the favorites assigned to each.

        Empty `{devices: []}` for accounts without any paired device.

        Populated shape TBD.

        '
      operationId: listDeviceFavorites
      tags:
      - favorites
      responses:
        '200':
          description: Device favorite assignments
          content:
            application/json:
              schema:
                type: object
                required:
                - devices
                properties:
                  devices:
                    type: array
                    items: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/account/users/current/user:
    get:
      summary: Get the current user's profile
      description: 'Returns the authenticated user''s identity, localization preferences,

        and physical settings. Use the `user.id` value as `userId` in

        endpoints that require it (e.g. POST /api/training/history).


        See `docs/endpoints/account.md` for the field-by-field meaning and

        cross-endpoint naming inconsistencies (e.g. `height` here vs

        `heightCm` in the POST /settings form).

        '
      operationId: getCurrentUser
      tags:
      - account
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/activity-timeline/load:
    get:
      summary: Activity timeline (single day)
      description: 'Returns the activity / steps / HR / inactivity breakdown for a single

        calendar day, keyed by date in the response. The modern endpoint used by

        the `/diary/activity/<date>` view. Empty-account behaviour (no paired

        device): all numeric fields are zeroes, sample arrays are empty, but the

        envelope is returned with synthesized `activityZoneLimits` and report

        URLs — see captures/responses/14-activity-timeline-loadFour.json for the

        4-day variant; the single-day shape is identical, just with one key.

        '
      operationId: getActivityTimeline
      tags:
      - activity
      parameters:
      - name: day
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Target day in `YYYY-MM-DD` (server interprets in the user's timezone).
        example: '2026-05-26'
      - name: maxSampleCount
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 200
        description: 'Maximum number of timeline samples returned per array

          (`activityTimelineSamples`, `heartRateTimelineSamples`). Server

          downsamples beyond this. Defaults appear to be 200 in the UI.

          ⚠ On a real account (2026-10-01), calls with `maxSampleCount=1` answered **500** `Failed to load activity timeline
          data` while the same days with 144 worked (a device-less account accepts 1). The small value is the suspected cause
          — send ≥ 144 like the UI''s 200. # TODO: verify

          '
      responses:
        '200':
          description: Activity timeline payload keyed by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimelineByDate'
        '400':
          description: Missing or unparseable `day` parameter.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/activity-timeline/loadFour:
    get:
      summary: Activity timeline (4-day window)
      description: 'Same shape as `/api/activity-timeline/load`, but returns four

        consecutive days as a `{[YYYY-MM-DD]: ActivityTimelineDay}` map. The

        window observed is `[day-2, day-1, day, day+1]` — i.e. two days of

        history, the target day, and one day of look-ahead. Future-dated days

        beyond the latest synced data return `dataPanelData: null` (instead of

        zeroes) but keep the rest of the envelope.

        '
      operationId: getActivityTimelineFour
      tags:
      - activity
      parameters:
      - name: day
        in: query
        required: true
        schema:
          type: string
          format: date
        example: '2026-05-26'
      - name: maxSampleCount
        in: query
        required: false
        schema:
          type: integer
          default: 200
        description: 'Maximum timeline samples per array; Flow downsamples beyond this. ⚠ On a real account (2026-10-01),
          calls with `maxSampleCount=1` answered **500** `Failed to load activity timeline data` while the same days with
          144 worked (a device-less account accepts 1). The small value is the suspected cause — send ≥ 144 like the UI''s
          200. # TODO: verify'
      responses:
        '200':
          description: Activity timeline payload for 4 days, keyed by date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimelineByDate'
        '400':
          description: Missing or unparseable `day` parameter.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/features-available:
    get:
      summary: Probe feature-flag availability for the current user
      description: 'Returns availability of a comma-separated list of feature flags. Observed

        flag names: `balance`, `cardioload`, `polar-sso`, `gs2`,

        `training-session-trim`, `nightly-recharge`, `exercise-phase-index`.

        Premium / device-gated features (e.g. `cardioload`, `nightly-recharge`)

        return `available: false` for free / device-less accounts.

        '
      operationId: getFeaturesAvailable
      tags:
      - account
      parameters:
      - name: names
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated feature flag names.
        example: balance,cardioload,polar-sso
      responses:
        '200':
          description: Array of `{feature, available}` records, one per requested name.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - feature
                  - available
                  properties:
                    feature:
                      type: string
                      example: polar-sso
                    available:
                      type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/deleteTrainingSession/{id}/:
    delete:
      summary: Delete a training session
      description: '⚠ The path **must end with a trailing slash** — Polar''s app sends

        `/api/training/deleteTrainingSession/{id}/`. Without it the route is

        not matched (404 HTML page). Requires `X-Requested-With` (403 without).


        ⚠ **A non-existent id also returns 200** (silent no-op), so a 200 does

        not prove anything was deleted. To report "no such session", pre-check

        with `GET /api/training/analysis/{id}/summary`: 404 = does not exist,

        403 = another user''s session, 200 = deletable. Probed 2026-09-28.

        '
      operationId: deleteTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: 'Deleted — or the id did not exist (silent no-op). Empty body.

            '
        '400':
          description: Non-numeric id. HTML error page.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: 'The session exists but belongs to another user (or the trailing

            slash is missing).

            '
        '500':
          description: Negative id. Empty body.
  /api/training/editTraining/{id}:
    put:
      summary: Edit a completed training session
      description: 'Backs the "Modifier la séance" form (`/training/edit/{id}`, reached

        from the session page via **Modifier → Modifier la séance**). Edits

        sport, duration, distance, avg/max HR, calories, average speed,

        feeling, note and title. The start date/time is **not** editable.

        Captured 2026-09-28.


        Method is **PUT** (POST → 404); no trailing slash. Requires

        `X-Requested-With` (403 without).


        ⚠ **Validation failures return a bare `500` with an empty body** —

        no field, no code. See `TrainingSessionEdit` for every accepted range.

        Null/missing handling is per-field: most fields stay unchanged, but a

        missing/null `trainingSessionName` is reset to the localized sport

        name and a null `note` is stored as the string `"null"`. Read the

        summary, merge, and send every field.


        Verified on manual sessions only. For a device-recorded session prefer

        `PUT /api/training/analysis/updateTrainingData/{id}` for note/feeling.

        # TODO: verify on a device-recorded session

        '
      operationId: editTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingSessionEdit'
      responses:
        '200':
          description: Saved. Empty body — re-read the summary to see the result.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'The session belongs to another user (or `X-Requested-With` is

            missing). Empty body.

            '
        '404':
          description: No session with this id. Empty body.
        '500':
          description: 'A field is out of range or has the wrong type (unknown sport id,

            duration ≥ 360000 s, name > 100 chars, HR > 240, …). Empty body —

            Polar gives no hint which field.

            '
  /api/training/analysis/updateTrainingData/{id}:
    put:
      summary: Update a session's note and/or feeling
      description: 'Partial update used by the session page''s inline note box

        (`textarea.note-text` → **Enregistrer**). Only `note` and `feeling`

        are honoured; other keys are ignored. Captured 2026-09-28.


        Better behaved than `editTraining`: 4xx instead of 500 on bad input,

        and it never touches the other fields — the safe choice for any

        session, including device-recorded ones.


        Method is **PUT** (POST → 404).

        '
      operationId: updateTrainingSessionData
      tags:
      - training-sessions
[...]
