openapi: 3.0.3
info:
  title: Polar Flow Web API (unofficial)
  description: 'Unofficial reverse-engineered API for flow.polar.com.

    Built by observing browser network traffic — NOT based on the official AccessLink API.

    Use a test account only. No warranty.

    '
  version: 0.0.1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: Reverse-engineering project
servers:
- url: https://flow.polar.com
  description: Production (use test account only)
security:
- sessionCookie: []
tags:
- name: training-targets
  description: Training target (workout plan) management
- name: training-sessions
  description: Completed training sessions (manual entry + history)
- name: calendar
  description: Calendar event queries
- name: account
  description: Current user profile, settings, and physical info
- name: favorites
  description: Favorite training-target templates and route favorites
- name: activity
  description: Activity / steps / inactivity rollups
- name: sleep
  description: Sleep nights (lives on sleep-api.flow.polar.com subdomain)
- name: progress
  description: Aggregated progress / report totals (weekly, monthly, yearly)
paths:
  /api/trainingtarget:
    post:
      summary: Create a training target
      operationId: createTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingTargetCreate'
            examples:
              volumeDuration:
                summary: VOLUME — duration target (Durée)
                value:
                  type: VOLUME
                  name: 60 min easy run
                  description: ''
                  datetime: 2026-05-29T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    phases: []
                    duration: 01:00:00
                    id: null
              volumeDistance:
                summary: VOLUME — distance target (Distance), distance in METRES
                value:
                  type: VOLUME
                  name: 5km easy
                  description: ''
                  datetime: 2026-05-30T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: 5000
                    calories: null
                    phases: []
                    duration: null
                    id: null
              volumeCalories:
                summary: VOLUME — calorie target (Calories)
                value:
                  type: VOLUME
                  name: 500 kcal burn
                  description: ''
                  datetime: 2026-05-31T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: 500
                    phases: []
                    duration: null
                    id: null
              steadyRacePace:
                summary: STEADY_RACE_PACE — time-trial (Fonction contre la montre)
                value:
                  type: STEADY_RACE_PACE
                  name: 5km in 30:00
                  description: ''
                  datetime: 2026-07-01T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: 5000
                    calories: null
                    phases: []
                    duration: 00:30:00
                    id: null
              phasedHrZones:
                summary: PHASED — 2 phases, heart-rate-zone intensity (Par phases)
                value:
                  type: PHASED
                  name: interval session
                  description: ''
                  datetime: 2026-06-02T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: main
                      phaseChangeType: AUTOMATIC
                      goalType: DISTANCE
                      distance: 5000
                      duration: null
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 3
                    - phaseType: PHASE
                      name: cooldown
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:10:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 3
              phasedNoIntensity:
                summary: PHASED — single phase, "Utiliser les zones" unchecked → intensityType NONE
                value:
                  type: PHASED
                  name: open phase
                  description: ''
                  datetime: 2026-06-04T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: open
                      phaseChangeType: AUTOMATIC
                      goalType: DISTANCE
                      distance: 5000
                      duration: null
                      intensityType: NONE
                      lowerZone: null
                      upperZone: null
      responses:
        '201':
          description: 'Created successfully. Response body is the new training-target id

            as a bare string (e.g. `1453858954`) — not JSON, not empty.

            Same shape as `POST /api/favoritetarget`.

            '
          content:
            text/plain:
              schema:
                type: string
                pattern: ^[0-9]+$
              example: '1453858954'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                timeConflict:
                  summary: Two targets at the same time
                  value:
                    time:
                    - error.trainingTarget.twoTargetsForSameTime
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/trainingtarget/{id}:
    parameters:
    - $ref: '#/components/parameters/TrainingTargetId'
    get:
      summary: Read a training target
      description: 'Returns the server-normalized training-target object. Discovered during

        update-endpoint probing 2026-05-26 — same URL as `updateTrainingTarget`.

        Server normalizes the stored shape: each `exerciseTargets[].duration`

        is rolled up from its phases (e.g. `"00:03:00"` for a phase loop), and

        PHASE-leaf phases carry `duration: "00:00:00"` even when

        `goalType: DISTANCE`.

        '
      operationId: getTrainingTarget
      tags:
      - training-targets
      responses:
        '200':
          description: The training target as JSON. Shape mirrors the create payload plus server-assigned ids and rolled-up
            totals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingTargetCreate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No training target with that id (or it belongs to another user).
    post:
      summary: Update a training target (full replace)
      description: "Replaces the training target with the supplied body. **POST**, not PUT\nor PATCH — sending PUT returns\
        \ 404. The body shape is identical to\n`POST /api/trainingtarget` (create), with two requirements for\nsuccessful\
        \ field updates:\n\n1. Include the **existing `exerciseTargets[].id`** from\n   `GET /api/trainingtarget/{id}`. Sending\
        \ `id: null` is accepted\n   (returns 200) but **silently no-ops the exerciseTarget update** —\n   only top-level\
        \ fields (`name`, `description`, `datetime`) land.\n2. Same field semantics as create (distance in metres, datetime\
        \ without\n   timezone, phaseType `PHASE`/`REPEAT`, etc.).\n\nReturns **200 with an empty body** on success — note\
        \ this differs from\n`POST /api/trainingtarget` (create), which returns the new id as a\nbare string.\n\nRe-read via\
        \ `GET /api/trainingtarget/{id}` to confirm the change\nlanded (especially when modifying exerciseTargets).\n"
      operationId: updateTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingTargetCreate'
            example:
              type: VOLUME
              name: Renamed run
              description: updated description
              datetime: 2026-08-16T10:30
              exerciseTargets:
              - sportId: 2
                distance: 8000
                duration: null
                calories: null
                phases: []
                id: 1530729599
      responses:
        '200':
          description: Updated successfully. Empty body.
        '400':
          description: Validation error (e.g. time conflict). Same envelope as create.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/target/{id}:
    delete:
      summary: Delete a training target
      operationId: deleteTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/TrainingTargetId'
      responses:
        '200':
          description: Deleted successfully. Response body is empty.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/getCalendarEvents:
    get:
      summary: List calendar events (includes training targets)
      description: 'Returns all diary events (training sessions, targets, etc.) for a date range.

        Training targets appear with `type: "TRAININGTARGET"`.

        Date format: D.M.YYYY (no leading zeros).

        '
      operationId: getCalendarEvents
      tags:
      - calendar
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
        description: Start date in D.M.YYYY format (e.g. 27.4.2026)
        example: 27.4.2026
      - name: end
        in: query
        required: true
        schema:
          type: string
        description: End date in D.M.YYYY format (e.g. 7.6.2026)
        example: 7.6.2026
      responses:
        '200':
          description: List of calendar events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/sports:
    get:
      summary: List all sports with their numeric IDs
      description: 'Returns a flat object mapping numeric sport ID (as string key) to the

        internal sport name constant. Use these IDs as `sportId` in training

        target requests. This endpoint requires no auth — observed to load

        without a session cookie during form initialisation.

        '
      operationId: getSports
      tags:
      - training-targets
      security: []
      responses:
        '200':
          description: Map of sport ID → sport name constant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsMap'
              example:
                '1': RUNNING
                '2': CYCLING
                '3': WALKING
                '38': ROAD_BIKING
        '404':
          description: Not found
        '500':
          description: Server error
  /api/training/create:
    post:
      summary: Create a training session (manual entry)
      description: 'Records a completed workout entered manually via the "Manual training

        result" form (`/exercises/add`). For file uploads (FIT/GPX/TCX) a

        different endpoint is used — TODO: capture.


        ⚠ Field-naming and unit conventions differ from

        POST /api/trainingtarget — see docs/endpoints/training-sessions.md

        for the cross-endpoint comparison.

        '
      operationId: createTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingSessionCreate'
            example:
              date: 2026-05-25T08:48+0200
              sport: 1
              duration: 1800
              distance: 0
              hrAverage: ''
              note: ''
              trainingSessionName: explore-session
              speedAverage: null
              kiloCalories: 0
              hrMax: ''
              feeling: null
              interpolatedHeartRateSamples: []
              saveHeartRateSamples: false
      responses:
        '200':
          description: 'Created successfully — empty body. The new session id is not

            returned; fetch it via POST /api/training/history.

            '
        '400':
          description: 'Validation failure — empty body. Observed when `date` is in the

            future.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/history:
    post:
      summary: List training sessions by date range
      operationId: listTrainingSessions
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userId
              - fromDate
              - toDate
              properties:
                userId:
                  type: integer
                  description: 'Numeric user ID. Presumably obtained from

                    `GET /api/account/users/current/user` (TODO: verify).

                    '
                  example: 64421052
                fromDate:
                  type: string
                  description: Inclusive start date `YYYY-MM-DD`.
                  example: '2026-04-25'
                toDate:
                  type: string
                  description: Inclusive end date `YYYY-MM-DD`.
                  example: '2026-05-25'
      responses:
        '200':
          description: Array of session summaries (empty array when none in range).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingSessionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/analysis/{id}/summary:
    get:
      summary: Get a session's analysis summary
      description: 'Headline metrics and per-exercise statistics for the session-analysis

        page. Schema captured from a manual-entry session (many fields null

        without device upload).

        '
      operationId: getTrainingSessionSummary
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      responses:
        '200':
          description: Session summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/training/analysis/{id}/details:
    get:
      summary: Get a session's per-sample details (charts, laps, zones)
      description: 'Time-series sample data (HR, GPS, power, …), laps, zones, and

        per-exercise diagnostics used to draw the analysis charts. For a

        manually-entered session, all `samples[*][METRIC]` are null.

        '
      operationId: getTrainingSessionDetails
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/favorites/trainingTargets/importRoute:
    post:
      summary: Import a GPX/TCX route as a favorite
      description: 'Creates a route favorite (`type: "ROUTE"`) from a parsed GPX/TCX

        file. ⚠ The GPX/TCX is **parsed client-side**, not uploaded as

        multipart — the request body is JSON with the trackpoints already

        extracted. See `docs/endpoints/routes.md` for the parsing recipe.


        Note the unusual path shape (`trainingTargets` camelCased and

        plural, `importRoute` as a verb) — distinct from every other

        favorite endpoint.

        '
      operationId: importRoute
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteImport'
      responses:
        '200':
          description: 'Route created. **Empty response body.** Discover the new

            favoriteId via `GET /api/favorites` (look for `type: "ROUTE"`

            and matching `favoriteName`).

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favorites/trainingTargets/addExerciseRoute:
    post:
      summary: Create a route favorite from a recorded session's GPS track
      description: "Creates a new ROUTE-type favorite by extracting the GPS track from a\ncompleted training session's exercise.\
        \ Counterpart to\n`POST /api/favorites/trainingTargets/importRoute` — that one ingests\na GPX/TCX upload, this one\
        \ references an already-recorded session.\n\nDiscovered in the JS bundle as `addRouteToFavorites` mapping. Probed\n\
        2026-05-26 on an account with **no recorded sessions**, so the success\npath could not be reached. Validation findings\
        \ below are inferred from\nerror patterns.\n\n### Body shape (inferred)\n\nRequired field is `id` — when present (with\
        \ any value), the server\nreaches the data-load stage and returns Polar's familiar JSON error\nenvelope (`{\"error\"\
        :\"...itinéraire...\"}`). Any other field name\n(`exerciseId`, `trainingSessionId`, `tsid`, `sessionId`, …) is\nrejected\
        \ upfront by the body parser with a generic HTML 500.\n\nMost likely `id` refers to an **exercise id** within a session\
        \ — the\nURL path's \"addExerciseRoute\" wording and the existence of\nmulti-exercise sessions both point that way\
        \ — but it could also be\nthe trainingSessionId. # TODO: confirm on a device-synced account.\n\n### Other gotchas\n\
        \n- Method is POST. GET → 404, PUT/PATCH presumably likewise.\n- Missing `X-Requested-With: XMLHttpRequest` → 403.\n\
        - Error bodies use the same misleading boilerplate\n  (`\"...itinéraire...\"`) as other favorites endpoints.\n"
      operationId: addRouteToFavorites
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  format: int64
                  description: 'Source exercise (or session) id whose GPS track will be

                    copied into a new ROUTE favorite. # TODO: verify which one

                    — name suggests exercise; URL suggests "exercise route".

                    '
              example:
                id: 8346808740
      responses:
        '200':
          description: 'Expected success status (not yet verified — no sessions to test

            with). Probably returns 200 with the new favorite id as a bare

            string, mirroring `POST /api/favoritetarget`. # TODO: verify.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: 'Source exercise/session not found. Polar returns 500 (not 404) with

            a JSON envelope: `{"error":"Un problème est survenu lors de

            l''enregistrement de l''itinéraire. Réessayez."}` (locale-dependent).

            Same misleading boilerplate as `/api/favorites/saveName`. Empty

            body or wrong field names → generic HTML 500 instead.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/favorites/exerciseTarget/{id}:
    get:
      summary: Get a favorite's full exercise target (incl. route geometry)
      description: 'Returns the inner exercise target — for ROUTE favorites, this is

        where the **GPS waypoints** live. For other favorite types, this

        returns target metadata (distance, duration, phases) that''s also

        available via `GET /api/favoritetarget/{favoriteId}`.


        ⚠ Path parameter is the **exerciseTargetId** (the inner id), NOT

        the favoriteId. Get it from

        `GET /api/favorites.targets[].exerciseTargetId`.

        '
      operationId: getFavoriteExerciseTarget
      tags:
      - favorites
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: 'Inner exerciseTargetId (NOT favoriteId). Source:

          `GET /api/favorites.targets[].exerciseTargetId`.

          '
        example: 1530637488
      responses:
        '200':
          description: Exercise target with GPS geometry for ROUTE type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteExerciseTarget'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'Returned when caller passes a favoriteId instead of an

            exerciseTargetId — the lookup fails authorization rather

            than returning 404. Verify you''re passing the inner id.

            '
        '404':
          description: ExerciseTarget not found
  /api/favoritetarget:
    post:
      summary: Create a favorite (training-target template)
      description: 'Creates a reusable training-target template. Body shape is identical

        to POST /api/trainingtarget minus the `datetime` field.

        '
      operationId: createFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteCreate'
      responses:
        '201':
          description: 'Created. Body is the new favorite id as a **bare string**

            (e.g. `81371573`), not a JSON object. Parse as integer.

            '
          content:
            text/plain:
              schema:
                type: string
              example: '81371573'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favoritetarget/{id}:
    get:
      summary: Get a single favorite
      operationId: getFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      responses:
        '200':
          description: Favorite payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorite'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Favorite not found
    post:
      summary: Update a favorite
      description: 'Full-body update (no PUT/PATCH). Send the same shape as create plus

        the existing `exerciseTargets[i].id` value from GET. Returns 200

        with empty body on success.

        '
      operationId: updateFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Favorite'
      responses:
        '200':
          description: Updated. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Favorite not found
  /api/favorites/delete/{id}:
    delete:
      summary: Delete a favorite
      description: 'Verb-in-path REST violation (Polar''s choice, not ours). Note the

        `/favorites/delete/{id}` shape — distinct from create/get/update

        which all use `/favoritetarget/{id}`. The response body is

        non-empty (a localized success message).

        '
      operationId: deleteFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: string
                    description: 'Localized success message (depends on user''s

                      `flowLanguage`). Don''t pattern-match; trust the

                      200 status.

                      '
                    example: Favori supprimé
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Favorite not found
  /api/favorites:
    get:
      summary: List favorites (full shape)
      description: 'Returns favorites plus third-party integration link status. Used

        by the `/favorites` page.

        '
      operationId: listFavorites
      tags:
      - favorites
      responses:
        '200':
          description: Favorites listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoritesListing'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favorites/saveName:
    put:
      summary: Rename a favorite (granular update)
      description: "Updates only the favorite's `name`. Distinct from\n`POST /api/favoritetarget/{id}` (full update) — this\
        \ endpoint takes a\ntiny `{favoriteId, favoriteName}` body and is the route Polar's React UI\nuses when the user edits\
        \ the rename field.\n\n### Method gotcha\n\nThe verb is **`PUT`**, not POST. Sending POST returns **404** (Play\n\
        binds the route to PUT only). This contrasts with most other\n`/api/favorites/*` write endpoints which use POST.\n\
        \n### Validation\n\n- `favoriteId` accepts both integer and string forms (`\"81388912\"`\n  works the same as `81388912`).\n\
        - Empty `favoriteName` → 400.\n- Missing fields → 400.\n- Unknown `favoriteId` → **500** (not 404). Worse, all error\
        \ bodies\n  carry the same boilerplate French/English message about a \"route\"\n  (`\"Un problème est survenu lors\
        \ de l'enregistrement de l'itinéraire.\n  Réessayez.\"`) regardless of which favorite type you're updating —\n  that's\
        \ a Polar copy/paste bug in the error catalog.\n\nMissing `X-Requested-With: XMLHttpRequest` → 403 (standard CSRF\
        \ guard,\nsame as the rest of `/api/*` writes).\n"
      operationId: renameFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - favoriteId
              - favoriteName
              properties:
                favoriteId:
                  oneOf:
                  - type: integer
                    format: int64
                  - type: string
                  description: Numeric favorite id. Accepts string form too.
                  example: 81388912
                favoriteName:
                  type: string
                  minLength: 1
                  description: New name. Empty string is rejected (400).
                  example: Long run — Sundays
      responses:
        '200':
          description: Renamed successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: string
                    description: Localised confirmation message (e.g. `"Modifications enregistrées"` in French, `"Changes
                      saved"` in English).
              example:
                success: Modifications enregistrées
        '400':
          description: 'Validation failure — missing fields or empty `favoriteName`. Body

            is a misleading boilerplate error (`{error: "...itinéraire..."}`)

            — Polar''s server reuses a route-import error string here.

            '
        '500':
          description: 'Server-side error — observed when `favoriteId` doesn''t exist.

            Polar returns 500 (not 404) with the same misleading error body

            as 400.

            '
  /api/favorites/saveSport:
    put:
      summary: Change a favorite's sport (granular update)
      description: 'Updates only the sport assignment of a favorite''s exerciseTarget.

        Takes `{favoriteId, favoriteSportId, exerciseTargetId}` — both the

        favorite-level id AND the inner exerciseTarget id are required because

        a favorite can hold multiple exerciseTargets (e.g. multi-sport sessions).


        ### Method gotcha


        Same as `saveName`: the verb is **`PUT`**, not POST.


        ### Validation surprises


        Polar''s server is **dangerously lenient** here. Probed 2026-05-26:


        | Body | Status |

        |---|---|

        | Missing `exerciseTargetId` | 400 |

        | Unknown `exerciseTargetId` | **200** (silent no-op — favorite not actually updated server-side) |

        | Unknown `favoriteSportId` (e.g. `9999`, not in `/api/sports/sports`) | **200** (sport id is accepted unchecked,
        then presumably 404s on watch sync) |

        | Missing other fields | 400 |


        Verify your changes by re-reading the favorite via

        `GET /api/favoritetarget/{id}` rather than trusting the 200.


        Error bodies share the same misleading boilerplate

        (`{error: "...itinéraire..."}`) as `saveName`.

        '
      operationId: changeFavoriteSport
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - favoriteId
              - favoriteSportId
              - exerciseTargetId
              properties:
                favoriteId:
                  type: integer
                  format: int64
                  description: Numeric favorite id.
                  example: 81388912
                favoriteSportId:
                  type: integer
                  description: 'New sport id. **Not validated against the sport catalog**

                    — any integer is accepted (verified by sending 9999 and

                    receiving 200). Use a valid id from

                    `GET /api/sports/sports`.

                    '
                  example: 2
                exerciseTargetId:
                  type: integer
                  format: int64
                  description: 'Id of the inner exerciseTarget to retarget (one favorite can

                    hold multiple). Get it from

                    `GET /api/favoritetarget/{favoriteId}` →

                    `exerciseTargets[].id`. **Not validated** either — unknown

                    ids return 200 with no effect.

                    '
                  example: 1530728501
      responses:
        '200':
          description: 'Always returned on requests that include the three required fields,

            even when `exerciseTargetId` or `favoriteSportId` don''t exist.

            Re-read via `GET /api/favoritetarget/{id}` to confirm the change

            landed.

            '
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: string
              example:
                success: Modifications enregistrées
        '400':
          description: Required field missing.
  /api/favorites/favoriteTargetsJson:
    get:
      summary: List favorites (simple shape, used by diary picker)
      description: 'Returns a simpler array used by the diary''s "Add training target"

        picker. **Note:** `duration` is `HH:MM:SS` here vs milliseconds

        in `GET /api/favorites`. The embedded `sport` is a full sport

        object, not just an id.

        '
      operationId: listFavoritesSimple
      tags:
      - favorites
      responses:
        '200':
          description: Simple favorites list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteSimple'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/devices/favoriteTargets:
    get:
      summary: Per-device favorite assignments
      description: 'Returns the user''s devices and the favorites assigned to each.

        Empty `{devices: []}` for accounts without any paired device.

        Populated shape TBD.

        '
      operationId: listDeviceFavorites
      tags:
      - favorites
      responses:
        '200':
          description: Device favorite assignments
          content:
            application/json:
              schema:
                type: object
                required:
                - devices
                properties:
                  devices:
                    type: array
                    items: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/account/users/current/user:
    get:
      summary: Get the current user's profile
      description: 'Returns the authenticated user''s identity, localization preferences,

        and physical settings. Use the `user.id` value as `userId` in

        endpoints that require it (e.g. POST /api/training/history).


        See `docs/endpoints/account.md` for the field-by-field meaning and

        cross-endpoint naming inconsistencies (e.g. `height` here vs

        `heightCm` in the POST /settings form).

        '
      operationId: getCurrentUser
      tags:
      - account
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/activity-timeline/load:
    get:
      summary: Activity timeline (single day)
      description: 'Returns the activity / steps / HR / inactivity breakdown for a single

        calendar day, keyed by date in the response. The modern endpoint used by

        the `/diary/activity/<date>` view. Empty-account behaviour (no paired

        device): all numeric fields are zeroes, sample arrays are empty, but the

        envelope is returned with synthesized `activityZoneLimits` and report

        URLs — see captures/responses/14-activity-timeline-loadFour.json for the

        4-day variant; the single-day shape is identical, just with one key.

        '
      operationId: getActivityTimeline
      tags:
      - activity
      parameters:
      - name: day
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Target day in `YYYY-MM-DD` (server interprets in the user's timezone).
        example: '2026-05-26'
      - name: maxSampleCount
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 200
        description: 'Maximum number of timeline samples returned per array

          (`activityTimelineSamples`, `heartRateTimelineSamples`). Server

          downsamples beyond this. Defaults appear to be 200 in the UI.

          '
      responses:
        '200':
          description: Activity timeline payload keyed by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimelineByDate'
        '400':
          description: Missing or unparseable `day` parameter.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/activity-timeline/loadFour:
    get:
      summary: Activity timeline (4-day window)
      description: 'Same shape as `/api/activity-timeline/load`, but returns four

        consecutive days as a `{[YYYY-MM-DD]: ActivityTimelineDay}` map. The

        window observed is `[day-2, day-1, day, day+1]` — i.e. two days of

        history, the target day, and one day of look-ahead. Future-dated days

        beyond the latest synced data return `dataPanelData: null` (instead of

        zeroes) but keep the rest of the envelope.

        '
      operationId: getActivityTimelineFour
      tags:
      - activity
      parameters:
      - name: day
        in: query
        required: true
        schema:
          type: string
          format: date
        example: '2026-05-26'
      - name: maxSampleCount
        in: query
        required: false
        schema:
          type: integer
          default: 200
      responses:
        '200':
          description: Activity timeline payload for 4 days, keyed by date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimelineByDate'
        '400':
          description: Missing or unparseable `day` parameter.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/features-available:
    get:
      summary: Probe feature-flag availability for the current user
      description: 'Returns availability of a comma-separated list of feature flags. Observed

        flag names: `balance`, `cardioload`, `polar-sso`, `gs2`,

        `training-session-trim`, `nightly-recharge`, `exercise-phase-index`.

        Premium / device-gated features (e.g. `cardioload`, `nightly-recharge`)

        return `available: false` for free / device-less accounts.

        '
      operationId: getFeaturesAvailable
      tags:
      - account
      parameters:
      - name: names
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated feature flag names.
        example: balance,cardioload,polar-sso
      responses:
        '200':
          description: Array of `{feature, available}` records, one per requested name.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - feature
                  - available
                  properties:
                    feature:
                      type: string
                      example: polar-sso
                    available:
                      type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/deleteTrainingSession/{id}/:
    delete:
      summary: Delete a training session
      description: '⚠ The path **must end with a trailing slash** — Polar''s app sends

        `/api/training/deleteTrainingSession/{id}/`. Sending without the

        trailing slash may 404.

        '
      operationId: deleteTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted successfully. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/sleep/report:
    get:
      summary: Sleep nights report
      description: "Returns one `SleepNight` per recorded night in the inclusive date range\n`[from, to]`. Lives on its own\
        \ subdomain — `https://sleep-api.flow.polar.com`\n— but reuses the `FLOW_SESSION` cookie via cross-origin credentials\n\
        (response carries `Access-Control-Allow-Credentials: true` and\n`Access-Control-Allow-Origin: https://flow.polar.com`).\n\
        \nBacked by the `getSleepNights` action in the Polar Flow JS bundle.\n\n### Range constraints (probed empirically\
        \ 2026-05-26)\n\n- `to - from` must be **≥ 30 days and ≤ 365 days**. Shorter or longer\n  ranges return `400` with\
        \ an empty body.\n- `from == to` (single day) → 400.\n- `from > to` → 400.\n\nThe 30-day floor is unusual — there's\
        \ no `/api/sleep/<date>` per-night\nendpoint (probed: 404), so to fetch a single night you must request the\nsurrounding\
        \ ≥30-day window and filter the response client-side.\n\n### Auth gotchas\n\n- Missing `X-Requested-With: XMLHttpRequest`\
        \ → 401 (the CSRF guard differs\n  from `flow.polar.com`'s — there 403, here 401).\n- The cross-origin CORS check\
        \ requires `Origin: https://flow.polar.com`,\n  which browsers set automatically when the calling page is on\n  `flow.polar.com`.\
        \ Non-browser clients must send it explicitly.\n- Empty body (`[]`) is the normal response on accounts with no synced\n\
        \  sleep-capable Polar device.\n"
      operationId: getSleepReport
      tags:
      - sleep
      servers:
      - url: https://sleep-api.flow.polar.com
        description: Sleep API (separate subdomain). Reuses FLOW_SESSION cookie via CORS.
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Inclusive start date (`YYYY-MM-DD`).
        example: '2026-02-25'
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Inclusive end date (`YYYY-MM-DD`). Must be ≥ 30 days and ≤ 365 days after `from`.
        example: '2026-05-26'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Array of sleep nights, one per night with recorded data. Empty array when none.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SleepNight'
              example: []
        '400':
          description: 'Range invalid: too narrow (< 30 days inclusive), too wide (> 365 days),

            reversed (`from > to`), or malformed date format. Body is empty.

            '
        '401':
          description: 'Missing `X-Requested-With: XMLHttpRequest` header, missing/invalid

            `FLOW_SESSION` cookie, or CORS origin not whitelisted.

            '
  /progress/getProgressViewSummaryAsJson:
    post:
      summary: Training summary totals over a date range
      description: 'Returns aggregated training totals (sessions, distance, duration,

        calories, ascent/descent, zone time, sport distribution, training-benefit

        distribution) for the inclusive `[from, to]` date range.


        Date format is **`D.M.YYYY`** (e.g. `1.5.2026`), matching the rest of the

        legacy `/training/*` and `/progress/*` endpoints. ISO 8601

        (`YYYY-MM-DD`) is rejected by sibling endpoints; this one happens to

        accept malformed/missing dates without erroring on a zero-session account

        (it just returns zeros) — strict validation behaviour on populated

        accounts is TBD.


        The Polar Flow JS bundle has a Coach-vs-free fork that picks

        `/progress/getSummaryDataAsJson` for Coach users and this URL for

        regular users — but **both URLs are reachable from a free account** and

        return the same schema. The "Coach gate" is purely client-side.

        '
      operationId: getProgressViewSummary
      tags:
      - progress
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  description: Inclusive start date, `D.M.YYYY` (no leading zeros required).
                  example: 1.5.2026
                to:
                  type: string
                  description: Inclusive end date, `D.M.YYYY`.
                  example: 31.5.2026
                group:
                  description: 'Optional sport-group filter. JS passes `"all"` for the

                    "Tous les sports" tab; a numeric sportId filters to that

                    sport. # TODO: verify scoping with real data.

                    '
                  oneOf:
                  - type: string
                  - type: integer
                  example: all
                timeFrame:
                  type: string
                  description: 'Bucket size for the per-time-slice breakdowns. JS values

                    observed: `"6w"`, `"3m"`, `"1y"`. The server accepted

                    arbitrary strings (including empty / omitted) on the test

                    account, so it likely only influences how the breakdown is

                    grouped, not whether the request succeeds.

                    '
                  example: 6w
            examples:
              monthAllSports:
                value:
                  from: 1.5.2026
                  to: 31.5.2026
                  group: all
                  timeFrame: 6w
      responses:
        '200':
          description: Aggregated totals + distributions. Always returned with zeros on accounts with no recorded sessions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressViewSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /progress/getSummaryDataAsJson:
    post:
      summary: Training summary totals (Coach variant — same shape as getProgressViewSummaryAsJson)
      description: "Identical request/response shape to\n[POST /progress/getProgressViewSummaryAsJson](#operations-progress-getProgressViewSummary).\n\
        The Polar Flow JS bundle routes Coach users to this URL via:\n\n```js\nCommonHelpers.context.coach\n  ? \"/progress/getSummaryDataAsJson\"\
        \n  : \"/progress/getProgressViewSummaryAsJson\"\n```\n\nOn the free test account, both URLs return the same payload,\
        \ so the\nserver-side ACL (if any) is permissive. This alias is documented for\ncompleteness; clients should prefer\
        \ `getProgressViewSummaryAsJson`.\n"
      operationId: getSummaryData
      tags:
      - progress
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  example: 1.5.2026
                to:
                  type: string
                  example: 31.5.2026
                group:
                  oneOf:
                  - type: string
                  - type: integer
                timeFrame:
                  type: string
                  example: 6w
      responses:
        '200':
          description: See `ProgressViewSummary`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressViewSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/getCalendarWeekSummary:
    post:
      summary: Weekly summary strip for the diary calendar
      description: "Returns one summary entry per ISO week intersecting `[from, to]`, used by\nthe right-hand \"week totals\"\
        \ strip in `/diary`. Backed by the legacy\n`Calendar.get.weekSummary` action in\n`static/13.318.0/javascript/views/diary/calendar.min.js`.\n\
        \n### Constraints (probed 2026-05-26)\n\n- Date format: **`D.M.YYYY`** strict (ISO 8601 rejected with\n  `content\
        \ of from (...) is not a valid date: Text '...' could not be\n  parsed at index 4`).\n- `to` must be ≥ `from` (reversed\
        \ → `400 from (...) date must be before\n  to (...) date`).\n- **`to - from ≤ 45 days`** (\"Maximum week aligned range\
        \ is 45,\n  requested N\" beyond that). Same-day and partial-week ranges are OK —\n  the \"week aligned\" label in\
        \ the error is misleading; the server does\n  not require Monday-aligned dates.\n\nReturns an array of week-summary\
        \ objects on success. Empty array (`[]`)\nwhen no sessions fall in the range — element shape on populated accounts\n\
        is TBD.\n"
      operationId: getCalendarWeekSummary
      tags:
      - calendar
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  description: Inclusive start date, `D.M.YYYY`.
                  example: 24.5.2026
                to:
                  type: string
                  description: Inclusive end date, `D.M.YYYY`. Must satisfy `to - from ≤ 45 days`.
                  example: 30.5.2026
      responses:
        '200':
          description: 'One entry per ISO week touched by the range. Empty array when no

            sessions are recorded. # TODO: capture a populated week to learn

            the element shape (likely

            `{weekNumber, totalDuration, totalDistance, totalCalories, …}`).

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example: []
        '400':
          description: 'Range invalid (reversed, > 45 days) or date format not `D.M.YYYY`.

            Body is a plain-text Play error message — not JSON.

            '
          content:
            text/plain:
              schema:
                type: string
              examples:
                tooWide:
                  value: Maximum week aligned range is 45, requested 365
                reversed:
                  value: from (2026-05-30) date must be before to (2026-05-24) date
                badFormat:
                  value: 'content of from (2026-05-24) is not a valid date: Text ''2026-05-24'' could not be parsed at index
                    4'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: FLOW_SESSION
      description: 'RS256 JWT session token issued by auth.polar.com after a successful

        SSO login. This is the **only** load-bearing cookie — PLAY_SESSION_FLOW,

        AWSALB, AWSALBCORS, timezone, PLAY_LANG are all optional (probed

        2026-05-25). JWT TTL ≈ 1h; refresh by following the silent OAuth

        re-auth flow documented in docs/auth.md.

        '
  parameters:
    XRequestedWith:
      name: X-Requested-With
      in: header
      required: true
      schema:
        type: string
        enum:
        - XMLHttpRequest
        default: XMLHttpRequest
      description: 'CSRF defense on /api/* write operations. Play''s CSRF filter is

        configured to whitelist requests carrying this header (browsers

        cannot set it on cross-origin form submissions). Without it: 403

        with an "Unauthorized" HTML body — easy to mistake for an auth

        failure. Must equal `XMLHttpRequest`.

        '
    TrainingTargetId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Training target numeric ID (e.g. 1453744955)
    TrainingSessionId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: Training session numeric ID (e.g. 8346808740)
      example: 8346808740
    FavoriteId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: 'Numeric favorite id (the `favoriteId` field in

        `GET /api/favorites.targets[]`). Distinct from `exerciseTargetId`.

        '
      example: 81371573
  schemas:
    PhaseLeaf:
      type: object
      description: A leaf training phase (no nested phases).
      required:
      - phaseType
      - name
      - phaseChangeType
      - goalType
      - intensityType
      properties:
        phaseType:
          type: string
          enum:
          - PHASE
          description: Constant `"PHASE"` discriminator for leaf phases.
        name:
          type: string
          description: 'Phase name. Required when `intensityType` is not HEART_RATE_ZONES

            (submission fails with "Ce champ est obligatoire." otherwise).

            For HR-zone phases an empty string is accepted.

            '
        phaseChangeType:
          type: string
          enum:
          - AUTOMATIC
          - MANUAL
          description: '"AUTOMATIC" — next phase starts automatically when the goal is reached.

            "MANUAL" — wait for user input (verified via capture 10-phased-manual.json).

            '
        goalType:
          type: string
          enum:
          - DISTANCE
          - DURATION
          description: Drives which of `distance` / `duration` is non-null on this phase.
        distance:
          type: number
          description: Phase distance in **metres** (not km). Non-null iff `goalType=DISTANCE`.
          example: 5000
          nullable: true
        duration:
          type: string
          description: 'Phase duration as `"HH:MM:SS"` (strict — partial `MM:SS` is rejected by the

            UI validator). Non-null iff `goalType=DURATION`.

            '
          example: 00:10:00
          nullable: true
        intensityType:
          type: string
          enum:
          - HEART_RATE_ZONES
          - SPEED_ZONES
          - POWER_ZONES
          - NONE
          description: 'Intensity metric for the phase. All four values verified from captures.

            Toggling off "Utiliser les zones d''entraînement" in the UI sets this to

            "NONE" and nulls both zones. POWER_ZONES requires a power-capable sport

            (e.g. CYCLING, sportId 2) — verified via capture 11-phased-power.json.

            '
        lowerZone:
          type: number
          minimum: 1
          maximum: 5
          description: Lower zone bound (1–5) when `intensityType != NONE`; otherwise null.
          nullable: true
        upperZone:
          type: number
          minimum: 1
          maximum: 5
          description: Upper zone bound (1–5) when `intensityType != NONE`; otherwise null.
          nullable: true
    PhaseRepeat:
      type: object
      description: 'A repeat-group phase that loops a nested list of PHASE objects `repeatCount` times.

        The UI labels this "+ Répéter les phases". Verified via capture 12-phased-repeat.json

        — server stores and returns it faithfully and rolls the inner duration into the

        exerciseTarget''s top-level `duration` (e.g. 3 × `"00:01:00"` → `"00:03:00"`).

        Nesting is supported by the schema but rejected by the UI beyond depth 1.

        '
      required:
      - phaseType
      - repeatCount
      - phases
      properties:
        phaseType:
          type: string
          enum:
          - REPEAT
          description: Constant `"REPEAT"` discriminator for repeat groups.
        repeatCount:
          type: integer
          minimum: 2
          description: Number of times the nested phases are repeated. UI minimum is 2.
          example: 3
        phases:
          type: array
          description: Nested PHASE objects looped `repeatCount` times.
          items:
            $ref: '#/components/schemas/PhaseLeaf'
    Phase:
      oneOf:
      - $ref: '#/components/schemas/PhaseLeaf'
      - $ref: '#/components/schemas/PhaseRepeat'
      discriminator:
        propertyName: phaseType
        mapping:
          PHASE: '#/components/schemas/PhaseLeaf'
          REPEAT: '#/components/schemas/PhaseRepeat'
      description: 'A single phase within a PHASED training target''s exerciseTarget.phases array.

        Verified from captured POST bodies for HEART_RATE_ZONES, SPEED_ZONES, POWER_ZONES,

        and NONE intensity variants and for both `phaseChangeType` values (AUTOMATIC,

        MANUAL). Repeat groups carry `phaseType:"REPEAT"` (NOT "GROUP" — the JS bundle''s

        internal constant `k.$l.REPEAT` is the wire value) and wrap nested PHASE objects

        with a `repeatCount` integer.

        '
    ExerciseTarget:
      type: object
      description: A single exercise block within a training target
      required:
      - sportId
      - phases
      properties:
        index:
          type: integer
          readOnly: true
          description: 'Server-assigned 0-based ordering index. Present only on read responses

            (`GET /api/trainingtarget/{id}`). Do not send on create.

            '
          example: 0
        sportId:
          type: integer
          description: Polar sport identifier. 1 = Course à pied (running).
          example: 1
        duration:
          type: string
          description: Target duration in HH:MM:SS format. Null when not duration-based.
          example: 01:00:00
          nullable: true
        distance:
          type: number
          description: 'Target distance in **metres** (the UI shows km but the wire value is metres —

            UI 5 km → payload 5000). Null when not distance-based.

            '
          example: 5000
          nullable: true
        calories:
          type: number
          description: Target calorie burn (kcal). Null when not calorie-based.
          nullable: true
        phases:
          type: array
          description: 'Structured phases (e.g. warm-up / main / cool-down). Empty `[]` for VOLUME /

            STEADY_RACE_PACE targets; populated for PHASED targets.

            '
          items:
            $ref: '#/components/schemas/Phase'
        id:
          type: number
          description: Populated by the server on create; send null when creating.
          nullable: true
    TrainingTargetCreate:
      type: object
      description: Payload to create a new training target
      required:
      - type
      - name
      - datetime
      - exerciseTargets
      properties:
        type:
          type: string
          enum:
          - VOLUME
          - STEADY_RACE_PACE
          - PHASED
          description: "Target category, drives which `exerciseTargets[i]` fields are populated.\n- \"VOLUME\" — single-metric\
            \ target. Exactly one of `duration` / `distance` /\n  `calories` is non-null; `phases` is `[]`.\n- \"STEADY_RACE_PACE\"\
            \ — time-trial. Both `duration` and `distance` are\n  populated; pace is implicit (UI lets user enter any 2 of\
            \ 3).\n- \"PHASED\" — multi-phase workout. `phases` is populated; volume fields\n  on the exerciseTarget are null\
            \ (each phase carries its own).\nAll three values verified from captured POST bodies (2026-05-25).\n"
        name:
          type: string
          description: Display name shown in the diary
        description:
          type: string
          description: Free-text notes. Empty string when not provided (not null).
          default: ''
        datetime:
          type: string
          description: 'Local date-time of the planned workout, ISO 8601 without timezone offset

            (e.g. "2026-05-24T10:00"). The server applies the user''s timezone setting.

            '
          example: 2026-05-24T10:00
        exerciseTargets:
          type: array
          description: 'One entry per exercise block. Most targets have exactly one;

            multi-sport workouts (e.g. duathlon: run then bike) pass multiple

            entries — verified via capture 13-multisport.json. On read-back, the

            server assigns each entry a sequential `index` (0, 1, …) to preserve

            ordering.

            '
          minItems: 1
          items:
            $ref: '#/components/schemas/ExerciseTarget'
    ValidationError:
      type: object
      description: 'Field-keyed validation errors. Each key maps to an array of error code strings.

        '
      additionalProperties:
        type: array
        items:
          type: string
      example:
        time:
        - error.trainingTarget.twoTargetsForSameTime
    CalendarEvent:
      type: object
      description: A diary entry returned by /training/getCalendarEvents
      properties:
        type:
          type: string
          description: Event category, e.g. "TRAININGTARGET", "EXERCISE"
          example: TRAININGTARGET
        ListItemId:
          type: integer
          description: Numeric ID of the underlying entity (use as {id} in /api/trainingtarget/{id})
          example: 1453744955
        title:
          type: string
          example: 60 min easy run
        description:
          type: string
        start:
          type: string
          description: ISO 8601 UTC datetime
          example: '2026-05-24T10:00:00.000Z'
        allDay:
          type: string
          enum:
          - 'true'
          - 'false'
        url:
          type: string
          description: Relative URL to the target detail page
          example: /target/1453744955
        className:
          type: string
          example: training-target-icon
        eventType:
          type: string
          example: trainingTarget
        eventId:
          type: integer
          nullable: true
        sourceProgramType:
          type: string
          nullable: true
    SportsMap:
      type: object
      description: 'Map of numeric sport ID (as string key) to Polar sport name constant.

        Full inventory captured 2026-05-25 from GET /api/sports/sports:

        **165 sports**, IDs sparse (some retired numbers — gaps at 21, 26,

        31, 37, 72-81, 93, 97-99, 106, etc.). Highest observed: 205.

        Polar adds sports over time, so treat this list as a snapshot —

        re-fetch periodically rather than hard-coding in clients.

        '
      additionalProperties:
        type: string
      example:
        '1': RUNNING
        '2': CYCLING
        '3': WALKING
        '4': JOGGING
        '5': MOUNTAIN_BIKING
        '6': CROSS-COUNTRY_SKIING
        '7': DOWNHILL_SKIING
        '8': ROWING
        '9': NORDIC_WALKING
        '10': SKATING
        '11': HIKING
        '12': TENNIS
        '13': SQUASH
        '14': BADMINTON
        '15': STRENGTH_TRAINING
        '16': OTHER_OUTDOOR
        '17': TREADMILL_RUNNING
        '18': INDOOR_CYCLING
        '19': ROAD_RUNNING
        '20': CIRCUIT_TRAINING
        '22': SNOWBOARDING
        '23': SWIMMING
        '24': XC_SKIING_FREESTYLE
        '25': XC_SKIING_CLASSIC
        '27': TRAIL_RUNNING
        '28': ICE_SKATING
        '29': INLINE_SKATING
        '30': ROLLER_BLADING
        '32': GROUP_EXERCISE
        '33': YOGA
        '34': CROSS_FIT
        '35': GOLF
        '36': TRACK_AND_FIELD_RUNNING
        '38': ROAD_BIKING
        '39': SOCCER
        '40': CRICKET
        '41': BASKETBALL
        '42': BASEBALL
        '43': RUGBY
        '44': FIELD_HOCKEY
        '45': VOLLEYBALL
        '46': ICE_HOCKEY
        '47': AMERICAN_FOOTBALL
        '48': HANDBALL
        '49': BEACH_VOLLEYBALL
        '50': FUTSAL
        '51': FLOORBALL
        '52': DANCING
        '53': TROTTING
        '54': RIDING
        '55': CROSS_TRAINER
        '56': FITNESS_MARTIAL_ARTS
        '57': FUNCTIONAL_TRAINING
        '58': BOOTCAMP
        '59': ROLLER_SKIING_FREESTYLE
        '60': ROLLER_SKIING_CLASSIC
        '61': AEROBICS
        '62': AQUATICS
        '63': FITNESS_STEP
        '64': BODY_AND_MIND
        '65': PILATES
        '66': STRETCHING
        '67': FITNESS_DANCING
        '68': TRIATHLON
        '69': DUATHLON
        '70': OFFROADTRIATHLON
        '71': OFFROADDUATHLON
        '82': FREE_MULTISPORT
        '83': OTHER_INDOOR
        '84': ORIENTEERING
        '85': ORIENTEERING_SKI
        '86': ORIENTEERING_MTB
        '87': BIATHLON
        '88': WATERSPORTS_SAILING
        '89': PARASPORTS_WHEELCHAIR
        '90': FRISBEEGOLF
        '91': TABLE_TENNIS
        '92': ULTRARUNNING_RUNNING
        '94': VERTICALSPORTS_WALLCLIMBING
        '95': WATERSPORTS_KAYAKING
        '96': WATERSPORTS_CANOEING
        '100': WATERSPORTS_KITESURFING
        '101': WATERSPORTS_WINDSURFING
        '102': WATERSPORTS_SURFING
        '103': POOL_SWIMMING
        '104': FINNISH_BASEBALL
        '105': OPEN_WATER_SWIMMING
        '107': WATERSPORTS_WAKEBOARDING
        '108': WATERSPORTS_WATERSKI
        '109': BOXING
        '110': KICKBOXING_MARTIAL_ARTS
        '111': MOBILITY_DYNAMIC
        '112': TELEMARK_SKIING
        '113': BACKCOUNTRY_SKIING
        '114': GYMNASTICK
        '115': JUDO_MARTIAL_ARTS
        '116': SNOWSHOE_TREKKING
        '117': INDOOR_ROWING
        '118': SPINNING
        '119': STREET_DANCING
        '120': LATIN_DANCING
        '121': SHOW_DANCING
        '122': BALLET_DANCING
        '123': JAZZ_DANCING
        '124': MODERN_DANCING
        '125': BALLROOM_DANCING
        '126': CORE
        '127': MOBILITY_STATIC
        '128': LES_MILLS_BODYPUMP
        '129': LES_MILLS_BODYATTACK
        '130': LES_MILLS_BODYCOMBAT
        '131': LES_MILLS_GRIT_CARDIO
        '132': LES_MILLS_GRIT_STRENGTH
        '133': LES_MILLS_GRIT_PLYO
        '134': LES_MILLS_SHBAM
        '135': LES_MILLS_RPM
        '136': LES_MILLS_BODYJAM
        '137': LES_MILLS_BODYSTEP
        '138': LES_MILLS_SPRINT
        '139': LES_MILLS_BODYVIVE
        '140': LES_MILLS_BODYBALANCE
        '141': LES_MILLS_TRIP
        '142': LES_MILLS_CXWORKS
        '143': LES_MILLS_BARRE
        '144': FITNESS_BOXING
        '147': CURLING
        '148': KETTLEBELL
        '149': KICKBIKE
        '153': OBSTACLE_COURSE_RACING
        '154': RINGETTE
        '155': SHOOTING_SPORT_OUTDOOR
        '156': SKATEBOARDING
        '157': SUP
        '158': TAEKWONDO_MARTIAL_ARTS
        '163': WATER_RUNNING
        '164': WATER_EXERCISE
        '173': MOTORSPORTS
        '174': MOTORSPORTS_HARD_ENDURO
        '175': MOTORSPORTS_CAR_RACING
        '176': PADEL
        '177': E_BIKE
        '178': CROSS_COUNTRY_RUNNING
        '179': VERTICALSPORTS_OUTCLIMBING
        '180': MOTORSPORTS_ENDURO
        '181': MOTORSPORTS_ROADRACING
        '182': MOTORSPORTS_SNOCROSS
        '183': MOTORSPORTS_MOTOCROSS
        '184': JUMP_ROPE
        '185': STAIR_WORKOUT
        '186': ULTIMATE
        '187': PARASPORTS_SLED_HOCKEY
        '188': PICKLEBALL
        '189': PARASPORTS_HAND_CYCLING
        '190': AGILITY
        '191': ESPORTS
        '192': PARASPORTS_WHEELCHAIR_BASKETBALL
        '193': PARASPORTS_WHEELCHAIR_TENNIS
        '194': SHOOTING_SPORT_INDOOR
        '195': GRAVEL
        '196': PARASPORTS_WATER_SKIING
        '197': BEACH_TENNIS
        '202': HYROX
        '203': RUCKING
        '204': CALISTHENICS
        '205': SKIERG
    TrainingSessionCreate:
      type: object
      description: 'Payload for manual session entry via POST /api/training/create.

        ⚠ Multiple inconsistencies with TrainingTargetCreate — see

        docs/endpoints/training-sessions.md.

        '
      required:
      - date
      - sport
      - duration
      - distance
      - hrAverage
      - note
      - trainingSessionName
      - speedAverage
      - kiloCalories
      - hrMax
      - feeling
      - interpolatedHeartRateSamples
      - saveHeartRateSamples
      properties:
        date:
          type: string
          description: 'ISO 8601 local datetime **with timezone offset** (note: training-target

            uses tz-less form). Format: `YYYY-MM-DDTHH:MM±ZZZZ`.

            '
          example: 2026-05-25T08:48+0200
        sport:
          type: integer
          description: 'Sport id (note: field name is `sport` here, **not** `sportId` like in

            training-target body). See GET /api/sports/sports.

            '
          example: 1
        duration:
          type: integer
          description: Duration in **seconds** (not ms, not HH:MM:SS).
          example: 1800
        distance:
          type: integer
          description: Distance in **metres**. Use 0 when not provided.
          example: 0
        hrAverage:
          type: string
          description: 'Average heart rate (bpm). Sent as **empty string `""`** when not

            provided — not null or 0. Integer when provided.

            '
          example: ''
        note:
          type: string
          description: Free-text note. Empty string when blank.
          default: ''
        trainingSessionName:
          type: string
          description: Display name for the session.
        speedAverage:
          type: number
          description: Average speed in km/h, or null.
          nullable: true
        kiloCalories:
          type: integer
          description: Kilocalories burned. Use 0 when not provided.
          example: 0
        hrMax:
          type: string
          description: Max heart rate. Empty string when not provided (same convention as `hrAverage`).
          example: ''
        feeling:
          type: string
          description: 'Subjective feeling enum. Values TODO — set via the "Mon ressenti

            pendant l''entraînement" dropdown in the UI. Null when not selected.

            '
          nullable: true
        interpolatedHeartRateSamples:
          type: array
          description: 'Interpolated HR samples. Always empty `[]` for manual entries.

            Element schema TODO.

            '
          items: {}
        saveHeartRateSamples:
          type: boolean
          description: Whether to persist HR samples server-side.
          default: false
    TrainingSessionSummary:
      type: object
      description: 'One entry in the array returned by POST /api/training/history.

        ⚠ `duration` is **milliseconds** here, but **seconds** in the

        TrainingSessionCreate body.

        '
      required:
      - id
      - duration
      - sportId
      - startDate
      properties:
        id:
          type: integer
          format: int64
          description: Session ID — use as `{id}` in /api/training/analysis/{id}/* and DELETE.
          example: 8346808740
        duration:
          type: integer
          description: Duration in **milliseconds**.
          example: 1800000
        distance:
          type: integer
          description: Distance in metres, or null.
          nullable: true
        hrAvg:
          type: integer
          description: Average HR (bpm). Note the camelCase differs from create's `hrAverage`.
        calories:
          type: integer
          description: Kilocalories. Note the field name differs from create's `kiloCalories`.
        note:
          type: string
          description: 'Free-text note. Observed as `" "` (single space) when the form note

            was blank — quirk of the create flow.

            '
        sportName:
          type: string
          description: Localised sport name (depends on user locale).
          example: Course à pied
        sportId:
          type: integer
          example: 1
        startDate:
          type: string
          description: 'Session start time, format `YYYY-MM-DD HH:MM:SS.fff` (space separator,

            no timezone — note: differs from create''s ISO 8601 with offset).

            '
          example: '2026-05-25 08:48:00.000'
        recoveryTime:
          type: integer
          description: Recovery time. Unit TODO (likely seconds).
        iconUrl:
          type: string
          format: uri
        trainingLoadHtml:
          type: string
          description: Pre-rendered HTML for the UI (not for programmatic consumption).
        hasTrainingTarget:
          type: boolean
        swimmingSport:
          type: boolean
        swimmingPoolUnits:
          type: string
          enum:
          - METERS
        trainingLoadProHtml:
          type: string
        periodDataUuid:
          type: string
          nullable: true
        isTest:
          type: boolean
    SessionExercise:
      type: object
      description: 'One exercise within a session (a session can have several if

        multi-sport). Same shape appears in both /summary and /details

        responses.

        '
      properties:
        id:
          type: integer
          format: int64
        sport:
          type: object
          description: Sport reference; only `id` is populated here.
          properties:
            id:
              type: integer
        startTime:
          type: string
          description: ISO 8601 without timezone.
        stopTime:
          type: string
        duration:
          type: string
          description: ISO 8601 duration (`PTxxM`).
        distance:
          type: number
          description: Metres.
          nullable: true
        calories:
          type: integer
          nullable: true
        fatPercentage:
          type: number
          nullable: true
        carboPercentage:
          type: number
          nullable: true
        proteinPercentage:
          type: number
          nullable: true
        recoveryTime:
          type: integer
          nullable: true
        trainingLoad:
          type: number
          nullable: true
        trainingLoadDescriptionKey:
          type: string
          description: Localisation key for a human-readable load description.
          nullable: true
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
        ascent:
          type: number
          description: Metres.
          nullable: true
        descent:
          type: number
          nullable: true
        timezoneOffset:
          type: integer
          nullable: true
        runningIndex:
          type: integer
          description: Polar's running-fitness metric.
          nullable: true
        normalizedPower:
          type: number
          description: Cycling normalized power, watts.
          nullable: true
        trainingStatistic:
          type: object
          description: 'Per-metric min/avg/max. Observed only `HEART_RATE` for a

            manual entry; populated metrics depend on device upload.

            '
          additionalProperties:
            type: object
            properties:
              max:
                type: number
                nullable: true
              avg:
                type: number
                nullable: true
              min:
                type: number
                nullable: true
        sportParent:
          type: string
          description: Top-level sport family (e.g. `"RUNNING"`, `"CYCLING"`).
        defaultSpeedViewSettings:
          type: string
          enum:
          - PACE
          - SPEED
          description: '⚠ Plural here (`defaultSpeedViewSettings`). Note: the same

            concept is **singular** (`defaultSpeedViewSetting`) inside the

            `sport` object on /api/favorites/favoriteTargetsJson.

            '
        sprintCount:
          type: integer
          nullable: true
        trainingStressScore:
          type: number
          description: Cycling TSS.
          nullable: true
        intensityFactor:
          type: number
          description: Cycling IF.
          nullable: true
    ClubModel:
      type: object
      description: 'Group-class gamification metadata. All-false / nulls for solo sessions.

        '
      properties:
        clubTrainingSession:
          type: boolean
        sessionName:
          type: string
          nullable: true
        sportName:
          type: string
          nullable: true
        instructorName:
          type: string
          nullable: true
        clubName:
          type: string
          nullable: true
        clubAddress:
          type: string
          nullable: true
        cooldownChampion:
          type: boolean
        zoneMate:
          type: boolean
        rangeRuler:
          type: boolean
        zoneMaster:
          type: boolean
        phaseMaster:
          type: boolean
        inZone:
          type: integer
        organisationId:
          type: integer
          format: int64
          nullable: true
        startTime:
          type: string
          nullable: true
        duration:
          type: integer
    PhysicalInfoSnapshot:
      type: object
      description: 'Physical settings frozen at session creation time, so historic

        sessions reflect the user''s state at the time.

        '
      properties:
        maximumHeartRate:
          type: integer
          nullable: true
        weight:
          type: number
          nullable: true
        functionalThresholdPower:
          type: integer
          nullable: true
        maximumAerobicPower:
          type: integer
          nullable: true
        maximumAerobicSpeed:
          type: string
          description: Pace string (MM:SS), TBD
          nullable: true
    SessionSummary:
      type: object
      description: 'Response of GET /api/training/analysis/{id}/summary. Field-name and

        unit conventions inconsistent with other session endpoints — see

        `docs/endpoints/training-sessions.md`.

        '
      properties:
        id:
          type: integer
          format: int64
        nextTrainingId:
          type: integer
          format: int64
          description: ID of the next session chronologically, or `-1` when none.
        previousTrainingId:
          type: integer
          format: int64
          description: ID of the previous session chronologically, or `-1` when none.
        userId:
          type: integer
          format: int64
        feeling:
          type: string
          description: User-selected feeling. Enum values TBD.
          nullable: true
        note:
          type: string
          nullable: true
        latitude:
          type: number
          description: Session start latitude; null for manual sessions.
          nullable: true
        longitude:
          type: number
          nullable: true
        startDate:
          type: string
          description: 'ISO 8601 without timezone, e.g. `"2026-05-25T08:00:00"`.

            '
        stopTime:
          type: string
          description: ISO 8601 without timezone.
        duration:
          type: string
          description: '⚠ ISO 8601 duration string (e.g. `"PT30M"`). Distinct from the

            **integer seconds** in POST /api/training/create, **integer

            milliseconds** in POST /api/training/history, and **HH:MM:SS**

            in training-target endpoints.

            '
        distance:
          type: number
          description: 'Metres. ⚠ Often null at the top level even when populated

            inside `exercises[i].distance`.

            '
          nullable: true
        kiloCalories:
          type: integer
          nullable: true
        trainingLoad:
          type: number
          nullable: true
        trainingBenefit:
          type: string
          description: Enum, values TBD.
          nullable: true
        carboPercentage:
          type: number
          nullable: true
        fatPercentage:
          type: number
          nullable: true
        proteinPercentage:
          type: number
          nullable: true
        hrMax:
          type: integer
          nullable: true
        hrAverage:
          type: integer
          nullable: true
        timezoneOffset:
          type: integer
          description: Minutes from UTC; null for manual sessions.
          nullable: true
        trainingLoadPro:
          type: number
          description: Premium-tier variant; null on free accounts.
          nullable: true
        exercises:
          type: object
          description: 'Object **keyed by exerciseId** (not an array). Usually a

            single entry; multi-sport sessions have multiple.

            '
          additionalProperties:
            $ref: '#/components/schemas/SessionExercise'
        periodDataUuid:
          type: string
          nullable: true
        deviceName:
          type: string
          description: Empty string for manual entries; populated by device upload.
        trainingSessionName:
          type: string
          nullable: true
        trainingUserInfo:
          type: object
          properties:
            firstname:
              type: string
              nullable: true
            lastname:
              type: string
              nullable: true
            pictureUrl:
              type: string
              format: uri
              nullable: true
            city:
              type: string
              nullable: true
            countryCode:
              type: string
              nullable: true
        clubModel:
          $ref: '#/components/schemas/ClubModel'
        teamTrainingSessionType:
          type: string
          nullable: true
        coachNotes:
          type: array
          items: {}
        hasUserCoach:
          type: boolean
        sportId:
          type: integer
          description: '⚠ Null at this level even when `exercises[i].sport.id` is

            populated.

            '
          nullable: true
        startTrigger:
          type: string
          description: Enum, values TBD.
          nullable: true
        physicalInformationSnapshot:
          $ref: '#/components/schemas/PhysicalInfoSnapshot'
        hasRRsamples:
          type: boolean
          description: True when R-R interval data is present.
        trimmed:
          type: boolean
          description: True if the user manually trimmed the session.
    SampleBlock:
      type: object
      description: 'Per-exercise time-series samples. Each key is a recorded metric;

        each value is `null` until a device populates it. Populated value

        shape not yet captured — likely an array of numbers or an object

        `{samplingRate, values:[]}`. TODO with a device-uploaded session.

        '
      properties:
        CADENCE:
          nullable: true
        LEFT_PEDAL_CRANK_BASED_POSITIVE_FORCE:
          nullable: true
        DISTANCE:
          nullable: true
        BODY_TEMPERATURE:
          nullable: true
        POWER:
          nullable: true
        STRIDE_LENGTH:
          nullable: true
        TEMPERATURE:
          nullable: true
        ALTITUDE:
          nullable: true
        POWER_BALANCE:
          nullable: true
        SPEED:
          nullable: true
        RIGHT_PEDAL_CRANK_BASED_POSITIVE_FORCE:
          nullable: true
        HEART_RATE:
          nullable: true
    SessionDetails:
      type: object
      description: 'Response of GET /api/training/analysis/{id}/details. Time-series

        samples, laps, zones, etc. For a manual session all

        `samples[*][METRIC]` are null.

        '
      properties:
        id:
          type: integer
          format: int64
        periodDataUuid:
          type: string
          nullable: true
        exercises:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SessionExercise'
        samples:
          type: object
          description: 'Object keyed by exerciseId, each containing a per-metric

            sample block. All metrics null for manual sessions.

            '
          additionalProperties:
            $ref: '#/components/schemas/SampleBlock'
        zones:
          type: object
          description: 'Time-in-zone distributions, keyed by exerciseId. Empty

            object for manual sessions; populated by device upload.

            Shape when populated TBD.

            '
          additionalProperties:
            type: object
            additionalProperties: true
        laps:
          type: object
          additionalProperties:
            type: object
            properties:
              automaticLaps:
                type: array
                items: {}
              manualLaps:
                type: array
                items: {}
        periodData:
          type: object
          nullable: true
        swimDatas:
          type: object
          description: Per-exercise swim metrics; empty unless swim sport.
          additionalProperties: true
        pauseTimeData:
          type: object
          additionalProperties:
            type: array
            items: {}
        defaultHrZones:
          type: object
          additionalProperties:
            type: array
            items: {}
        errors:
          type: object
          description: 'Parsing/quality issues, keyed by exerciseId. Empty when clean.

            '
          additionalProperties: true
        exerciseResultTargetData:
          type: object
          description: 'Comparison to a planned training target. Populated only when

            the session was linked to a target (`hasTrainingTarget=true`

            in the history listing).

            '
          additionalProperties: true
    RoutePoint:
      type: object
      description: One trackpoint of a route.
      required:
      - latitude
      - longitude
      - altitude
      - distance
      properties:
        latitude:
          type: number
          description: WGS84 latitude, degrees.
        longitude:
          type: number
          description: WGS84 longitude, degrees.
        altitude:
          type: number
          description: Elevation in metres above sea level. Use 0 if absent in source.
        distance:
          type: number
          description: '**Cumulative** distance from route start, in metres

            (haversine on lat/lon). The first point is `0`.

            '
    RouteImport:
      type: object
      description: 'Request body for POST /api/favorites/trainingTargets/importRoute.

        Built client-side from a parsed GPX/TCX file. Each trackpoint

        carries its **cumulative** distance from the start, in metres.

        '
      required:
      - route
      - name
      - distance
      properties:
        route:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RoutePoint'
        sport:
          type: integer
          description: 'sportId from /api/sports/sports, or null for sport-agnostic.

            '
          nullable: true
        name:
          type: string
          description: Route name (typically from `<gpx><metadata><name>`).
        distance:
          type: number
          description: 'Total route length in metres. Equals the last trackpoint''s

            cumulative `distance`.

            '
    Waypoint:
      type: object
      description: 'Read-back waypoint shape. Field names differ from the upload

        `RoutePoint`: instead of cumulative `distance`, the server

        synthesizes a sequence `time` in milliseconds (1000ms per point

        regardless of original GPS sampling — for the watch''s navigation

        ordering, not for actual elapsed time).

        '
      required:
      - latitude
      - longitude
      - time
      properties:
        latitude:
          type: number
        longitude:
          type: number
        altitude:
          type: number
        time:
          type: integer
          description: 'Sequence index in milliseconds (0, 1000, 2000, …). NOT actual

            elapsed time, since the original GPX usually has no

            timestamps.

            '
    GpsRoute:
      type: object
      description: 'Full route geometry. Returned by

        `GET /api/favorites/exerciseTarget/{exerciseTargetId}` for ROUTE

        favorites.

        '
      required:
      - waypoints
      - distance
      - startPoint
      properties:
        id:
          type: integer
          description: 'Internal route id — observed null in responses; Polar tracks

            routes by their parent exerciseTargetId.

            '
          nullable: true
        user:
          type: object
          required:
          - id
          properties:
            id:
              type: integer
              format: int64
        name:
          type: string
        parentRouteId:
          type: integer
          nullable: true
        order:
          type: integer
          nullable: true
        distance:
          type: number
          description: Total length, metres.
        startPoint:
          $ref: '#/components/schemas/Waypoint'
        waypoints:
          type: array
          items:
            $ref: '#/components/schemas/Waypoint'
    FavoriteExerciseTarget:
      type: object
      description: 'Response of GET /api/favorites/exerciseTarget/{exerciseTargetId}.

        For ROUTE-type favorites this is the only place to read back the

        uploaded GPS waypoints.

        '
      properties:
        id:
          type: integer
          format: int64
          description: exerciseTargetId
        type:
          type: string
          enum:
          - VOLUME
          - STEADY_RACE_PACE
          - PHASED
          - ROUTE
        distance:
          type: number
          description: Metres
          nullable: true
        duration:
          type: string
          description: HH:MM:SS or null
          nullable: true
        kiloCalories:
          type: integer
          nullable: true
        index:
          type: integer
          description: Position in a multi-target sequence (null for single targets).
          nullable: true
        modified:
          type: string
          description: Observed null even after edits — TBD.
          nullable: true
        created:
          type: string
          nullable: true
        segmentId:
          type: integer
          description: Populated for Strava-segment favorites.
          nullable: true
        routeServiceRoute:
          description: Populated for Strava/Komoot-imported routes. Shape TBD.
        favoritePhases:
          type: array
          description: Populated only for PHASED favorites.
          items:
            $ref: '#/components/schemas/Phase'
        sport:
          description: 'Sport object when set, null otherwise. Shape per

            `FavoriteSimple.sport`.

            '
        gpsRoute:
          oneOf:
          - $ref: '#/components/schemas/GpsRoute'
          - type: 'null'
          description: GPS geometry. Present (non-null) for ROUTE type.
    FavoriteCreate:
      type: object
      description: 'Request body for POST /api/favoritetarget. Identical to

        TrainingTargetCreate minus the `datetime` field — a favorite is a

        date-less template.

        '
      required:
      - type
      - name
      - exerciseTargets
      properties:
        type:
          type: string
          enum:
          - VOLUME
          - STEADY_RACE_PACE
          - PHASED
        name:
          type: string
        description:
          type: string
        exerciseTargets:
          type: array
          items:
            $ref: '#/components/schemas/ExerciseTarget'
    Favorite:
      type: object
      description: 'Response body of GET /api/favoritetarget/{id} and request body of

        POST /api/favoritetarget/{id} (update). Adds `index` (and the

        existing `id`) fields to each exerciseTarget vs the create shape.

        '
      required:
      - type
      - name
      - exerciseTargets
      properties:
        type:
          type: string
          enum:
          - VOLUME
          - STEADY_RACE_PACE
          - PHASED
        name:
          type: string
        description:
          type: string
        exerciseTargets:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ExerciseTarget'
            - type: object
              properties:
                index:
                  type: integer
                  description: Position within the exerciseTargets array.
    FavoriteListing:
      type: object
      description: 'One element of `GET /api/favorites.targets[]`. Uses a different

        unit convention from `GET /api/favorites/favoriteTargetsJson`

        (duration here is milliseconds; there it''s HH:MM:SS string).

        '
      properties:
        favoriteId:
          type: integer
          format: int64
          description: The id used in `/api/favoritetarget/{id}` URLs.
        exerciseTargetId:
          type: integer
          format: int64
          description: Inner exercise-target id (distinct from favoriteId).
        sportName:
          type: string
          description: 'UPPERCASE sport enum (e.g. `"RUNNING"`), NOT the locale-resolved

            display string. Map to localized name via /api/sports/sports.

            '
        sportId:
          type: integer
        type:
          type: string
          enum:
          - VOLUME
          - STEADY_RACE_PACE
          - PHASED
          - ROUTE
          description: 'Favorite kind. `ROUTE` is only present for entries created via

            `POST /api/favorites/trainingTargets/importRoute`.

            '
        favoriteName:
          type: string
        favoriteDescription:
          type: string
        duration:
          type: integer
          description: 'Duration in **milliseconds** (or null). NB: differs from

            FavoriteSimple where duration is `HH:MM:SS` string.

            '
          nullable: true
        distance:
          type: number
          description: Metres, or null.
          nullable: true
        calories:
          type: integer
          nullable: true
        segmentId:
          type: integer
          nullable: true
        segmentType:
          type: string
          nullable: true
        routeSource:
          type: string
          nullable: true
        externalRouteIdentifier:
          type: string
          nullable: true
        supportedDevices:
          type: array
          items: {}
        supportedDeviceIds:
          type: array
          items:
            type: integer
    FavoritesListing:
      type: object
      description: Response body of GET /api/favorites.
      required:
      - hasErrors
      - linkedServices
      - targets
      properties:
        hasErrors:
          type: boolean
        linkedServices:
          type: object
          description: Third-party integration link status (booleans).
          properties:
            strava:
              type: boolean
            komoot:
              type: boolean
            nike:
              type: boolean
            myfitnesspal:
              type: boolean
            trainingpeaks:
              type: boolean
        targets:
          type: array
          items:
            $ref: '#/components/schemas/FavoriteListing'
    FavoriteSimple:
      type: object
      description: 'Response element of GET /api/favorites/favoriteTargetsJson.

        Used by the diary "Add training target" picker.

        '
      properties:
        id:
          type: integer
          format: int64
          description: favoriteId
        name:
          type: string
        sport:
          type: object
          description: Embedded sport object (not just an id).
          properties:
            id:
              type: integer
            name:
              type: string
              description: UPPERCASE enum
            localizedName:
              type: string
              nullable: true
            defaultSpeedViewSetting:
              type: string
              enum:
              - PACE
              - SPEED
            sportType:
              type: string
              description: Enum, e.g. SINGLE_SPORT
            iconUrl:
              type: string
              format: uri
              nullable: true
            powerZonesRelevant:
              type: boolean
            tapActive:
              type: boolean
        iconUrl:
          type: string
          format: uri
          nullable: true
        description:
          type: string
        date:
          type: string
          description: Always empty `""` for favorites (favorites have no date).
        time:
          type: string
          description: Always empty `""` for favorites.
        distance:
          type: string
          description: 'Rendered as a **string**. `""` when null, otherwise the numeric

            value as a string. Unit unclear without a sample (TODO).

            '
        duration:
          type: string
          description: '**HH:MM:SS string** here (contrast with `FavoriteListing.duration`

            which is milliseconds for the same data). `""` when null.

            '
          example: 00:30:00
        kiloCalories:
          type: string
          description: Same string-or-empty convention as distance.
        url:
          type: string
          description: '⚠ Polar''s UI serves `/target/{favoriteId}` here, but that''s

            the training-target editor and 400s for favorite ids. The

            correct editor URL is `/target/favorite/{favoriteId}`.

            '
    UserIdentity:
      type: object
      required:
      - userName
      - id
      properties:
        userName:
          type: string
          format: email
[...]
