openapi: 3.0.3
info:
  title: Polar Flow Web API (unofficial)
  description: 'Unofficial reverse-engineered API for flow.polar.com.

    Built by observing browser network traffic — NOT based on the official AccessLink API.

    Use a test account only. No warranty.

    '
  version: 0.0.1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: Reverse-engineering project
servers:
- url: https://flow.polar.com
  description: Production (use test account only)
security:
- sessionCookie: []
tags:
- name: training-targets
  description: Training target (workout plan) management
- name: training-sessions
  description: Completed training sessions (manual entry + history)
- name: calendar
  description: Calendar event queries
- name: account
  description: Current user profile, settings, and physical info
- name: favorites
  description: Favorite training-target templates and route favorites
- name: activity
  description: Activity / steps / inactivity rollups
- name: sleep
  description: Sleep nights (lives on sleep-api.flow.polar.com subdomain)
- name: progress
  description: Aggregated progress / report totals (weekly, monthly, yearly)
- name: sport-profiles
  description: Per-sport device configuration ("Profils sportifs"); device-synced, read/delete only on the web API
paths:
  /api/trainingtarget:
    post:
      summary: Create a training target
      description: "Create a planned workout (training target). The `type` field selects the\nshape:\n\n- **VOLUME** — one\
        \ metric only: set exactly one of `duration` / `distance` /\n  `calories` on the single exerciseTarget; leave `phases`\
        \ empty (`[]`).\n- **STEADY_RACE_PACE** — a time-trial: set both `duration` and `distance`\n  (pace is implicit);\
        \ `phases` empty.\n- **PHASED** — a structured workout: populate `exerciseTargets[].phases`.\n\n### Modelling phases\
        \ (PHASED)\n\nA phase is either a **PhaseLeaf** (`phaseType: \"PHASE\"`) or a **PhaseRepeat**\n(`phaseType: \"REPEAT\"\
        `) that loops nested leaves. Guidance below is verified\nagainst the live API (probe captures in `captures/post-bodies/probe-*.json`):\n\
        \n- **Steady / continuous block** → use a single bare PhaseLeaf directly in\n  `phases` (see the `steadyBlock` example).\
        \ Do **not** wrap it in a REPEAT.\n- **Intervals** → use a REPEAT with `repeatCount` ≥ 2 (see `phasedRepeat`).\n-\
        \ **`repeatCount`**: the **server accepts 1** but silently unwraps a\n  single-rep REPEAT into a plain PHASE on read-back,\
        \ so it is pointless — the\n  Flow UI enforces a minimum of 2. Prefer a bare PhaseLeaf for one block.\n- **Recovery\
        \ is optional**: a REPEAT may hold just one work phase with no\n  trailing rest leaf (verified — the server rolls\
        \ the nested duration into\n  the exerciseTarget's top-level `duration`). To add recovery between reps,\n  append\
        \ a second leaf (typically `intensityType: \"NONE\"`).\n- **`duration`** uses strict `\"HH:MM:SS\"`; `\"00:00:00\"\
        ` is accepted but\n  meaningless. Set on a leaf iff `goalType: \"DURATION\"`; set `distance`\n  (metres) iff `goalType:\
        \ \"DISTANCE\"`.\n- **Multi-sport**: pass multiple `exerciseTargets` entries (see `multisport`);\n  the server assigns\
        \ each a sequential read-only `index`.\n\nWrites require the `X-Requested-With: XMLHttpRequest` header (CSRF defense).\n"
      operationId: createTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingTargetCreate'
            examples:
              volumeDuration:
                summary: VOLUME — duration target (Durée)
                value:
                  type: VOLUME
                  name: 60 min easy run
                  description: ''
                  datetime: 2026-05-29T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    phases: []
                    duration: 01:00:00
                    id: null
              volumeDistance:
                summary: VOLUME — distance target (Distance), distance in METRES
                value:
                  type: VOLUME
                  name: 5km easy
                  description: ''
                  datetime: 2026-05-30T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: 5000
                    calories: null
                    phases: []
                    duration: null
                    id: null
              volumeCalories:
                summary: VOLUME — calorie target (Calories)
                value:
                  type: VOLUME
                  name: 500 kcal burn
                  description: ''
                  datetime: 2026-05-31T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: 500
                    phases: []
                    duration: null
                    id: null
              steadyRacePace:
                summary: STEADY_RACE_PACE — time-trial (Fonction contre la montre)
                value:
                  type: STEADY_RACE_PACE
                  name: 5km in 30:00
                  description: ''
                  datetime: 2026-07-01T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: 5000
                    calories: null
                    phases: []
                    duration: 00:30:00
                    id: null
              phasedHrZones:
                summary: PHASED — 2 phases, heart-rate-zone intensity (Par phases)
                value:
                  type: PHASED
                  name: interval session
                  description: ''
                  datetime: 2026-06-02T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: main
                      phaseChangeType: AUTOMATIC
                      goalType: DISTANCE
                      distance: 5000
                      duration: null
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 3
                    - phaseType: PHASE
                      name: cooldown
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:10:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 3
              phasedNoIntensity:
                summary: PHASED — single phase, "Utiliser les zones" unchecked → intensityType NONE
                value:
                  type: PHASED
                  name: open phase
                  description: ''
                  datetime: 2026-06-04T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: open
                      phaseChangeType: AUTOMATIC
                      goalType: DISTANCE
                      distance: 5000
                      duration: null
                      intensityType: NONE
                      lowerZone: null
                      upperZone: null
              steadyBlock:
                summary: PHASED — single continuous Z2 block (steady). One bare PhaseLeaf, no REPEAT wrapper. Verified via
                  probe-C-steady-hrz.json (201).
                value:
                  type: PHASED
                  name: 45 min Z2
                  description: ''
                  datetime: 2026-06-10T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: Z2 steady
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:45:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 2
                      upperZone: 2
              phasedRepeat:
                summary: 'PHASED — interval block: REPEAT (4×) work + recovery. repeatCount ≥ 2.'
                value:
                  type: PHASED
                  name: 4x3min intervals
                  description: ''
                  datetime: 2026-06-23T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: REPEAT
                      repeatCount: 4
                      phases:
                      - phaseType: PHASE
                        name: work
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        distance: null
                        duration: 00:03:00
                        intensityType: HEART_RATE_ZONES
                        lowerZone: 4
                        upperZone: 5
                      - phaseType: PHASE
                        name: recovery
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        distance: null
                        duration: 00:02:00
                        intensityType: NONE
                        lowerZone: null
                        upperZone: null
              phasedManual:
                summary: PHASED — phaseChangeType MANUAL (advance on user button press). From capture 10-phased-manual.json.
                value:
                  type: PHASED
                  name: manual-advance phase
                  description: ''
                  datetime: 2026-06-05T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: warmup
                      phaseChangeType: MANUAL
                      goalType: DURATION
                      distance: null
                      duration: 00:10:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 1
                      upperZone: 2
              phasedPower:
                summary: PHASED — POWER_ZONES on a power-capable sport (cycling, sportId 2). From capture 11-phased-power.json.
                value:
                  type: PHASED
                  name: power intervals
                  description: ''
                  datetime: 2026-06-06T09:00
                  exerciseTargets:
                  - sportId: 2
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: threshold
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:20:00
                      intensityType: POWER_ZONES
                      lowerZone: 3
                      upperZone: 4
              multisport:
                summary: Multi-sport — two exerciseTargets (run then bike). Server assigns a sequential `index` per entry.
                  From capture 13-multisport.json.
                value:
                  type: PHASED
                  name: brick session
                  description: ''
                  datetime: 2026-06-07T09:00
                  exerciseTargets:
                  - sportId: 1
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: run
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:30:00
                      intensityType: HEART_RATE_ZONES
                      lowerZone: 2
                      upperZone: 3
                  - sportId: 2
                    distance: null
                    calories: null
                    duration: null
                    id: null
                    phases:
                    - phaseType: PHASE
                      name: bike
                      phaseChangeType: AUTOMATIC
                      goalType: DURATION
                      distance: null
                      duration: 00:45:00
                      intensityType: POWER_ZONES
                      lowerZone: 2
                      upperZone: 3
      responses:
        '201':
          description: 'Created successfully. Response body is the new training-target id

            as a bare string (e.g. `1453858954`) — not JSON, not empty.

            Same shape as `POST /api/favoritetarget`.

            '
          content:
            text/plain:
              schema:
                type: string
                pattern: ^[0-9]+$
              example: '1453858954'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                timeConflict:
                  summary: Two targets at the same time
                  value:
                    time:
                    - error.trainingTarget.twoTargetsForSameTime
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/trainingtarget/{id}:
    parameters:
    - $ref: '#/components/parameters/TrainingTargetId'
    get:
      summary: Read a training target
      description: "Returns the server-normalized training-target object. Discovered during\nupdate-endpoint probing 2026-05-26\
        \ — same URL as `updateTrainingTarget`.\n\n**The read-back shape is NOT identical to the create payload.** The server\n\
        normalizes the stored shape, and a client that feeds this body back into\n`updateTrainingTarget` must account for\
        \ these read/send asymmetries\n(all verified 2026-06-08, probe-E-roundtrip-update.json):\n\n- `exerciseTargets[].duration`\
        \ / `.distance` are **rolled up** from the\n  phases on PHASED targets (e.g. a 4×3-min loop → `duration: \"00:12:00\"\
        `),\n  so they are non-null on read even though create sends them null.\n- `exerciseTargets[].index` is server-assigned\
        \ (0, 1, …) and read-only.\n- Each PHASE leaf reads back with `goalType` as the **authoritative** goal\n  discriminator.\
        \ A `goalType: DISTANCE` leaf reads back with BOTH its real\n  `distance` AND a phantom `duration: \"00:00:00\"`;\
        \ a `goalType: DURATION`\n  leaf omits `distance`. Do not infer the goal from field presence.\n- `intensityType: NONE`\
        \ phases read back `lowerZone`/`upperZone` as `0`\n  (zero-sentinel), not the `null` that create sends.\n\nNone of\
        \ these break a round-trip — the server tolerates all of them on\nupdate (see `updateTrainingTarget`). They only break\
        \ a *client* that\nre-derives goal/volume from field presence instead of the explicit\n`goalType` / `type` fields.\n"
      operationId: getTrainingTarget
      tags:
      - training-targets
      responses:
        '200':
          description: The training target as JSON. Shape mirrors the create payload plus server-assigned ids and rolled-up
            totals.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/TrainingTargetCreate'
                - type: object
                  description: Extra read-only fields the server adds on read-back.
                  properties:
                    sourceProgramType:
                      type: string
                      description: Origin program of the target (e.g. `UNKNOWN`).
                      example: UNKNOWN
                    isUserEditable:
                      type: boolean
                      description: True when the signed-in user may edit/delete this target.
              examples:
                steadyBlock:
                  summary: Single-phase steady block read-back (from probe-C-steady-hrz.json)
                  value:
                    datetime: 2026-06-10T09:00
                    sourceProgramType: UNKNOWN
                    isUserEditable: true
                    name: probe-c-steady
                    exerciseTargets:
                    - id: 1530890858
                      duration: 00:45:00
                      distance: null
                      calories: null
                      index: 0
                      sportId: 1
                      phases:
                      - id: 2912772577
                        lowerZone: 2
                        upperZone: 2
                        intensityType: HEART_RATE_ZONES
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        duration: 00:45:00
                        name: Z2 steady
                        phaseType: PHASE
                    description: ''
                    type: PHASED
                intervalRolledUp:
                  summary: REPEAT block read-back — top-level duration is rolled up (4 × 00:03:00 → 00:12:00). From probe-D-no-recovery.json.
                  value:
                    datetime: 2026-06-10T12:00
                    sourceProgramType: UNKNOWN
                    isUserEditable: true
                    name: probe-d-norecovery
                    exerciseTargets:
                    - id: 1530890861
                      duration: 00:12:00
                      distance: null
                      calories: null
                      index: 0
                      sportId: 1
                      phases:
                      - repeatCount: 4
                        phaseType: REPEAT
                        phases:
                        - id: 2912772580
                          lowerZone: 4
                          upperZone: 5
                          intensityType: HEART_RATE_ZONES
                          phaseChangeType: AUTOMATIC
                          goalType: DURATION
                          duration: 00:03:00
                          name: work
                          phaseType: PHASE
                    description: ''
                    type: PHASED
                namedPhases:
                  summary: 'Custom per-phase names (the "rename phase" feature). Each phase carries a free-text `name` shown
                    in the workout breakdown; names are independent of `intensityType` (here `NONE`, no training zones). Structure:
                    a warm-up leaf, a 7× work/recovery REPEAT group, then a cool-down leaf — the top-level `duration` (00:12:30)
                    is rolled up from all phases.'
                  value:
                    datetime: 2026-06-01T08:00
                    sourceProgramType: UNKNOWN
                    isUserEditable: true
                    name: Mobility routine
                    exerciseTargets:
                    - id: 1531113664
                      duration: 00:12:30
                      distance: null
                      calories: null
                      index: 0
                      sportId: 57
                      phases:
                      - id: 2913183561
                        lowerZone: 0
                        upperZone: 0
                        intensityType: NONE
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        duration: 00:01:00
                        name: Warm-up
                        phaseType: PHASE
                      - repeatCount: 7
                        phaseType: REPEAT
                        phases:
                        - id: 2913183562
                          lowerZone: 0
                          upperZone: 0
                          intensityType: NONE
                          phaseChangeType: AUTOMATIC
                          goalType: DURATION
                          duration: 00:01:15
                          name: Work
                          phaseType: PHASE
                        - id: 2913183563
                          lowerZone: 0
                          upperZone: 0
                          intensityType: NONE
                          phaseChangeType: AUTOMATIC
                          goalType: DURATION
                          duration: 00:00:15
                          name: Recovery
                          phaseType: PHASE
                      - id: 2913183564
                        lowerZone: 0
                        upperZone: 0
                        intensityType: NONE
                        phaseChangeType: AUTOMATIC
                        goalType: DURATION
                        duration: 00:01:00
                        name: Cool-down
                        phaseType: PHASE
                    description: ''
                    type: PHASED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No training target with that id (or it belongs to another user).
    post:
      summary: Update a training target (full replace)
      description: "Replaces the training target with the supplied body. **POST**, not PUT\nor PATCH — sending PUT returns\
        \ 404. The body shape is identical to\n`POST /api/trainingtarget` (create), with two requirements for\nsuccessful\
        \ field updates:\n\n1. Include the **existing `exerciseTargets[].id`** from\n   `GET /api/trainingtarget/{id}`. Sending\
        \ `id: null` is accepted\n   (returns 200) but **silently no-ops the exerciseTarget update** —\n   only top-level\
        \ fields (`name`, `description`, `datetime`) land.\n2. Same field semantics as create (distance in metres, datetime\
        \ without\n   timezone, phaseType `PHASE`/`REPEAT`, etc.).\n\nReturns **200 with an empty body** on success — note\
        \ this differs from\n`POST /api/trainingtarget` (create), which returns the new id as a\nbare string.\n\n**The GET\
        \ read-back round-trips safely.** You can take the\n`GET /api/trainingtarget/{id}` body, change what you want, and\
        \ POST it\nstraight back — the server tolerates every field the read adds that create\nomits: the rolled-up `exerciseTargets[].duration`/`.distance`,\
        \ the\nread-only `index`, the phantom `duration: \"00:00:00\"` on DISTANCE phases,\nthe `0` zone-sentinels on NONE\
        \ phases, and the server-assigned phase `id`s\n(all verified 2026-06-08). The **only** hard requirement is keeping\
        \ each\n`exerciseTargets[].id` (sending `id: null` no-ops that entry — see below).\nA client should NOT add pre-flight\
        \ validation that rejects these fields;\ndoing so produces a \"valid request refused before it is sent\" bug while\
        \ the\nAPI would have accepted it.\n\n**No date validation on update.** A `datetime` in the past or future is\naccepted\
        \ (200) — unlike `POST /api/training/create` (a *different*\nendpoint) which 400s on future dates. Do not guard update\
        \ calls on the\nclock.\n\nRe-read via `GET /api/trainingtarget/{id}` to confirm the change\nlanded (especially when\
        \ modifying exerciseTargets).\n"
      operationId: updateTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingTargetCreate'
            example:
              type: VOLUME
              name: Renamed run
              description: updated description
              datetime: 2026-08-16T10:30
              exerciseTargets:
              - sportId: 2
                distance: 8000
                duration: null
                calories: null
                phases: []
                id: 1530729599
      responses:
        '200':
          description: Updated successfully. Empty body.
        '400':
          description: Validation error (e.g. time conflict). Same envelope as create.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/target/{id}:
    delete:
      summary: Delete a training target
      description: 'Delete a planned training target by id.


        ⚠ Note the **inconsistent path prefix**: this endpoint lives under

        `/training/target/{id}`, NOT `/api/trainingtarget/{id}` (which is used for

        create/read/update). There is **no trailing slash** (unlike session delete,

        `DELETE /api/training/deleteTrainingSession/{id}/`, which requires one).


        Returns 200 with an empty body. Idempotent in practice — deleting an

        already-gone id still returns 200.

        '
      operationId: deleteTrainingTarget
      tags:
      - training-targets
      parameters:
      - $ref: '#/components/parameters/TrainingTargetId'
      responses:
        '200':
          description: Deleted successfully. Response body is empty.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/getCalendarEvents:
    get:
      summary: List calendar events (includes training targets)
      description: 'Returns all diary events (training sessions, targets, etc.) for a date range.

        The response is polymorphic by `type`: training targets appear with `type: "TRAININGTARGET"`; fitness-test results
        appear with `type: "FITNESSDATA"` (different field set — carries calendar-styling colours and `index`/`timestamp`,
        and uses camelCase `listItemId` instead of `ListItemId`). See `CalendarEvent` for the per-type field notes.

        Date format: D.M.YYYY (no leading zeros).

        '
      operationId: getCalendarEvents
      tags:
      - calendar
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
        description: Start date in D.M.YYYY format (e.g. 27.4.2026)
        example: 27.4.2026
      - name: end
        in: query
        required: true
        schema:
          type: string
        description: End date in D.M.YYYY format (e.g. 7.6.2026)
        example: 7.6.2026
      responses:
        '200':
          description: List of calendar events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalendarEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/sports:
    get:
      summary: List all sports with their numeric IDs
      description: 'Returns a flat object mapping numeric sport ID (as string key) to the

        internal sport name constant. Use these IDs as `sportId` in training

        target requests. This endpoint requires no auth — observed to load

        without a session cookie during form initialisation.

        '
      operationId: getSports
      tags:
      - training-targets
      security: []
      responses:
        '200':
          description: Map of sport ID → sport name constant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsMap'
              example:
                '1': RUNNING
                '2': CYCLING
                '3': WALKING
                '38': ROAD_BIKING
        '404':
          description: Not found
        '500':
          description: Server error
  /api/sports/profiles:
    get:
      summary: List the user's sport profiles
      description: 'Returns the signed-in user''s **sport profiles** ("Profils sportifs",

        reached in the web UI via *Compte → Profils sportifs*, served by the

        server-rendered `/settings/sports` page).


        Sport profiles are the per-sport device configuration (training views,

        auto-lap, zones, sensor/GPS settings). **Create/update is NOT on this

        `/api/sports/*` resource** (`POST`/`PUT`/`PATCH` here all 404). It lives on

        the legacy `/settings/sports/*` controller instead:

        **create = `POST /settings/sports/add`**, **update =

        `POST /settings/sports/save`** (verified 2026-06-01 from a device-paired

        account — see `docs/endpoints/sport-profiles.md`).


        Note those settings endpoints key profiles by a **numeric** id, whereas

        this `/api/sports/profiles/{id}` resource validates a **UUID** — the two id

        systems are not yet reconciled.


        **Empty on a device-less account.** On the free test account this returns

        `[]`, and `GET /api/account/users/current/user` likewise reports

        `sportProfiles: []`. A populated element shape could not be captured — see

        `SportProfile` for the partially-inferred element schema and TODOs.


        A `sportId` query parameter is accepted but had no visible effect on the

        empty account (still `[]`).

        '
      operationId: listSportProfiles
      tags:
      - sport-profiles
      parameters:
      - name: sportId
        in: query
        required: false
        schema:
          type: integer
        description: 'Optional sport filter (same id space as `GET /api/sports/sports`).

          Accepted on the empty test account but its filtering effect could not

          be confirmed. # TODO: verify against a populated account.

          '
        example: 1
      responses:
        '200':
          description: Array of the user's sport profiles (empty on a device-less account).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SportProfile'
              examples:
                empty:
                  summary: Device-less / free account
                  value: []
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/sports/profiles/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 'The sport profile''s **UUID** (the `id` field from

        `GET /api/sports/profiles`, **not** the numeric `sportId`). A non-UUID

        value returns `400 Invalid UUID: <value>` (plain text).

        '
      example: 7ae78bae-6ee6-47aa-9128-a2ee5cd0a138
    get:
      summary: Read a single sport profile
      description: 'Returns one sport profile by its UUID.


        **Not exercised against a real profile.** The test account has no synced

        sport profiles, so this could not be observed returning `200`. Probing

        with arbitrary UUIDs returned `400` with a plain-text

        `Invalid request: Invalid UUID: <value>` body — meaning either the id

        must match an existing profile, or Polar uses a stricter/custom id

        encoding than a canonical v4 UUID. # TODO: verify the success shape and the

        exact id format using an account with a device-synced profile.

        '
      operationId: getSportProfile
      tags:
      - sport-profiles
      responses:
        '200':
          description: The sport profile (shape not yet captured — see `SportProfile`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfile'
        '400':
          description: 'Malformed id. Plain-text body, e.g.

            `Invalid request: Invalid UUID: 1`.

            '
          content:
            text/plain:
              schema:
                type: string
              example: 'Invalid request: Invalid UUID: 1'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      summary: Delete a sport profile
      description: 'Deletes a sport profile by its UUID. The route **exists** (verified

        2026-06-01). Note create/update are not on this `/api/sports/*` resource —

        they live on the legacy `/settings/sports/{add,save}` controller (numeric

        ids); whether delete also has a `/settings/sports/*` equivalent is unknown.


        **Could not reach the success path** on the device-less test account:

        deleting a non-existent UUID returned `500` with an empty body rather than

        a clean `404`, so the success status/body for an existing profile is

        unconfirmed. # TODO: verify against a real profile (expect a 200, by

        analogy with the other Polar delete endpoints). Note this is a genuinely

        destructive operation — only exercise it on a throwaway profile.


        Like other `/api/*` writes this requires the

        `X-Requested-With: XMLHttpRequest` header.

        '
      operationId: deleteSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Profile deleted (status inferred — not captured against a real profile).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: 'Returned (empty body) when the id does not resolve to a profile on

            this account — observed in place of a clean 404 while probing.

            '
  /settings/sports/add:
    post:
      summary: Add (create) a sport profile
      description: 'Creates a new sport profile for the signed-in user from a `sportId`. This

        is the **real create endpoint** for sport profiles (the `/api/sports/*`

        family does not expose one). Captured 2026-06-01 from a device-paired

        account.


        Body is **form-encoded** (`application/x-www-form-urlencoded`), a single

        `sportId` field. Requires `X-Requested-With: XMLHttpRequest`.


        Returns **200** with a `text/plain` body containing JSON: the new

        profile''s id (numeric, as a string), echoed `sportId`, icon, and

        creation date/time.

        '
      operationId: addSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - sportId
              properties:
                sportId:
                  type: integer
                  description: Sport to create a profile for (id space of `/api/sports/sports`).
                  example: 115
            example:
              sportId: 115
      responses:
        '200':
          description: Profile created. `text/plain` body containing JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportProfileAddResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/save:
    post:
      summary: Save (update) sport-profile settings and watch-screen layout
      description: 'Updates one or more sport profiles'' general device settings

        (`TrainingSettings`) and/or watch-screen layout (`TrainingDisplays`). This

        is the **update endpoint** that was previously missing — the layout save

        issued after editing a profile in *Compte → Profils sportifs*. Captured

        2026-06-01 from a device-paired account.


        Body is **JSON** with a `sports` map keyed by profile id; each value is an

        array of config blocks discriminated by `name` (`TrainingSettings`,

        `TrainingDisplays`). Requires `X-Requested-With: XMLHttpRequest`.


        Returns **200** with a `text/plain` body containing a JSON success

        message reminding the user to sync their device (changes apply on the

        watch only after the next sync).

        '
      operationId: saveSportProfile
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SportProfileSaveRequest'
      responses:
        '200':
          description: Saved. `text/plain` body containing a JSON success message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                    example: Modifications enregistrées, pensez à synchroniser votre dispositif.
              example:
                success: Modifications enregistrées, pensez à synchroniser votre dispositif.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/training-display-items/{productId}/{sportProfileId}:
    parameters:
    - name: productId
      in: path
      required: true
      schema:
        type: integer
      description: Polar device/watch model id (e.g. 268).
      example: 268
    - name: sportProfileId
      in: path
      required: true
      schema:
        type: integer
      description: '**Numeric** sport-profile id (e.g. 987654321). Note this is a plain

        integer — distinct from the UUID-style id used by the separate

        `/api/sports/profiles/{id}` resource (the two id systems have not been

        reconciled; see `docs/endpoints/sport-profiles.md`).

        '
      example: 987654321
    get:
      summary: List available training-display fields for a device + sport profile
      description: 'Returns the **catalog** of display fields the given device (`productId`)

        can show for the given sport profile, grouped by category — the palette

        the watch-screen layout editor offers. The user''s actual chosen layout is

        in `GET /settings/sports/training-display-lists/{productId}/{sportProfileId}`.


        Served by the legacy `/settings/*` controller (not under `/api/*`).

        Requires `X-Requested-With: XMLHttpRequest`. Observed to return the

        product/sport default catalog even from an account that does not own the

        profile (not strictly owner-scoped).

        '
      operationId: getTrainingDisplayItems
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Display-field catalog grouped by category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingDisplayCatalog'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/sports/training-display-lists/{productId}/{sportProfileId}:
    parameters:
    - name: productId
      in: path
      required: true
      schema:
        type: integer
      description: Polar device/watch model id (e.g. 268).
      example: 268
    - name: sportProfileId
      in: path
      required: true
      schema:
        type: integer
      description: '**Numeric** sport-profile id (e.g. 987654321) — see the note on the

        sibling `training-display-items` path about the two id systems.

        '
      example: 987654321
    get:
      summary: Read the configured training-display screens for a device + sport profile
      description: 'Returns the user''s current **watch-screen layout** for this profile: an

        array of display sets, each holding `displays` (the ordered screens, where

        each screen is a list of field ids from the catalog).


        Served by the legacy `/settings/*` controller. Requires

        `X-Requested-With: XMLHttpRequest`.


        **Read-only path.** This layout is *saved* via `POST /settings/sports/save`

        (as a `TrainingDisplays` block), not by writing back here — `PUT`/`POST`

        to this path return 404 (verified 2026-06-01).

        '
      operationId: getTrainingDisplayLists
      tags:
      - sport-profiles
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: The configured training-display screen sets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingDisplayList'
              example:
              - displays:
                - - 32
                  - 37
                  - 41
                  - 3
                - - 115
                - - 121
                - - 123
                name: TrainingDisplays
                productId: 268
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/create:
    post:
      summary: Create a training session (manual entry)
      description: 'Records a completed workout entered manually via the "Manual training

        result" form (`/exercises/add`). For file uploads (FIT/GPX/TCX) a

        different endpoint is used — TODO: capture.


        ⚠ Field-naming and unit conventions differ from

        POST /api/trainingtarget — see docs/endpoints/training-sessions.md

        for the cross-endpoint comparison.

        '
      operationId: createTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingSessionCreate'
            example:
              date: 2026-05-25T08:48+0200
              sport: 1
              duration: 1800
              distance: 0
              hrAverage: ''
              note: ''
              trainingSessionName: explore-session
              speedAverage: null
              kiloCalories: 0
              hrMax: ''
              feeling: null
              interpolatedHeartRateSamples: []
              saveHeartRateSamples: false
      responses:
        '200':
          description: 'Created successfully — empty body. The new session id is not

            returned; fetch it via POST /api/training/history.

            '
        '400':
          description: 'Validation failure — empty body. Observed when `date` is in the

            future.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/history:
    post:
      summary: List training sessions by date range
      description: 'Return completed training sessions for a user within an inclusive date

        range. Despite being a read, it is a **POST** with a JSON body.


        Each row''s `duration` is in **milliseconds** (1800000 = 30 min) and

        `sportName` is the user-locale display string (e.g. `"Course à pied"`),

        unlike the favorites endpoints which return the uppercase sport enum. Use a

        row''s `id` to fetch full analysis via

        `GET /api/training/analysis/{id}/summary` and `/details`.

        '
      operationId: listTrainingSessions
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userId
              - fromDate
              - toDate
              properties:
                userId:
                  type: integer
                  description: 'Numeric user ID — the `user.id` from

                    `GET /api/account/users/current/user` (verified 2026-05-29).

                    '
                  example: 11111111
                fromDate:
                  type: string
                  description: Inclusive start date `YYYY-MM-DD`.
                  example: '2026-04-25'
                toDate:
                  type: string
                  description: Inclusive end date `YYYY-MM-DD`.
                  example: '2026-05-25'
      responses:
        '200':
          description: Array of session summaries (empty array when none in range).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingSessionSummary'
              example:
              - id: 8349588454
                duration: 1800000
                distance: null
                hrAvg: 0
                calories: 350
                note: doc seed
                sportName: Course à pied
                sportId: 1
                startDate: '2026-05-28 08:00:00.000'
                recoveryTime: 0
                iconUrl: https://platform.cdn.polar.com/ecosystem/sport/icon/808d0882e97375e68844ec6c5417ea33-2024-04-16_06_01_39
                trainingLoadHtml: ''
                hasTrainingTarget: false
                swimmingSport: false
                swimmingPoolUnits: METERS
                trainingLoadProHtml: ''
                periodDataUuid: null
                isTest: false
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/analysis/{id}/summary:
    get:
      summary: Get a session's analysis summary
      description: 'Headline metrics and per-exercise statistics for the session-analysis

        page. Schema captured from a manual-entry session (many fields null

        without device upload).

        '
      operationId: getTrainingSessionSummary
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      responses:
        '200':
          description: Session summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/training/analysis/{id}/details:
    get:
      summary: Get a session's per-sample details (charts, laps, zones)
      description: 'Time-series sample data (HR, GPS, power, …), laps, zones, and

        per-exercise diagnostics used to draw the analysis charts. For a

        manually-entered session, all `samples[*][METRIC]` are null.

        '
      operationId: getTrainingSessionDetails
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/favorites/trainingTargets/importRoute:
    post:
      summary: Import a GPX/TCX route as a favorite
      description: 'Creates a route favorite (`type: "ROUTE"`) from a parsed GPX/TCX

        file. ⚠ The GPX/TCX is **parsed client-side**, not uploaded as

        multipart — the request body is JSON with the trackpoints already

        extracted. See `docs/endpoints/routes.md` for the parsing recipe.


        Note the unusual path shape (`trainingTargets` camelCased and

        plural, `importRoute` as a verb) — distinct from every other

        favorite endpoint.

        '
      operationId: importRoute
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteImport'
      responses:
        '200':
          description: 'Route created. **Empty response body.** Discover the new

            favoriteId via `GET /api/favorites` (look for `type: "ROUTE"`

            and matching `favoriteName`).

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favorites/trainingTargets/addExerciseRoute:
    post:
      summary: Create a route favorite from a recorded session's GPS track
      description: "Creates a new ROUTE-type favorite by extracting the GPS track from a\ncompleted training session's exercise.\
        \ Counterpart to\n`POST /api/favorites/trainingTargets/importRoute` — that one ingests\na GPX/TCX upload, this one\
        \ references an already-recorded session.\n\nDiscovered in the JS bundle as `addRouteToFavorites` mapping. Probed\n\
        2026-05-26 on an account with **no recorded sessions**, so the success\npath could not be reached. Validation findings\
        \ below are inferred from\nerror patterns.\n\n### Body shape (inferred)\n\nRequired field is `id` — when present (with\
        \ any value), the server\nreaches the data-load stage and returns Polar's familiar JSON error\nenvelope (`{\"error\"\
        :\"...itinéraire...\"}`). Any other field name\n(`exerciseId`, `trainingSessionId`, `tsid`, `sessionId`, …) is\nrejected\
        \ upfront by the body parser with a generic HTML 500.\n\nMost likely `id` refers to an **exercise id** within a session\
        \ — the\nURL path's \"addExerciseRoute\" wording and the existence of\nmulti-exercise sessions both point that way\
        \ — but it could also be\nthe trainingSessionId. # TODO: confirm on a device-synced account.\n\n### Other gotchas\n\
        \n- Method is POST. GET → 404, PUT/PATCH presumably likewise.\n- Missing `X-Requested-With: XMLHttpRequest` → 403.\n\
        - Error bodies use the same misleading boilerplate\n  (`\"...itinéraire...\"`) as other favorites endpoints.\n"
      operationId: addRouteToFavorites
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  format: int64
                  description: 'Source exercise (or session) id whose GPS track will be

                    copied into a new ROUTE favorite. # TODO: verify which one

                    — name suggests exercise; URL suggests "exercise route".

                    '
              example:
                id: 8346808740
      responses:
        '200':
          description: 'Expected success status (not yet verified — no sessions to test

            with). Probably returns 200 with the new favorite id as a bare

            string, mirroring `POST /api/favoritetarget`. # TODO: verify.

            '
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: 'Source exercise/session not found. Polar returns 500 (not 404) with

            a JSON envelope: `{"error":"Un problème est survenu lors de

            l''enregistrement de l''itinéraire. Réessayez."}` (locale-dependent).

            Same misleading boilerplate as `/api/favorites/saveName`. Empty

            body or wrong field names → generic HTML 500 instead.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/favorites/exerciseTarget/{id}:
    get:
      summary: Get a favorite's full exercise target (incl. route geometry)
      description: 'Returns the inner exercise target — for ROUTE favorites, this is

        where the **GPS waypoints** live. For other favorite types, this

        returns target metadata (distance, duration, phases) that''s also

        available via `GET /api/favoritetarget/{favoriteId}`.


        ⚠ Path parameter is the **exerciseTargetId** (the inner id), NOT

        the favoriteId. Get it from

        `GET /api/favorites.targets[].exerciseTargetId`.

        '
      operationId: getFavoriteExerciseTarget
      tags:
      - favorites
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: 'Inner exerciseTargetId (NOT favoriteId). Source:

          `GET /api/favorites.targets[].exerciseTargetId`.

          '
        example: 1530637488
      responses:
        '200':
          description: Exercise target with GPS geometry for ROUTE type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteExerciseTarget'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'Returned when caller passes a favoriteId instead of an

            exerciseTargetId — the lookup fails authorization rather

            than returning 404. Verify you''re passing the inner id.

            '
        '404':
          description: ExerciseTarget not found
  /api/favoritetarget:
    post:
      summary: Create a favorite (training-target template)
      description: 'Creates a reusable training-target template. Body shape is identical

        to POST /api/trainingtarget minus the `datetime` field.

        '
      operationId: createFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteCreate'
      responses:
        '201':
          description: 'Created. Body is the new favorite id as a **bare string**

            (e.g. `81371573`), not a JSON object. Parse as integer.

            '
          content:
            text/plain:
              schema:
                type: string
              example: '81371573'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favoritetarget/{id}:
    get:
      summary: Get a single favorite
      description: 'Read one favorite (training-target template) by `favoriteId`. Returns the

        create-shape body plus a server-assigned `exerciseTargets[].id` and `index`.


        For **ROUTE** favorites this returns only the thin metadata shell (no GPS

        geometry) — fetch the waypoints from

        `GET /api/favorites/exerciseTarget/{exerciseTargetId}` instead.

        '
      operationId: getFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      responses:
        '200':
          description: Favorite payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorite'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Favorite not found
    post:
      summary: Update a favorite
      description: 'Full-body update (no PUT/PATCH). Send the same shape as create plus

        the existing `exerciseTargets[i].id` value from GET. Returns 200

        with empty body on success.

        '
      operationId: updateFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Favorite'
      responses:
        '200':
          description: Updated. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Favorite not found
  /api/favorites/delete/{id}:
    delete:
      summary: Delete a favorite
      description: 'Verb-in-path REST violation (Polar''s choice, not ours). Note the

        `/favorites/delete/{id}` shape — distinct from create/get/update

        which all use `/favoritetarget/{id}`. The response body is

        non-empty (a localized success message).

        '
      operationId: deleteFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/FavoriteId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: string
                    description: 'Localized success message (depends on user''s

                      `flowLanguage`). Don''t pattern-match; trust the

                      200 status.

                      '
                    example: Favori supprimé
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Favorite not found
  /api/favorites:
    get:
      summary: List favorites (full shape)
      description: 'Returns favorites plus third-party integration link status. Used

        by the `/favorites` page.

        '
      operationId: listFavorites
      tags:
      - favorites
      responses:
        '200':
          description: Favorites listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoritesListing'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/favorites/saveName:
    put:
      summary: Rename a favorite (granular update)
      description: "Updates only the favorite's `name`. Distinct from\n`POST /api/favoritetarget/{id}` (full update) — this\
        \ endpoint takes a\ntiny `{favoriteId, favoriteName}` body and is the route Polar's React UI\nuses when the user edits\
        \ the rename field.\n\n### Method gotcha\n\nThe verb is **`PUT`**, not POST. Sending POST returns **404** (Play\n\
        binds the route to PUT only). This contrasts with most other\n`/api/favorites/*` write endpoints which use POST.\n\
        \n### Validation\n\n- `favoriteId` accepts both integer and string forms (`\"81388912\"`\n  works the same as `81388912`).\n\
        - Empty `favoriteName` → 400.\n- Missing fields → 400.\n- Unknown `favoriteId` → **500** (not 404). Worse, all error\
        \ bodies\n  carry the same boilerplate French/English message about a \"route\"\n  (`\"Un problème est survenu lors\
        \ de l'enregistrement de l'itinéraire.\n  Réessayez.\"`) regardless of which favorite type you're updating —\n  that's\
        \ a Polar copy/paste bug in the error catalog.\n\nMissing `X-Requested-With: XMLHttpRequest` → 403 (standard CSRF\
        \ guard,\nsame as the rest of `/api/*` writes).\n"
      operationId: renameFavorite
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - favoriteId
              - favoriteName
              properties:
                favoriteId:
                  oneOf:
                  - type: integer
                    format: int64
                  - type: string
                  description: Numeric favorite id. Accepts string form too.
                  example: 81388912
                favoriteName:
                  type: string
                  minLength: 1
                  description: New name. Empty string is rejected (400).
                  example: Long run — Sundays
      responses:
        '200':
          description: Renamed successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: string
                    description: Localised confirmation message (e.g. `"Modifications enregistrées"` in French, `"Changes
                      saved"` in English).
              example:
                success: Modifications enregistrées
        '400':
          description: 'Validation failure — missing fields or empty `favoriteName`. Body

            is a misleading boilerplate error (`{error: "...itinéraire..."}`)

            — Polar''s server reuses a route-import error string here.

            '
        '500':
          description: 'Server-side error — observed when `favoriteId` doesn''t exist.

            Polar returns 500 (not 404) with the same misleading error body

            as 400.

            '
  /api/favorites/saveSport:
    put:
      summary: Change a favorite's sport (granular update)
      description: 'Updates only the sport assignment of a favorite''s exerciseTarget.

        Takes `{favoriteId, favoriteSportId, exerciseTargetId}` — both the

        favorite-level id AND the inner exerciseTarget id are required because

        a favorite can hold multiple exerciseTargets (e.g. multi-sport sessions).


        ### Method gotcha


        Same as `saveName`: the verb is **`PUT`**, not POST.


        ### Validation surprises


        Polar''s server is **dangerously lenient** here. Probed 2026-05-26:


        | Body | Status |

        |---|---|

        | Missing `exerciseTargetId` | 400 |

        | Unknown `exerciseTargetId` | **200** (silent no-op — favorite not actually updated server-side) |

        | Unknown `favoriteSportId` (e.g. `9999`, not in `/api/sports/sports`) | **200** (sport id is accepted unchecked,
        then presumably 404s on watch sync) |

        | Missing other fields | 400 |


        Verify your changes by re-reading the favorite via

        `GET /api/favoritetarget/{id}` rather than trusting the 200.


        Error bodies share the same misleading boilerplate

        (`{error: "...itinéraire..."}`) as `saveName`.

        '
      operationId: changeFavoriteSport
      tags:
      - favorites
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - favoriteId
              - favoriteSportId
              - exerciseTargetId
              properties:
                favoriteId:
                  type: integer
                  format: int64
                  description: Numeric favorite id.
                  example: 81388912
                favoriteSportId:
                  type: integer
                  description: 'New sport id. **Not validated against the sport catalog**

                    — any integer is accepted (verified by sending 9999 and

                    receiving 200). Use a valid id from

                    `GET /api/sports/sports`.

                    '
                  example: 2
                exerciseTargetId:
                  type: integer
                  format: int64
                  description: 'Id of the inner exerciseTarget to retarget (one favorite can

                    hold multiple). Get it from

                    `GET /api/favoritetarget/{favoriteId}` →

                    `exerciseTargets[].id`. **Not validated** either — unknown

                    ids return 200 with no effect.

                    '
                  example: 1530728501
      responses:
        '200':
          description: 'Always returned on requests that include the three required fields,

            even when `exerciseTargetId` or `favoriteSportId` don''t exist.

            Re-read via `GET /api/favoritetarget/{id}` to confirm the change

            landed.

            '
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: string
              example:
                success: Modifications enregistrées
        '400':
          description: Required field missing.
  /api/favorites/favoriteTargetsJson:
    get:
      summary: List favorites (simple shape, used by diary picker)
      description: 'Returns a simpler array used by the diary''s "Add training target"

        picker. **Note:** `duration` is `HH:MM:SS` here vs milliseconds

        in `GET /api/favorites`. The embedded `sport` is a full sport

        object, not just an id.

        '
      operationId: listFavoritesSimple
      tags:
      - favorites
      responses:
        '200':
          description: Simple favorites list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FavoriteSimple'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/devices/favoriteTargets:
    get:
      summary: Per-device favorite assignments
      description: 'Returns the user''s devices and the favorites assigned to each.

        Empty `{devices: []}` for accounts without any paired device.

        Populated shape TBD.

        '
      operationId: listDeviceFavorites
      tags:
      - favorites
      responses:
        '200':
          description: Device favorite assignments
          content:
            application/json:
              schema:
                type: object
                required:
                - devices
                properties:
                  devices:
                    type: array
                    items: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/account/users/current/user:
    get:
      summary: Get the current user's profile
      description: 'Returns the authenticated user''s identity, localization preferences,

        and physical settings. Use the `user.id` value as `userId` in

        endpoints that require it (e.g. POST /api/training/history).


        See `docs/endpoints/account.md` for the field-by-field meaning and

        cross-endpoint naming inconsistencies (e.g. `height` here vs

        `heightCm` in the POST /settings form).

        '
      operationId: getCurrentUser
      tags:
      - account
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/activity-timeline/load:
    get:
      summary: Activity timeline (single day)
      description: 'Returns the activity / steps / HR / inactivity breakdown for a single

        calendar day, keyed by date in the response. The modern endpoint used by

        the `/diary/activity/<date>` view. Empty-account behaviour (no paired

        device): all numeric fields are zeroes, sample arrays are empty, but the

        envelope is returned with synthesized `activityZoneLimits` and report

        URLs — see captures/responses/14-activity-timeline-loadFour.json for the

        4-day variant; the single-day shape is identical, just with one key.

        '
      operationId: getActivityTimeline
      tags:
      - activity
      parameters:
      - name: day
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Target day in `YYYY-MM-DD` (server interprets in the user's timezone).
        example: '2026-05-26'
      - name: maxSampleCount
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 200
        description: 'Maximum number of timeline samples returned per array

          (`activityTimelineSamples`, `heartRateTimelineSamples`). Server

          downsamples beyond this. Defaults appear to be 200 in the UI.

          '
      responses:
        '200':
          description: Activity timeline payload keyed by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimelineByDate'
        '400':
          description: Missing or unparseable `day` parameter.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/activity-timeline/loadFour:
    get:
      summary: Activity timeline (4-day window)
      description: 'Same shape as `/api/activity-timeline/load`, but returns four

        consecutive days as a `{[YYYY-MM-DD]: ActivityTimelineDay}` map. The

        window observed is `[day-2, day-1, day, day+1]` — i.e. two days of

        history, the target day, and one day of look-ahead. Future-dated days

        beyond the latest synced data return `dataPanelData: null` (instead of

        zeroes) but keep the rest of the envelope.

        '
      operationId: getActivityTimelineFour
      tags:
      - activity
      parameters:
      - name: day
        in: query
        required: true
        schema:
          type: string
          format: date
        example: '2026-05-26'
      - name: maxSampleCount
        in: query
        required: false
        schema:
          type: integer
          default: 200
      responses:
        '200':
          description: Activity timeline payload for 4 days, keyed by date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTimelineByDate'
        '400':
          description: Missing or unparseable `day` parameter.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/features-available:
    get:
      summary: Probe feature-flag availability for the current user
      description: 'Returns availability of a comma-separated list of feature flags. Observed

        flag names: `balance`, `cardioload`, `polar-sso`, `gs2`,

        `training-session-trim`, `nightly-recharge`, `exercise-phase-index`.

        Premium / device-gated features (e.g. `cardioload`, `nightly-recharge`)

        return `available: false` for free / device-less accounts.

        '
      operationId: getFeaturesAvailable
      tags:
      - account
      parameters:
      - name: names
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated feature flag names.
        example: balance,cardioload,polar-sso
      responses:
        '200':
          description: Array of `{feature, available}` records, one per requested name.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - feature
                  - available
                  properties:
                    feature:
                      type: string
                      example: polar-sso
                    available:
                      type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/training/deleteTrainingSession/{id}/:
    delete:
      summary: Delete a training session
      description: '⚠ The path **must end with a trailing slash** — Polar''s app sends

        `/api/training/deleteTrainingSession/{id}/`. Sending without the

        trailing slash may 404.

        '
      operationId: deleteTrainingSession
      tags:
      - training-sessions
      parameters:
      - $ref: '#/components/parameters/TrainingSessionId'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Deleted successfully. Empty body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
  /api/sleep/report:
    get:
      summary: Sleep nights report
      description: "Returns one `SleepNight` per recorded night in the inclusive date range\n`[from, to]`. Lives on its own\
        \ subdomain — `https://sleep-api.flow.polar.com`\n— but reuses the `FLOW_SESSION` cookie via cross-origin credentials\n\
        (response carries `Access-Control-Allow-Credentials: true` and\n`Access-Control-Allow-Origin: https://flow.polar.com`).\n\
        \nBacked by the `getSleepNights` action in the Polar Flow JS bundle.\n\n### Range constraints (probed empirically\
        \ 2026-05-26)\n\n- `to - from` must be **≥ 30 days and ≤ 365 days**. Shorter or longer\n  ranges return `400` with\
        \ an empty body.\n- `from == to` (single day) → 400.\n- `from > to` → 400.\n\nThe 30-day floor is unusual — there's\
        \ no `/api/sleep/<date>` per-night\nendpoint (probed: 404), so to fetch a single night you must request the\nsurrounding\
        \ ≥30-day window and filter the response client-side.\n\n### Auth gotchas\n\n- Missing `X-Requested-With: XMLHttpRequest`\
        \ → 401 (the CSRF guard differs\n  from `flow.polar.com`'s — there 403, here 401).\n- The cross-origin CORS check\
        \ requires `Origin: https://flow.polar.com`,\n  which browsers set automatically when the calling page is on\n  `flow.polar.com`.\
        \ Non-browser clients must send it explicitly.\n- Empty body (`[]`) is the normal response on accounts with no synced\n\
        \  sleep-capable Polar device.\n"
      operationId: getSleepReport
      tags:
      - sleep
      servers:
      - url: https://sleep-api.flow.polar.com
        description: Sleep API (separate subdomain). Reuses FLOW_SESSION cookie via CORS.
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Inclusive start date (`YYYY-MM-DD`).
        example: '2026-02-25'
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Inclusive end date (`YYYY-MM-DD`). Must be ≥ 30 days and ≤ 365 days after `from`.
        example: '2026-05-26'
      - $ref: '#/components/parameters/XRequestedWith'
      responses:
        '200':
          description: Array of sleep nights, one per night with recorded data. Empty array when none.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SleepNight'
              example: []
        '400':
          description: 'Range invalid: too narrow (< 30 days inclusive), too wide (> 365 days),

            reversed (`from > to`), or malformed date format. Body is empty.

            '
        '401':
          description: 'Missing `X-Requested-With: XMLHttpRequest` header, missing/invalid

            `FLOW_SESSION` cookie, or CORS origin not whitelisted.

            '
  /progress/getProgressViewSummaryAsJson:
    post:
      summary: Training summary totals over a date range
      description: 'Returns aggregated training totals (sessions, distance, duration,

        calories, ascent/descent, zone time, sport distribution, training-benefit

        distribution) for the inclusive `[from, to]` date range.


        **Date format** here is `DD-MM-YYYY` with **dashes and leading zeros**

        (observed live: `{"from":"01-06-2026","to":"30-06-2026"}`) — note this

        differs from the dot-separated `D.M.YYYY` used by

        `/training/getCalendarWeekSummary` and `/training/getCalendarEvents`.

        The endpoint is lenient: it accepts malformed/missing dates without

        erroring on a zero-session account (it just returns zeros), so the

        dash form is what the UI sends rather than a hard requirement — strict

        validation behaviour on populated accounts is TBD.


        The Polar Flow JS bundle has a Coach-vs-free fork that picks

        `/progress/getSummaryDataAsJson` for Coach users and this URL for

        regular users — but **both URLs are reachable from a free account** and

        return the same schema. The "Coach gate" is purely client-side.

        '
      operationId: getProgressViewSummary
      tags:
      - progress
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  description: Inclusive start date, `DD-MM-YYYY` (dashes, leading zeros).
                  example: 01-06-2026
                to:
                  type: string
                  description: Inclusive end date, `DD-MM-YYYY` (dashes, leading zeros).
                  example: 30-06-2026
                group:
                  type: string
                  description: 'Time-bucket granularity for the breakdown — **not** a sport

                    filter (earlier guess was wrong). Observed live value:

                    `"MONTH"`. Other diary granularities (`DAY`/`WEEK`/`YEAR`)

                    are likely but unverified. # TODO: confirm full enum.

                    '
                  example: MONTH
                timeFrame:
                  type: string
                  description: 'Bucket size for the per-time-slice breakdowns. JS values

                    observed: `"6w"`, `"3m"`, `"1y"`. The server accepted

                    arbitrary strings (including empty / omitted) on the test

                    account, so it likely only influences how the breakdown is

                    grouped, not whether the request succeeds.

                    '
                  example: 6w
            examples:
              monthBucket:
                summary: Live-observed body from the diary report view.
                value:
                  from: 01-06-2026
                  to: 30-06-2026
                  group: MONTH
                  timeFrame: 6w
      responses:
        '200':
          description: Aggregated totals + distributions. Always returned with zeros on accounts with no recorded sessions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressViewSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /progress/getSummaryDataAsJson:
    post:
      summary: Training summary totals (Coach variant — same shape as getProgressViewSummaryAsJson)
      description: "Identical request/response shape to\n[POST /progress/getProgressViewSummaryAsJson](#operations-progress-getProgressViewSummary).\n\
        The Polar Flow JS bundle routes Coach users to this URL via:\n\n```js\nCommonHelpers.context.coach\n  ? \"/progress/getSummaryDataAsJson\"\
        \n  : \"/progress/getProgressViewSummaryAsJson\"\n```\n\nOn the free test account, both URLs return the same payload,\
        \ so the\nserver-side ACL (if any) is permissive. This alias is documented for\ncompleteness; clients should prefer\
        \ `getProgressViewSummaryAsJson`.\n"
      operationId: getSummaryData
      tags:
      - progress
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  description: Inclusive start, `DD-MM-YYYY` (dashes).
                  example: 01-06-2026
                to:
                  type: string
                  description: Inclusive end, `DD-MM-YYYY` (dashes).
                  example: 30-06-2026
                group:
                  type: string
                  description: Time-bucket granularity (e.g. `MONTH`), not a sport filter.
                  example: MONTH
                timeFrame:
                  type: string
                  example: 6w
      responses:
        '200':
          description: See `ProgressViewSummary`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressViewSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/getCalendarWeekSummary:
    post:
      summary: Weekly summary strip for the diary calendar
      description: "Returns one summary entry per ISO week intersecting `[from, to]`, used by\nthe right-hand \"week totals\"\
        \ strip in `/diary`. Backed by the legacy\n`Calendar.get.weekSummary` action in\n`static/13.318.0/javascript/views/diary/calendar.min.js`.\n\
        \n### Constraints (probed 2026-05-26)\n\n- Date format: **`D.M.YYYY`** strict (ISO 8601 rejected with\n  `content\
        \ of from (...) is not a valid date: Text '...' could not be\n  parsed at index 4`).\n- `to` must be ≥ `from` (reversed\
        \ → `400 from (...) date must be before\n  to (...) date`).\n- **`to - from ≤ 45 days`** (\"Maximum week aligned range\
        \ is 45,\n  requested N\" beyond that). Same-day and partial-week ranges are OK —\n  the \"week aligned\" label in\
        \ the error is misleading; the server does\n  not require Monday-aligned dates.\n\nReturns an array of week-summary\
        \ objects on success. Empty array (`[]`)\nwhen no sessions fall in the range — element shape on populated accounts\n\
        is TBD.\n"
      operationId: getCalendarWeekSummary
      tags:
      - calendar
      parameters:
      - $ref: '#/components/parameters/XRequestedWith'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from
              - to
              properties:
                from:
                  type: string
                  description: Inclusive start date, `D.M.YYYY`.
                  example: 24.5.2026
                to:
                  type: string
                  description: Inclusive end date, `D.M.YYYY`. Must satisfy `to - from ≤ 45 days`.
                  example: 30.5.2026
      responses:
        '200':
          description: 'One entry per ISO week touched by the range. Empty array when no

            sessions are recorded. # TODO: capture a populated week to learn

            the element shape (likely

            `{weekNumber, totalDuration, totalDistance, totalCalories, …}`).

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example: []
        '400':
          description: 'Range invalid (reversed, > 45 days) or date format not `D.M.YYYY`.

            Body is a plain-text Play error message — not JSON.

            '
          content:
            text/plain:
              schema:
                type: string
              examples:
                tooWide:
                  value: Maximum week aligned range is 45, requested 365
                reversed:
                  value: from (2026-05-30) date must be before to (2026-05-24) date
                badFormat:
                  value: 'content of from (2026-05-24) is not a valid date: Text ''2026-05-24'' could not be parsed at index
                    4'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: FLOW_SESSION
      description: 'RS256 JWT session token issued by auth.polar.com after a successful

        SSO login. This is the **only** load-bearing cookie — PLAY_SESSION_FLOW,

        AWSALB, AWSALBCORS, timezone, PLAY_LANG are all optional (probed

        2026-05-25). JWT TTL ≈ 1h; refresh by following the silent OAuth

        re-auth flow documented in docs/auth.md.

        '
  parameters:
    XRequestedWith:
      name: X-Requested-With
      in: header
      required: true
      schema:
        type: string
        enum:
        - XMLHttpRequest
        default: XMLHttpRequest
        example: XMLHttpRequest
      description: 'CSRF defense on /api/* write operations. Play''s CSRF filter is

        configured to whitelist requests carrying this header (browsers

        cannot set it on cross-origin form submissions). Without it: 403

        with an "Unauthorized" HTML body — easy to mistake for an auth

        failure. Must equal `XMLHttpRequest`.

        '
    TrainingTargetId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
        example: 1454046259
      description: Training target numeric ID (e.g. 1454046259), as returned in the create response body.
    TrainingSessionId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: Training session numeric ID (e.g. 8346808740)
      example: 8346808740
    FavoriteId:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: 'Numeric favorite id (the `favoriteId` field in

        `GET /api/favorites.targets[]`). Distinct from `exerciseTargetId`.

        '
      example: 81371573
  schemas:
    PhaseLeaf:
      type: object
      description: 'A leaf training phase (no nested phases). A single PhaseLeaf placed directly in `exerciseTargets[].phases`
        is the idiomatic way to model a **continuous steady block** (e.g. a 45-min Z2 run) — no REPEAT wrapper is needed (verified
        via probe-C-steady-hrz.json). For repeated intervals, wrap leaves in a PhaseRepeat instead.

        '
      required:
      - phaseType
      - name
      - phaseChangeType
      - goalType
      - intensityType
      properties:
        id:
          type: number
          readOnly: true
          description: 'Phase id assigned by the server; present on read responses (`GET /api/trainingtarget/{id}`). Send
            nothing on create.

            '
          example: 2912772577
          nullable: true
        phaseType:
          type: string
          enum:
          - PHASE
          description: Constant `"PHASE"` discriminator for leaf phases.
        name:
          type: string
          description: 'Free-text phase label shown per-phase in the workout breakdown

            (e.g. `Warm-up`, `Work`, `Recovery`, `Cool-down` — verified on a live

            named-phase target). Independent of `intensityType`: a `NONE`-intensity

            phase still carries its own name. Required when `intensityType` is not

            HEART_RATE_ZONES (submission fails with "Ce champ est obligatoire."

            otherwise). For HR-zone phases an empty string is accepted.

            '
          example: Work
        phaseChangeType:
          type: string
          enum:
          - AUTOMATIC
          - MANUAL
          description: '"AUTOMATIC" — next phase starts automatically when the goal is reached.

            "MANUAL" — wait for user input (verified via capture 10-phased-manual.json).

            '
        goalType:
          type: string
          enum:
          - DISTANCE
          - DURATION
          description: '**Authoritative discriminator** for the phase goal. A client MUST read `goalType` to decide whether
            the phase is distance- or duration-based — do NOT infer it from "which of `distance`/`duration` is non-null".
            On `GET /api/trainingtarget/{id}` a `goalType: DISTANCE` leaf reads back with BOTH `distance` AND a phantom `duration:
            "00:00:00"` set (see those fields), so the field-presence heuristic gives the wrong answer and is the root cause
            of round-trip update bugs (verified 2026-06-08, probe-E-roundtrip-update.json).

            '
        distance:
          type: number
          description: 'Phase distance in **metres** (not km). On **create** it is non-null iff `goalType: DISTANCE` (null
            otherwise). On **read-back** the asymmetry is: `goalType: DURATION` leaves OMIT this field entirely, while `goalType:
            DISTANCE` leaves carry it. Always trust `goalType`, not this field''s presence.

            '
          example: 5000
          nullable: true
        duration:
          type: string
          description: 'Phase duration as `"HH:MM:SS"` (strict — partial `MM:SS` is rejected by the UI validator). On **create**
            it is non-null iff `goalType: DURATION`. **Read-back asymmetry:** a `goalType: DISTANCE` leaf reads back with
            a phantom `duration: "00:00:00"` *in addition to* its real `distance` (verified 2026-06-08, probe-E-roundtrip-update.json)
            — so a phase can have both `distance` and a non-null `duration` on read. The server ignores this phantom value
            when the body is fed back into an update (`distance` is preserved), so the GET body round-trips safely; just never
            use it to infer the goal. A genuine zero `"00:00:00"` on a `goalType: DURATION` leaf is also accepted and preserved
            (probe-B-zero-duration.json).

            '
          example: 00:45:00
          nullable: true
        intensityType:
          type: string
          enum:
          - HEART_RATE_ZONES
          - SPEED_ZONES
          - POWER_ZONES
          - NONE
          description: 'Intensity metric for the phase. All four values verified from captures.

            Toggling off "Utiliser les zones d''entraînement" in the UI sets this to

            "NONE" and nulls both zones. POWER_ZONES requires a power-capable sport

            (e.g. CYCLING, sportId 2) — verified via capture 11-phased-power.json.

            '
        lowerZone:
          type: number
          minimum: 0
          maximum: 5
          description: 'Lower zone bound (1–5) when `intensityType != NONE`. **Send/read asymmetry:** the create payload nulls
            both zones for `NONE` phases, but the server reads them back as `0` (a "no zone" sentinel — verified on a live
            named-phase target), not null. Accept both `0` and `null`.

            '
          nullable: true
        upperZone:
          type: number
          minimum: 0
          maximum: 5
          description: 'Upper zone bound (1–5) when `intensityType != NONE`. Same send/read asymmetry as `lowerZone`: `NONE`
            phases read back as `0`, not null.

            '
          nullable: true
      example:
        phaseType: PHASE
        name: Z2 steady
        phaseChangeType: AUTOMATIC
        goalType: DURATION
        distance: null
        duration: 00:45:00
        intensityType: HEART_RATE_ZONES
        lowerZone: 2
        upperZone: 2
    PhaseRepeat:
      type: object
      description: 'A repeat-group phase that loops a nested list of PHASE leaves `repeatCount` times. Used for interval blocks
        (e.g. "4 × 3 min hard"). The UI labels it "+ Répéter les phases".


        **Recovery is optional.** A REPEAT may contain a single work phase with no trailing recovery leaf — the server accepts
        it (verified via probe probe-D-no-recovery.json: a `repeatCount:4` group with one work phase returned 201 and rolled
        its nested duration into the exerciseTarget''s top-level `duration`, 4 × `"00:03:00"` → `"00:12:00"`). To add recovery
        between reps, append a second PHASE leaf (typically `intensityType:"NONE"`) inside `phases`.


        **To model a single continuous block, do NOT use a REPEAT with `repeatCount:1`** — use a bare `PhaseLeaf` directly
        in `exerciseTargets[].phases` instead (see PhaseLeaf example). A `repeatCount:1` REPEAT is accepted but the server
        silently unwraps it into a plain PHASE leaf on read-back (verified via probe-A-repeatcount1.json).


        Nesting is supported by the schema but rejected by the UI beyond depth 1.

        '
      required:
      - phaseType
      - repeatCount
      - phases
      properties:
        phaseType:
          type: string
          enum:
          - REPEAT
          description: Constant `"REPEAT"` discriminator for repeat groups.
        repeatCount:
          type: integer
          minimum: 1
          description: 'Number of times the nested phases are repeated. The **wire API accepts 1** and normalizes a single-rep
            group to a bare PHASE on read-back (probe probe-A-repeatcount1.json). The **UI** enforces a minimum of 2 — but
            that is a client-only constraint, not a server rule. Use ≥ 2 for real intervals; for a single block prefer a bare
            PhaseLeaf (no REPEAT wrapper).

            '
          example: 4
        phases:
          type: array
          minItems: 1
          description: 'Nested PHASE leaves looped `repeatCount` times. One leaf = a recovery-less interval; two leaves (work
            + rest) = a classic interval with recovery.

            '
          items:
            $ref: '#/components/schemas/PhaseLeaf'
        id:
          type: number
          readOnly: true
          description: 'Phase id assigned by the server. Absent on REPEAT groups in observed read-backs (only the nested leaves
            carry ids); send nothing on create.

            '
          nullable: true
      example:
        phaseType: REPEAT
        repeatCount: 4
        phases:
        - phaseType: PHASE
          name: work
          phaseChangeType: AUTOMATIC
          goalType: DURATION
          distance: null
          duration: 00:03:00
          intensityType: HEART_RATE_ZONES
          lowerZone: 4
          upperZone: 5
        - phaseType: PHASE
          name: recovery
          phaseChangeType: AUTOMATIC
          goalType: DURATION
          distance: null
          duration: 00:02:00
          intensityType: NONE
          lowerZone: null
          upperZone: null
    Phase:
      oneOf:
      - $ref: '#/components/schemas/PhaseLeaf'
      - $ref: '#/components/schemas/PhaseRepeat'
      discriminator:
        propertyName: phaseType
        mapping:
          PHASE: '#/components/schemas/PhaseLeaf'
          REPEAT: '#/components/schemas/PhaseRepeat'
      description: 'A single phase within a PHASED training target''s exerciseTarget.phases array.

        Verified from captured POST bodies for HEART_RATE_ZONES, SPEED_ZONES, POWER_ZONES,

        and NONE intensity variants and for both `phaseChangeType` values (AUTOMATIC,

        MANUAL). Repeat groups carry `phaseType:"REPEAT"` (NOT "GROUP" — the JS bundle''s

        internal constant `k.$l.REPEAT` is the wire value) and wrap nested PHASE objects

        with a `repeatCount` integer.

        '
      example:
        phaseType: PHASE
        name: Z2 steady
        phaseChangeType: AUTOMATIC
        goalType: DURATION
        distance: null
        duration: 00:45:00
        intensityType: HEART_RATE_ZONES
        lowerZone: 2
        upperZone: 2
    ExerciseTarget:
      type: object
      description: A single exercise block within a training target
      required:
      - sportId
      - phases
      properties:
        index:
          type: integer
          readOnly: true
          description: 'Server-assigned 0-based ordering index. Present only on read responses

            (`GET /api/trainingtarget/{id}`). Do not send on create.

            '
          example: 0
        sportId:
          type: integer
          description: Polar sport identifier. 1 = Course à pied (running).
          example: 1
        duration:
          type: string
          description: 'Target duration in HH:MM:SS format. On **create**: null for PHASED targets (each phase carries its
            own). On **read-back**: for PHASED targets the server **rolls up** the phase durations into this field, so it
            is non-null even though you sent null. Send it back unchanged on update — the server recomputes it and ignores
            what you send.

            '
          example: 01:00:00
          nullable: true
        distance:
          type: number
          description: 'Target distance in **metres** (the UI shows km but the wire value is metres — UI 5 km → payload 5000).
            Null when not distance-based on **create**; for PHASED targets the server **rolls up** the phase distances into
            this field on **read-back** (same as `duration`).

            '
          example: 5000
          nullable: true
        calories:
          type: number
          description: Target calorie burn (kcal). Null when not calorie-based.
          nullable: true
        phases:
          type: array
          description: 'Structured phases (e.g. warm-up / main / cool-down). Empty `[]` for VOLUME /

            STEADY_RACE_PACE targets; populated for PHASED targets.

            '
          items:
            $ref: '#/components/schemas/Phase'
        id:
          type: number
          description: Populated by the server on create; send null when creating.
          nullable: true
    TrainingTargetCreate:
      type: object
      description: Payload to create a new training target
      required:
      - type
      - name
      - datetime
      - exerciseTargets
      properties:
        type:
          type: string
          enum:
          - VOLUME
          - STEADY_RACE_PACE
          - PHASED
          description: "Target category, drives which `exerciseTargets[i]` fields are populated.\n- \"VOLUME\" — single-metric\
            \ target. Exactly one of `duration` / `distance` /\n  `calories` is non-null; `phases` is `[]`.\n- \"STEADY_RACE_PACE\"\
            \ — time-trial. Both `duration` and `distance` are\n  populated; pace is implicit (UI lets user enter any 2 of\
            \ 3).\n- \"PHASED\" — multi-phase workout. `phases` is populated; volume fields\n  on the exerciseTarget are null\
            \ (each phase carries its own).\nAll three values verified from captured POST bodies (2026-05-25).\n"
        name:
          type: string
          description: Display name shown in the diary
        description:
          type: string
          description: Free-text notes. The create form sends an empty string when not provided, but the server stores and
            returns `null` on read-back — so this must be nullable to decode a target created without a description.
          default: ''
          nullable: true
        datetime:
          type: string
          description: 'Local date-time of the planned workout, ISO 8601 without timezone offset

            (e.g. "2026-05-24T10:00"). The server applies the user''s timezone setting.

            '
          example: 2026-05-24T10:00
        exerciseTargets:
          type: array
          description: 'One entry per exercise block. Most targets have exactly one;

[...]
